@page "/Demo/CustomerGroup"
@namespace Demo.Web.Pages
@inherits BasePage
@{
    base.BuildRenderTree(__builder);
}
<p>
    This is a simple CRUD that we described earlier. we use that for navigation.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="row ps-3  pe-3">
                <div class="col-md-5">
                    <div class="pt-5 ps-3 pe-3">
                        <span class="c-demo-description">In this example we create a link for navigation.</span>
                    </div>
                </div>
                <div class="col-md-7">
                    <CrudComponent UpsertData="upsertGroup">
                        <div class="row c-controls ">
                            <div class="col-md-4 ps-3">
                                <label>Title</label>
                            </div>
                            <div class="col-md-8 pe-3">
                                <StringTextBox @bind-Value="searchGroup.Title" />
                            </div>
                            <DataGrid TEntity="CustomerGroup" Search="searchGroup" ContentHeight="300">
                                <Columns>
                                    <GridColumn Field="t => t.Title" />
                                    <GridColumn Field="t => t.ActiveType.EnumText()" />
                                    <GridColumn Title="Customers" style="width:80px;">
                                        <Template>
                                            <IconButton Href='@($"/Demo/CustomerGroupAccessPage/{context.Data.Id}")' IconType="IconType.Wpforms" />
                                        </Template>
                                    </GridColumn>
                                    <GridCommandColumns />
                                </Columns>
                            </DataGrid>
                        </div>
                        <Window Title="Customer Group" Style="width:400px">
                            <Content>
                                <CaspianForm Model="upsertGroup">
                                    <div class="row c-controls ps-3 pe-3">
                                        <div class="col-md-3">
                                            <label>Title</label>
                                        </div>
                                        <div class="col-md-9">
                                            <StringTextBox @bind-Value="upsertGroup.Title" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Status</label>
                                        </div>
                                        <div class="col-md-9">
                                            <DropdownList @bind-Value="upsertGroup.ActiveType" />
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9">
                                            <FormCommandButton />
                                        </div>
                                    </div>
                                </CaspianForm>
                            </Content>
                        </Window>
                    </CrudComponent>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="Access" FileName="SimpleCrud" />
        </TabPanelItem>
    </Tabs>
</TabPanel>

@code 
{
    CustomerGroup upsertGroup = new CustomerGroup();
    CustomerGroup searchGroup = new CustomerGroup();

}
