@page "/Demo/CustomerGroup"
@namespace Demo.Web.Pages
@using Caspian.Common.RowNumber
@inherits SimplePage<CustomerGroup>
@{
    base.BuildRenderTree(__builder);
}
<div class="p-4">
    <div class="row c-controls ps-4  pe-4">
        <div class="col-md-2">
            <label>Title</label>
        </div>
        <div class="col-md-4">
            <StringTextBox @bind-Value="SearchData.Title" />
        </div>
        <div class="col-md-2 ps-5">
            <label>Status</label>
        </div>
        <div class="col-md-4">
            <DropdownList @bind-Value="UpsertData.ActiveType" />
        </div>
    </div>
    <DataGrid @ref="CrudGrid" TEntity="CustomerGroup" Search="SearchData" TableHeight="300">
        <Columns>
            <GridColumn Field="t => t.Title" />
            <GridColumn Field="t => t.ActiveType.EnumText()" />
            <GridColumn Title="Customers" style="width:80px;">
                <Template>
                    <IconButton Href='@($"/Demo/CustomerGroupAccessPage/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>
            <GridCommandColumns/>
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="Customer Group" Style="width:400px">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(CustomerGroupService)" />
                <div class="row c-controls ps-3 pe-3">
                    <div class="col-md-3"> 
                        <label>Title</label>
                    </div>
                    <div class="col-md-9">
                        <StringTextBox @bind-Value="UpsertData.Title" />
                    </div>
                    <div class="col-md-3">
                        <label>Status</label>
                    </div>
                    <div class="col-md-9">
                        <DropdownList @bind-Value="UpsertData.ActiveType" />
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <FormCommandButton />
                    </div>
                </div>
            </CaspianForm>
        </Content>
    </Window>
</div>
@code 
{

}
