@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        @if (context.User.Claims.First().Value == "admin")
        {
            <div class="page">
                <div class="sidebar">
                    <DataMenu />
                </div>

                <div class="content">
                    @Body
                </div>
            </div>
        }
        else
        {
            <h1 style="color:red">شما مجاز به ورود به این صفحه نیستید</h1>
        }
    </Authorized>
    <NotAuthorized>
        <h1 style="color:red">شما مجاز به ورود به این صفحه نیستید</h1>
    </NotAuthorized>
</AuthorizeView>