@namespace Caspian.UI
@typeparam TEntity
@{
    if (RowData == null)
        (DataView as IListViewer<TEntity>).AddDataField(Field.Body);
}
@if (RowData != null)
{
    if (Template == null)
    {
        if (RowData.UpsertMode.HasValue)
        {
            @EditTemplate
        }
        else
        {
            <span class="c-dataview-field" @attributes="Attributs">@Field.Compile().Invoke(RowData.Data)</span>
        }
    }
    else
    {
        var text = Field.Compile().Invoke(RowData.Data);
        @Template(text)
    }
}

