@namespace Caspian.Engine.WorkFlow
@inherits SimplePage<DataModel>
@{
    base.BuildRenderTree(__builder);
}
<div style="width:90%;margin:0 auto">
    <table style="width:100%">
        <tr>
            <td>
                <label>عنوان</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Title" />
            </td>
            <td>
                <label>نام</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Name" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="DataModel" TableHeight="400" ConditionExpr="t => t.WorkflowGroupId == GroupId">
        <Columns>
            <GridColumn Field="t => t.Title" />
            <GridColumn Field="t => t.Name" />
            <GridColumn Title="جزئیات" style="width:80px">
                <Template>
                    <IconButton Href='@($"/{SubSystem.ToString()}/WorkflowEngine/DataModelField/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>
            <GridCommandColumns/>
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="مدل داده ای" Style="width:500px" OnOpen="() => {UpsertData.WorkflowGroupId = GroupId;}">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(DataModelService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>نام</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Name" Style="direction:ltr" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>عنوان</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>شرح</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Description" MultiLine Rows="3" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>

            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{
    [Parameter]
    public int GroupId { get; set; }

    [Parameter]
    public SubSystemKind SubSystem { get; set; }
}

