@namespace Caspian.Engine.WorkFlow
@inherits SimplePage<Workflow>
@inject IJSRuntime runTime
@{
    base.BuildRenderTree(__builder);
}
<div class="p-4">
    <div class="row c-controls ps-4 pe-4">
        <div class="col-md-4">
            <label>عنوان</label>
        </div>
        <div class="col-md-8">
            <StringTextBox @bind-Value="SearchData.Title" />
        </div>
    </div>
    <DataGrid @ref="CrudGrid" TEntity="Workflow" TableHeight="300" ConditionExpr="t => t.WorkflowGroupId == GroupId">
        <Columns>
            <GridColumn Field="t => t.Title" />
            <GridColumn Field="t => t.DataModel.Title" Title="عنوان مدل داده ای" />
            <GridColumn Field="t => t.DataModel.Name" Title="نام مدل داده ای" />
            <GridColumn Title="ایجاد گردش" style="width:80px">
                <Template>
                    <a href="/Engine/WorkflowGenerator/@(context.Data.Id)" target="_blank">...</a>
                </Template>
            </GridColumn>
            <GridCommandColumns />
        </Columns>
    </DataGrid>
</div>

<Window @ref="UpsertWindow" Title="گردش کار" Style="width:500px">
    <Content>
        <CaspianForm @ref="UpsertForm" Model="UpsertData" OnSubmit="() => UpsertData.WorkflowGroupId = GroupId">
            <div class="row ps-4 pe-4 c-controls">
                <div class="col-md-4">
                    <label>مدل داده ای</label>
                </div>
                <div class="col-md-8">
                    <ComboBox TValue="int" TEntity="DataModel" @bind-Value="UpsertData.DataModelId"
                              TextExpression="t => t.Title" ConditionExpression="t => t.WorkflowGroupId == GroupId" />
                </div>
                <div class="col-md-4">
                    <label>عنوان</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="UpsertData.Title" />
                </div>
                <div class="col-md-4">
                    <label>شرح</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="UpsertData.Descript" MultiLine Rows="3" />
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <FormCommandButton />
                </div>
            </div>
        </CaspianForm>
    </Content>
</Window>


@code
{
    [Parameter]
    public int GroupId { get; set; }
}
