@page "/{Subsystem}/Engine/WorkflowGroup"
@namespace Caspian.Engine.WorkFlow
@inherits SimplePage<WorkflowGroup>
@{
    base.BuildRenderTree(__builder);
}
<div style="width:90%;margin:0 auto">
    <table style="width:100%">
        <tr>
            <td>
                <label>عنوان</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Title" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="WorkflowGroup" TableHeight="400" ConditionExpr="t => t.SubSystemKind == subSystemKind">
        <Columns>
            <GridColumn TEntity="WorkflowGroup" Field="t => t.Title" />
            <GridColumn TEntity="WorkflowGroup" Title="مدل داده ای" style="width:80px">
                <Template>
                    <IconButton Href='@($"/Engine/DataModel/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>
            <GridColumn TEntity="WorkflowGroup" Title="ایجاد فرم" style="width:80px">
                <Template>
                    <IconButton Href='@($"/Engine/WorkflowForm/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>
            <GridColumn TEntity="WorkflowGroup" Title="نسخه چاپی" style="width:80px">
                <Template>
                    <IconButton Href='@($"/Engine/WorkflowReport/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>
            <GridColumn TEntity="WorkflowGroup" Title="گردش کار" style="width:80px">
                <Template>
                    <IconButton Href='@($"/Engine/Workflow/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>

            <GridCommandColumns TEntity="WorkflowGroup" />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="گروه گردش کار" Style="width:500px" OnOpen="() => {UpsertData.SubSystemKind = subSystemKind;}">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(WorkflowGroupService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>عنوان</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>شرح</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Description" MultiLine Rows="3" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>

            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{
    SubSystemKind subSystemKind;

    [Parameter]
    public string Subsystem { get; set; }

    protected override void OnInitialized()
    {
        subSystemKind = (SubSystemKind)typeof(SubSystemKind).GetField(Subsystem).GetValue(null);
        base.OnInitialized();
    }
}

