@namespace Caspian.Engine.WorkFlow
@inherits SimplePage<Workflow>
@{
    base.BuildRenderTree(__builder);
}
@inject IJSRuntime runTime
<div style="width:90%;margin:0 auto">
    <table style="width:100%">
        <tr>
            <td>
                <label>عنوان</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Title" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="Workflow" TableHeight="400" ConditionExpr="t => t.WorkflowGroupId == GroupId">
        <Columns>
            <GridColumn TEntity="Workflow" Field="t => t.Title" />
            <GridColumn TEntity="Workflow" Field="t => t.DataModel.Title" Title="عنوان مدل داده ای" />
            <GridColumn TEntity="Workflow" Field="t => t.DataModel.Name" Title="نام مدل داده ای" />
            <GridColumn TEntity="Workflow" Title="ایجاد گردش" style="width:80px">
                <Template>
                    <a href="/Engine/WorkflowGenerator/@(context.Data.Id)" target="_blank">...</a>
                </Template>
            </GridColumn>
            <GridCommandColumns TEntity="Workflow" />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="گردش کار" Style="width:500px"
            OnOpen="() =>
        {
            UpsertData.WorkflowGroupId = GroupId;
        }">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(WorkflowService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>عنوان</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>شرح</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Descript" MultiLine Rows="3" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{
    [Parameter]
    public int GroupId { get; set; }
}
