@namespace Caspian.Engine.WorkFlow
@inherits SimplePage<WorkflowGroup>
@{
    base.BuildRenderTree(__builder);
}
<div class="p-4">
    <div class="row c-controls ps-4 pe-4">
        <div class="col-md-4">
            <label>Title</label>
        </div>
        <div class="col-md-8">
            <StringTextBox @bind-Value="SearchData.Title" />
        </div>
    </div>

    <DataGrid @ref="CrudGrid" TEntity="WorkflowGroup" ContentHeight="250" ConditionExpr="t => t.SubSystemKind == Subsystem">
        <Columns>
            <GridColumn Field="t => t.Title" />
            <GridColumn Title="Data model" style="width:90px">
                <Template>
                    <IconButton Href='@($"/{Subsystem.ToString()}/WorkflowEngine/DataModel/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>
            <GridColumn Title="Form" style="width:90px">
                <Template>
                    <IconButton Href='@($"/{Subsystem.ToString()}/WorkflowEngine/WorkflowForm/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>
            <GridColumn Title="Workflow" style="width:90px">
                <Template>
                    <IconButton Href='@($"/{Subsystem.ToString()}/WorkflowEngine/Workflow/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>
            <GridColumn Title="Print" style="width:90px">
                <Template>
                    <a href="@($"/Engine/WorkflowReport/{context.Data.Id}")" target="_blank">...</a>
                </Template>
            </GridColumn>
            <GridCommandColumns />
        </Columns>
    </DataGrid>

</div>

<Window @ref="UpsertWindow" Title="Workflow group" Style="width:500px" OnOpen="() => {UpsertData.SubSystemKind = Subsystem;}">
    <Content>
        <CaspianForm @ref="UpsertForm" Model="UpsertData">
            <div class="row c-controls ps-4 pe-4">
                <div class="col-md-4">
                    <label>Title</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="UpsertData.Title" />
                </div>
                <div class="col-md-4">
                    <label>Description</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="UpsertData.Description" MultiLine Rows="3" />
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <FormCommandButton />
                </div>
            </div>
        </CaspianForm>
    </Content>
</Window>

@code
{
    [Parameter]
    public SubSystemKind Subsystem { get; set; }
}

