<div style="margin:5px auto;width:350px">
    <CaspianForm Model="user">
        <table style="width:100%">
            <tr>
                <td>
                    <label>کلمه عبور قبلی</label>
                </td>
                <td>
                    <StringTextBox @bind-bind-Value="user.Password" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>کلمه عبور جدید</label>
                </td>
                <td>
                    <StringTextBox @bind-bind-Value="user.Password" />
                </td>
            </tr>
            <tr>
                <td>
                    <label></label>
                </td>
            </tr>
        </table>
    </CaspianForm>
</div>
@code 
{
    User user;
    string oldpassword;
    string confirmPassword;

    protected override void OnInitialized()
    {
        user = new User();
        base.OnInitialized();
    }

}
