@namespace Caspian.Engine.UserManagement
@inherits BasePage
@inject SimpleService<Role> Service
@{
    base.BuildRenderTree(__builder);
}
<div class="row c-controls">
    <div class="col-md-4">
        <label>Title</label>
    </div>
    <div class="col-md-8">
        <StringTextBox @bind-Value="Service.Search.Name" />
    </div>
</div>
<DataGrid TEntity="Role" Service="Service" ContentHeight="400">
    <Columns>
        <GridColumn Field="t => t.Name" />
        <GridColumn Title="Members" style="width:80px">
            <Template>
                <IconButton Href='@($"/{SubSystemKind.ToString()}/UserManagement/UserMembership/{context.Data.Id}")' IconType="IconType.Wpforms" />
            </Template>
        </GridColumn>
        <GridColumn Title="Menus" style="width:80px">
            <Template>
                <IconButton Href='@($"/{SubSystemKind.ToString()}/UserManagement/RoleAccess/{context.Data.Id}")' IconType="IconType.Wpforms" />
            </Template>
        </GridColumn>
        <GridColumn Title="Menus-Tree" style="width:90px">
            <Template>
                <IconButton Href='@($"/{SubSystemKind.ToString()}/UserManagement/RoleAccessTree/{context.Data.Id}")' IconType="IconType.Wpforms" />
            </Template>
        </GridColumn>
        <GridCommandColumns />
    </Columns>
</DataGrid>
<Window Service="Service" Title="Role properties" Style="width:400px">
    <Content>
        <CaspianForm Service="Service">
            <div class="row c-controls ps-2 pe-2">
                <div class="col-md-3">
                    <label>Name</label>
                </div>
                <div class="col-md-9">
                    <StringTextBox @bind-Value="Service.UpsertData.Name" />
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <FormCommandButton />
                </div>
            </div>
        </CaspianForm>
    </Content>
</Window>

@code
{
    protected override void OnParametersSet()
    {
        if (SubSystemKind == null)
            throw new CaspianException("Error: SubSystemKind must initialized");
        base.OnParametersSet();
    }

    [Parameter]
    public SubSystemKind? SubSystemKind { get; set; }
}
