@namespace Caspian.Engine.UserManagement
@inherits AccessPage<Role, MenuAccessibility, Menu>
@{
    base.BuildRenderTree(__builder);
}
<div style="width:95%;margin:10px auto 0 auto">
    <table style="width:100%">
        <tr>
            <td>
                <fieldset class="c-search-container">
                    <legend>پارامترهای جستجو</legend>
                </fieldset>
                <table style="width:100%">
                    <tr>
                        <td>
                            <label>منوی اصلی</label>
                        </td>
                        <td>
                            <ComboBox TValue="int?" TEntity="MenuCategory" @bind-Value="MemberSearch.MenuCategoryId" ConditionExpression="t => t.SubSystemKind == SubSystem" TextExpression="t => t.Title" OnChange="() => MemberGrid.EnableLoading()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>منوی فرعی</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="MemberSearch.Title" Style="direction:ltr" OnChange="() => MemberGrid.EnableLoading()" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; color: #4f9995;font-weight:bold" colspan="2">
                            <label>منوهایی که نقش به آنها دسترسی ندارد</label>
                        </td>
                    </tr>
                </table>
                <DataGrid @ref="MemberGrid" TEntity="Menu" HideInsertIcon Search="MemberSearch" ConditionExpr="t => t.SubSystemKind == SubSystem" TableHeight="330">
                    <Columns>
                        <GridColumn Field="@(t => t.MenuCategory.Title)" Title="منوی فرعی" />
                        <GridColumn Field="t => t.Title" style="width:150px" />
                    </Columns>
                </DataGrid>
            </td>
            <td style="width:85px;text-align:center">
                <CaspianForm @ref="UpsertForm" Model="UpsertData">
                    <CaspianValidationValidator ValidatorType="typeof(MenuAccessibilityService)" />
                    <div style="padding-top:100px;">
                        <div style="padding-bottom:15px">
                            <IconButton IconType="IconType.AngleLeft" />
                        </div>
                        <IconButton type="button"
                                    @onclick="async () =>
                                              {
                                                  BlockUI();
                                                  await base.DeleteAsync();
                                                  UnblockUI();
                                              }" IconType="IconType.AngleLeft" />
                    </div>
                </CaspianForm>
            </td>
            <td>
                <fieldset class="c-search-container">
                    <legend>پارامترهای جستجو</legend>
                    <table style="width:100%">
                        <tr>
                            <td>
                                <label>منوی اصلی</label>
                            </td>
                            <td>
                                <ComboBox TValue="int?" TEntity="MenuCategory" @bind-Value="SearchData.Menu.MenuCategoryId" ConditionExpression="t => t.SubSystemKind == SubSystem" TextExpression="t => t.Title" OnChange="() => { MemberGrid.EnableLoading(); }" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>منوی فرعی</label>
                            </td>
                            <td>
                                <StringTextBox @bind-Value="SearchData.Menu.Title" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; color: #4f9995;font-weight:bold" colspan="2">
                                <label>منوهایی که نقش به آنها دسترسی دارد</label>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <DataGrid @ref="CrudGrid" TEntity="MenuAccessibility" HideInsertIcon ConditionExpr="t => t.Menu.MenuCategory.SubSystemKind == SubSystem" Search="SearchData" TableHeight="330">
                    <Columns>
                        <GridColumn Field="t => t.Menu.MenuCategory.Title" Title="منوی فرعی" />
                        <GridColumn Field="t => t.Menu.Title" />
                        <GridCommandColumns HideEdit />
                    </Columns>
                </DataGrid>
            </td>
        </tr>
    </table>
</div>

@code
{
    [Parameter]
    public SubSystemKind SubSystem { get; set; }
}
