@namespace Caspian.Engine.UserManagement
@inherits SimplePage<Role>
@{
    base.BuildRenderTree(__builder);
}
<div class="row c-controls">
    <div class="col-md-4">
        <label>Title</label>
    </div>
    <div class="col-md-8">
        <StringTextBox @bind-Value="SearchData.Title" />
    </div>
</div>
<DataGrid @ref="CrudGrid" TEntity="Role" ContentHeight="400">
    <Columns>
        <GridColumn Field="t => t.Title" />
        <GridColumn Title="Members" style="width:80px">
            <Template>
                <IconButton Href='@($"/{SubSystemKind.ToString()}/UserManagement/UserMembership/{context.Data.Id}")' IconType="IconType.Wpforms" />
            </Template>
        </GridColumn>
        <GridColumn Title="Menus" style="width:80px">
            <Template>
                <IconButton Href='@($"/{SubSystemKind.ToString()}/UserManagement/RoleAccess/{context.Data.Id}")' IconType="IconType.Wpforms" />
            </Template>
        </GridColumn>
        <GridColumn Title="Menus-Tree" style="width:90px">
            <Template>
                <IconButton Href='@($"/{SubSystemKind.ToString()}/UserManagement/RoleAccessTree/{context.Data.Id}")' IconType="IconType.Wpforms" />
            </Template>
        </GridColumn>
        <GridCommandColumns />
    </Columns>
</DataGrid>
<Window @ref="UpsertWindow" Title="Role properties" Style="width:400px">
    <Content>
        <CaspianForm @ref="UpsertForm" Model="UpsertData">
            <div class="row c-controls ps-2 pe-2">
                <div class="col-md-3">
                    <label>Title</label>
                </div>
                <div class="col-md-9">
                    <StringTextBox @bind-Value="UpsertData.Title" />
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <FormCommandButton />
                </div>
            </div>
        </CaspianForm>
    </Content>
</Window>

@code
{
    protected override void OnParametersSet()
    {
        if (SubSystemKind == null)
            throw new CaspianException("Error: SubSystemKind must initialized");
        base.OnParametersSet();
    }

    [Parameter]
    public SubSystemKind? SubSystemKind { get; set; }
}
