@namespace Caspian.Engine.UserManagement
@inherits AccessPage<Role, UserMembership, User>
@{
    base.BuildRenderTree(__builder);
}
<div class="row">
    <div class="col-md-5">
        <div class="row c-controls">
            <div class="col-md-4">
                <label>Last name</label>
            </div>
            <div class="col-md-8">
                <StringTextBox @bind-Value="MemberSearch.LName" Search OnChange="() => MemberGrid.EnableLoading()" />
            </div>
            <div class="col-md-4">
                <label>Username</label>
            </div>
            <div class="col-md-8">
                <StringTextBox @bind-Value="MemberSearch.UserName" />
            </div>
            <div class="col-md-12 text-center">
                <hr />
                <span class="d-membership">Other users</span>
            </div>
        </div>
        <DataGrid @ref="MemberGrid" TEntity="User" HideInsertIcon Search="MemberSearch" TableHeight="335">
            <Columns>
                <GridColumn Field="@(t => t.FName + " " + t.LName )" Title="User" />
                <GridColumn Field="t => t.UserName" style="width:100px" />
                <GridColumn Field="t => t.MobileNumber" style="width:100px" />
            </Columns>
        </DataGrid>
    </div>
    <div class="col-md-1">
        <div class="row align-content-center h-100">
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <div class="d-btn-container">
                    <IconButton IconType="IconType.AngleRight" />
                    <div>
                        <IconButton type="button" @onclick="async () => await base.DeleteAsync()"
                                    IconType="IconType.AngleLeft" />
                    </div>
                </div>
            </CaspianForm>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row c-controls">
            <div class="col-md-4">
                <label>Last name</label>
            </div>
            <div class="col-md-8">
                <StringTextBox @bind-Value="SearchData.User.LName" Search OnChange="() => CrudGrid.EnableLoading()" />
            </div>
            <div class="col-md-4">
                <label>Username</label>
            </div>
            <div class="col-md-8">
                <StringTextBox @bind-Value="SearchData.User.UserName" />
            </div>
            <div class="col-md-12 text-center">
                <hr />
                <span class="d-membership">Member users</span>
            </div>
        </div>

        <DataGrid @ref="CrudGrid" TEntity="UserMembership" HideInsertIcon Search="SearchData" TableHeight="335">
            <Columns>
                <GridColumn Field="@(t => t.User.FName + " " + t.User.LName)" Title="User" />
                <GridColumn Field="t => t.User.UserName" style="width:100px" />
                <GridColumn Field="t => t.User.MobileNumber" style="width:100px" />
                <GridCommandColumns HideEdit />
            </Columns>
        </DataGrid>
    </div>

</div>

@code
{

}
