@namespace Caspian.Engine.UserManagement
@inherits SimplePage<User>
@{
    base.BuildRenderTree(__builder);
}

<div style="width:90%;margin:0 auto">
    <table style="width:100%">
        <tr>
            <td>
                <label>نام خانوادگی</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.LName" />
            </td>
            <td>
                <label>نام کاربری</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.UserName" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="User" TableHeight="400" >
        <Columns>
            <GridColumn Field="t => t.FName" />
            <GridColumn Field="t => t.LName" />
            <GridColumn Field="t => t.UserName" />
            <GridColumn Field="t => t.Email" />
            <GridColumn Field="t => t.MobileNumber" />
            <GridColumn Title="منوها" style="width:80px">
                <Template>
                    <IconButton Href='@($"/{SubSystemKind.ToString()}/UserManagement/UserAccess/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>
            <GridColumn Title="منوها-درخت" style="width:80px">
                <Template>
                    <IconButton Href='@($"/{SubSystemKind.ToString()}/UserManagement/UserAccessTree/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>
            <GridCommandColumns />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="مشخصات کاربر" Style="width:500px">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData" OnSubmit="SetPasswordForUpdate" OnValidSubmit="CheckConfirmPassword">
                <CaspianValidationValidator ValidatorType="typeof(UserService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>نام</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.FName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>نام خانوادگی</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.LName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>نام کاربری</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.UserName" Style="direction:ltr" Disabled="UpsertData.Id > 0" />
                        </td>
                    </tr>
                    @if (UpsertData.Id == 0)
                    {
                        <tr>
                            <td>
                                <label>کلمه عبور</label>
                            </td>
                            <td>
                                <StringTextBox @bind-Value="UpsertData.Password" type="password" Style="direction:ltr" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>تکرار کلمه عبور</label>
                            </td>
                            <td>
                                <StringTextBox @bind-Value="confirmPassword" type="password" Style="direction:ltr" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <label>پست الکترونیکی</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Email" Style="direction:ltr"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>شماره همراه</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.MobileNumber" Style="direction:ltr"/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>

            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{
    string confirmPassword;

    protected override void OnParametersSet()
    {
        if (SubSystemKind == null)
            throw new CaspianException("خطا: SubSystemKind must initialized");
        base.OnParametersSet();
    }

    async Task SetPasswordForUpdate(EditContext context)
    {
        if (UpsertData.Id > 0)
        {
            var scope = CreateScope();
            var old = await new UserService(scope.ServiceProvider).SingleAsync(UpsertData.Id);
            UpsertData.UserName = old.UserName;
            ///In update password should be and in service not changed
            UpsertData.Password = null;
        }
    }

    Task<bool> CheckConfirmPassword(EditContext context)
    {
        if (confirmPassword != UpsertData.Password)
        {
            ShowMessage("کلمه ی عبور و تکرار آن یکسان نیستند");
            StateHasChanged();
            return Task.FromResult(false);
        }
        return Task.FromResult(true);
    }

    [Parameter]
    public SubSystemKind? SubSystemKind { get; set; }
}
