@namespace Caspian.Engine.UserManagement
@inherits AccessPage<User, MenuAccessibility, Menu>
@{
    base.BuildRenderTree(__builder);
}
<div class="row">
    <div class="col-md-5">
        <div class="row c-controls">
            <div class="col-md-4">
                <label>Menu category</label>
            </div>
            <div class="col-md-8">
                <ComboBox TValue="int?" TEntity="MenuCategory" @bind-Value="MemberSearch.MenuCategoryId"
                          TextExpression="t => t.Title" OnChange="() => MemberGrid.EnableLoading()"
                          ConditionExpression="t => t.SubSystemKind == SubSystem" />
            </div>
            <div class="col-md-4">
                <label>Menu</label>
            </div>
            <div class="col-md-8">
                <StringTextBox @bind-Value="MemberSearch.Title" OnChange="() => MemberGrid.EnableLoading()" />
            </div>
            <div class="col-md-12 text-center">
                <hr />
                <span class="d-membership">Inaccessible menus</span>
            </div>
        </div>
        <DataGrid @ref="MemberGrid" TEntity="Menu" HideInsertIcon ConditionExpr="t => t.SubSystemKind == SubSystem" Search="MemberSearch" TableHeight="330">
            <Columns>
                <GridColumn Field="@(t => t.MenuCategory.Title)" Title="Menu category" />
                <GridColumn Field="t => t.Title" style="width:150px" />
            </Columns>
        </DataGrid>
    </div>
    <div class="col-md-1">
        <div class="row align-content-center h-100">
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <div class="d-btn-container">
                    <IconButton IconType="IconType.AngleRight" />
                    <div>
                        <IconButton type="button" @onclick="async () => await base.DeleteAsync()"
                                    IconType="IconType.AngleLeft" />
                    </div>
                </div>
            </CaspianForm>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row c-controls">
            <div class="col-md-4">
                <label>Menu category</label>
            </div>
            <div class="col-md-8">
                <ComboBox TValue="int?" TEntity="MenuCategory" @bind-Value="SearchData.Menu.MenuCategoryId"
                          ConditionExpression="t => t.SubSystemKind == SubSystem" TextExpression="t => t.Title"
                          OnChange="() => MemberGrid.EnableLoading()" />
            </div>
            <div class="col-md-4">
                <label>Menu</label>
            </div>
            <div class="col-md-8">
                <StringTextBox @bind-Value="SearchData.Menu.Title" />
            </div>
            <div class="col-md-12 text-center">
                <hr />
                <span class="d-membership">Accessible menus</span>
            </div>
        </div>
        <DataGrid @ref="CrudGrid" TEntity="MenuAccessibility" HideInsertIcon ConditionExpr="t => t.Menu.MenuCategory.SubSystemKind == SubSystem" Search="SearchData" TableHeight="330">
            <Columns>
                <GridColumn Field="t => t.Menu.MenuCategory.Title" Title="Menu" />
                <GridColumn Field="t => t.Menu.Title" />
                <GridCommandColumns HideEdit />
            </Columns>
        </DataGrid>
    </div>
</div>

@code
{
    [Parameter]
    public SubSystemKind SubSystem { get; set; }
}
