@typeparam TValue
@inherits LookupWindow<Major, TValue>
@namespace Employment.Web.Pages
<div class="c-lookup-page" style="width:380px;">
    @if (Searchable)
    {
        <div style="padding:0 50px 5px 50px;">
            <StringTextBox @bind-Value="SearchData.Title" placeholder="Title" />
        </div>
    }
    <DataGrid @ref="Grid" TEntity="Major" Search="SearchData" TableHeight="200" HidePageSize>
        <Columns>
            <GridColumn Field="t => t.EducationDegree.BaseStudy.EnumText()" Title="پایه تحصیلی" />
            <GridColumn Field="t => t.EducationDegree.Title" Title="مدرک تحصیلی" />
            <GridColumn Field="t => t.Title" />
        </Columns>
    </DataGrid>
</div>

@code
{
    protected override void OnInitialized()
    {
        InitialSearchExpression(t => LookupStringSearchValue == null || t.Title.Contains(LookupStringSearchValue));
        base.OnInitialized();
    }

    [Parameter]
    public bool Searchable{ get; set; }
}
