@page "/Employment/EmploymentOrderType"
@namespace Demo.Web.Pages
@inherits SimplePage<EmploymentOrderType>
@{
    base.BuildRenderTree(__builder);
   
}
<div style="width:90%;margin:5px auto">
    <table style="width:100%">
        <tr>
            <td>
                <label>عنوان</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Title" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="EmploymentOrderType" Search="SearchData" TableHeight="200">
        <Columns Context="con">
            <GridColumn TEntity="EmploymentOrderType" Field="t => t.Title" />
            <GridCommandColumns TEntity="EmploymentOrderType" />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="حکم غیرهیات علمی" Style="width:450px">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(EmploymentOrderTypeService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>عنوان</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>شرح</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Description" MultiLine Rows="8" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>
