@page "/Employment"
@inherits SimplePage<Province>
@{
    base.BuildRenderTree(__builder);
}
<div style="border:1px solid red;width:350px;margin:10px auto ">
    <AutoComplete TValue="int" TEntity="Major" />
</div>

@code 
{
    DateTime? date;
    
}