@page "/Employment"
<div style="max-width:300px;margin:50px auto">
    <AutoCompleteTree @bind-Value="value">
        <OrganUnitLookupTree />
    </AutoCompleteTree>
</div>
@code 
{
    int[] value;
}