@page "/Employment"
@inherits BasePage

@{
    base.BuildRenderTree(__builder);
}
<textarea id="id1" name="name1">@value</textarea>
<button @onclick="chamge">Click</button>
<span>@value</span>
@code
{
    string value = "";
    void chamge()
    {
        value += "dasda";
    }

}

