#toolsBox span {
    width: 35px;
    height: 34px;
    display: block;
    margin: 3px 0 3px 0;
    background-image: url('/Content/WorkFlowEngin/Images/WorkflowIcons.png')
}
.workflowzoom
{
    background-position:-45px 0;
}
.zoomfit
{
    background-position:-90px 0;
}
.zoomback
{
    background-position:-134px 0;
}
.dynamicform
{
    background-position:-179px 0;
}