.d-main{
    background-color:white;
    height:calc(100% - 10px);
    display:flex;
}
.d-item {
    border-bottom:1px solid gray;
    height:40px;
    line-height:40px;
    padding-right:3px;
    cursor:pointer;
}
    .d-item.d-selected {
        background-color: #9bbcbc;
    }


    .d-menu {
        width: 150px;
        border: 1px solid gray;
        height: 100%;
        text-align:center;
    }
.d-body{
    width:calc(100% - 150px);
    border:1px solid gray;
    height:100%;
    padding:10px 25px;
    border-left:none;
}
.d-title-head {
    width: 60%;
    border: 1px solid gray;
    margin: 0 auto;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 8px;
    background-color: #22378b;
    color:white;
    font-weight:bold;
}