@namespace Caspian.UI
@typeparam TEntity

<div class="t-toolbar t-grid-toolbar t-grid-top">
    @if (!HideInsertIcon)
    {
        <span @onclick="OpenAddForm" class="t-grid-add" href="javascript:void(0)">
            <span class="t-icon fa fa-plus"></span>
        </span>
    }
</div>

