@page "/Demo/Batch/AutoHide/Master"
@using Caspian.Common.Extension
@inject BatchService<WarehouseReceipt, ReceiptDetail> Service
@inject NavigationManager navigationManager
@inherits BasePage
@{
    base.BuildRenderTree(__builder);
}
@namespace Demo.Web.Pages
<h2>Batch operation</h2>
<h3>Batch-Autohide</h3>
<p>
    Here is another example of <b>Master-Details</b>, as before <b>Master upsert</b> and <b>Details upsert and remove</b> are done <b>together</b>. 
    also we can <b>upsert</b> and <b>remove</b> multiple <b>details</b>.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="row pb-3">
                <div class="col-md-6 p-3 pt-5">
                    <h4>Warehouse invoice</h4>
                    <span class="c-demo-description">
                        In this example, we set <b>OnUpsert</b> parameter to redirect to a new page. All operations on the <b>Master</b> and <b>details</b> are done on this page.
                    </span>
                </div>
                <div class="col-md-6 pe-3 row d-control">
                    <div class="p-3 col-md-6">
                        <CheckBox @bind-Value="onlyThisDay" Title="Only show today orders " OnChange="() => Service.DataView.EnableLoading()" />
                    </div>
                    <div class="p-3 col-md-6">
                        <RadioList @bind-Value="useListView">
                            <RadioItems>
                                <RadioItem Title="Grid" Value="false" />
                                <RadioItem Title="List View" Value="true" />
                            </RadioItems>
                        </RadioList>
                    </div>
                    <DataGrid Service="Service" DeleteMessage="Do you want recipet and details" TEntity="WarehouseReceipt" OnUpsert="t => UpsertOrder(t)" ContentHeight="300"
                            ConditionExpr="t => !onlyThisDay || t.Date == date" OnDataBinding="t => t.OrderByDescending(u => u.Id)">
                        <Columns>
                            <GridColumn Field="t => t.Date.ToPersianDateString()" Title="Order date" />
                            <GridColumn Field="t => t.Warehouse.Title" Title="Warehouse" />
                            <GridCommandColumns />
                        </Columns>
                    </DataGrid>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Razor">
            <Document FolderName="Batch" FileName="Batch-Autohide" />
        </TabPanelItem>
    </Tabs>
</TabPanel>
@code
{
    bool onlyThisDay = true;
    DateTime date = DateTime.Now.Date;
    bool useListView;

    void UpsertOrder(WarehouseReceipt receipt)
    {
        string url = "Demo/Batch/AutoHide/" + (useListView ? "Listview" : "Grid") + $"/Details";
        if (receipt.Id > 0)
            url += $"/{receipt.Id}";
        navigationManager.NavigateTo(url);
    }
}
