@page "/Demo/CustomerAndCustomerGroup"
@namespace Demo.Web.Pages
@inject BatchService<Customer, CustomerGroupMembership> Service
@inherits BasePage
@{
    base.BuildRenderTree(__builder);
}

<h2>Custom Master-details</h2>
<p>
    In this example, we can Upsert and delete the customer and its groups.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="p-3 pt-4 ">
                <span class="c-demo-description">
                    In this example we do the following together:
                </span>
                <ul class="d-demo-inner-list">
                    <li>
                        <b>Insert customer & Groups: </b> We can insert a customer (Master) and many groups (Details) together (maybe only insert customer withoth any groups).
                    </li>
                    <li>
                        <b>Update customer & add or remove Groups : </b> We can update customer (Master) and add or remove groups(details) together.
                    </li>
                    <li>
                        <b>Delete customer :</b> To delete a customer, we must first removes customer groups.
                    </li>
                </ul>
                <DataGrid TEntity="Customer" Service="Service" Search="search" ContentHeight="400">
                    <Columns>
                        <GridColumn Field="t => t.CustomerType" />
                        <GridColumn Field='t => t.CustomerType == CustomerType.Real ? t.FName + " " + t.LName : t.CompanyName' Title="Name" />
                        <GridColumn Field="t => t.MobileNumber.CallFormat(' ')" />
                        <GridCommandColumns />
                    </Columns>
                </DataGrid>
                <Window Service="Service" Title="Customer & Groups" Style="width:450px;">
                    <CaspianForm Service="Service">
                        <CaspianValidationValidator ValidatorType="typeof(CustomerService)" />
                        <TabPanel>
                            <Tabs>
                                <TabPanelItem Title="Customer">
                                    <div class="row p-4 pt-2 pb-2 c-controls" style="height:260px;align-content:flex-start">
                                        <div class="col-md-4">
                                            <label>Customer Type</label>
                                        </div>
                                        <div class="col-md-8">
                                            <DropdownList @bind-Value="Service.UpsertData.CustomerType" />
                                        </div>
                                        @if (Service.UpsertData.CustomerType == CustomerType.Real)
                                        {
                                            <div class="col-md-4">
                                                <label>First Name</label>
                                            </div>
                                            <div class="col-md-8">
                                                <StringTextBox @bind-Value="Service.UpsertData.FName" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Last Name</label>
                                            </div>
                                            <div class="col-md-8">
                                                <StringTextBox @bind-Value="Service.UpsertData.LName" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Gender</label>
                                            </div>
                                            <div class="col-md-8">
                                                <DropdownList @bind-Value="Service.UpsertData.Gender" />
                                            </div>
                                        }
                                        else if (Service.UpsertData.CustomerType == CustomerType.Legal)
                                        {
                                            <div class="col-md-4">
                                                <label>Company Name</label>
                                            </div>
                                            <div class="col-md-8">
                                                <StringTextBox @bind-Value="Service.UpsertData.CompanyName"  />
                                            </div>
                                        }
                                        <div class="col-md-4">
                                            <label>Mobile Number</label>
                                        </div>
                                        <div class="col-md-8">
                                            <StringTextBox @bind-Value="Service.UpsertData.MobileNumber" MaxLength="11" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Tel</label>
                                        </div>
                                        <div class="col-md-8">
                                            <StringTextBox @bind-Value="Service.UpsertData.Tel" MaxLength="11" />
                                        </div>
                                    </div>

                                </TabPanelItem>
                                <TabPanelItem Title="Groups">
                                    <div class="ps-4 pe-4 pt-2 pb-2" style="height:260px">
                                        <CheckboxList TEntity="CustomerGroup" TDetails="CustomerGroupMembership" Service="Service"
                                             TextExpression="t => t.Title" Style="height:220px;" /> 
                                    </div>
                                </TabPanelItem>
                            </Tabs>
                        </TabPanel>
                        <div class="pt-4 pt-0 pb-2">
                            <FormCommandButton />
                        </div>
                    </CaspianForm>
                </Window>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="Batch" FileName="Customer&Groups" />
        </TabPanelItem>
    </Tabs>
</TabPanel>


@code
{
    Customer search = new Customer();
}
