@namespace Demo.Web.Pages
@inject BatchService<Customer, CustomerAddress> Service
<TabPanel>
    <Tabs>
        <TabPanelItem Title="Customer">
            <CaspianForm Service="Service">
                <CaspianValidationValidator ValidatorType="typeof(CustomerAndAddressService)" />
                <div class="row p-4 c-controls">
                    <div class="col-md-4">
                        <label>Customer Type</label>
                    </div>
                    <div class="col-md-8">
                        <DropdownList @bind-Value="Service.UpsertData.CustomerType" />
                    </div>
                    <div class="col-md-4">
                        <label>First Name</label>
                    </div>
                    <div class="col-md-8">
                        <StringTextBox @bind-Value="Service.UpsertData.FName"
                                       Disabled="Service.UpsertData.CustomerType == CustomerType.Legal" />
                    </div>
                    <div class="col-md-4">
                        <label>Last Name</label>
                    </div>
                    <div class="col-md-8">
                        <StringTextBox @bind-Value="Service.UpsertData.LName"
                                       Disabled="Service.UpsertData.CustomerType == CustomerType.Legal" />
                    </div>
                    <div class="col-md-4">
                        <label>Gender</label>
                    </div>
                    <div class="col-md-8">
                        <DropdownList @bind-Value="Service.UpsertData.Gender"
                                      Disabled="Service.UpsertData.CustomerType == CustomerType.Legal" />
                    </div>
                    <div class="col-md-4">
                        <label>Company Name</label>
                    </div>
                    <div class="col-md-8">
                        <StringTextBox @bind-Value="Service.UpsertData.CompanyName"
                                       Disabled="Service.UpsertData.CustomerType == CustomerType.Real" />
                    </div>
                    <div class="col-md-4">
                        <label>Mobile Number</label>
                    </div>
                    <div class="col-md-8">
                        <StringTextBox @bind-Value="Service.UpsertData.MobileNumber" MaxLength="11" />
                    </div>
                    <div class="col-md-4">
                        <label>Tel</label>
                    </div>
                    <div class="col-md-8">
                        <StringTextBox @bind-Value="Service.UpsertData.Tel" MaxLength="11" />
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <FormCommandButton />
                    </div>
                </div>
            </CaspianForm>
        </TabPanelItem>
        <TabPanelItem Title="Addresses">
            <div class="p-2">
                <DataGrid TEntity="CustomerAddress" DetailBatchService="Service" ContentHeight="300" Inline >
                    <Columns Context="con">
                        <GridColumn style="width:220px;" Field="t => t.AddressType.Title" Title="Address Type">
                            <EditTemplate>
                                <ComboBox TValue="int" TEntity="AddressType" @bind-Value="con.Data.AddressTypeId" TextExpression="t => t.Title" />
                            </EditTemplate>
                        </GridColumn>
                        <GridColumn Field="t => t.Address" Title="Address">
                            <EditTemplate>
                                <StringTextBox MultiLine Rows="2" @bind-Value="con.Data.Address" />
                            </EditTemplate>
                        </GridColumn>
                        <GridColumn Field="t => t.ZipCode" Title="Zipcode" style="width:120px">
                            <EditTemplate>
                                <StringTextBox @bind-Value="con.Data.ZipCode" />
                            </EditTemplate>
                        </GridColumn>
                        <GridCommandColumns />
                    </Columns>
                </DataGrid>
            </div>
        </TabPanelItem>
    </Tabs>
</TabPanel>

@code 
{

}
