@page "/Demo/Batch/Inline/Master"
@using Caspian.Common.Extension
@inject NavigationManager navigationManager
@inherits BasePage
@namespace Demo.Web.Pages
<h2>Batch operation</h2>
<p>
    In batch operation we have <b>master-detail</b> entity, and want to <b>insert or update</b> master, <b>and insert, update, delete many details</b>.
    <br />
    For example in <b>order CRUD operation</b> we insert <b>a order</b> with many <b>orderdetils</b> or update <b>order</b> with insert, update, delete many <b>orderdetils.</b>
</p>
<p>
    In batch operations, we usually perform the upsert operation on a new form, so we use the OnUpsert parameter to navigate to that form.
</p>
<h3>Batch-Inline</h3>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="row pb-3">
                <div class="col-md-4 p-3 pt-5">
                    <h4>Order</h4>
                    <span class="c-demo-description">
                        In this example, we set <b>OnUpsert</b> parameter to redirect to a new page. All operations on the <b>Order</b> and <b>Orderdetails</b> are done on that page.
                    </span>
                </div>
                <div class="col-md-8 pe-3 row d-control">
                    <div class="p-3 col-md-5">
                        <CheckBox @bind-Value="onlyThisDay" Title="Only show today orders " OnChange="() => Grid.EnableLoading()" />
                    </div>
                    <div class="col-md-3 pt-2">
                    </div>
                    <div class="col-md-4 pe-3 pt-2">
                        <RadioList @bind-Value="useListView">
                            <RadioItem Value="false" Title="Grid" />
                            <RadioItem Value="true" Title="Listview" />
                        </RadioList>
                    </div>
                    <DataGrid @ref="Grid" TEntity="Order" OnUpsert="t => UpsertOrder(t)" ContentHeight="300"
                            ConditionExpr="t => !onlyThisDay || t.Date == date">
                        <Columns>
                            <GridColumn Field="t => t.Date.ToShortDateString()" Title="Order date" />
                            <GridColumn Field="t => t.OrderType.EnumText()" />
                            <GridColumn Field="t => t.OrderNo" Title="Order no" />
                            <GridColumn Field="t => t.Customer.FName + ' ' + t.Customer.LName" Title="Customer" />
                            <GridCommandColumns />
                        </Columns>
                    </DataGrid>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Razor">
            <Document FolderName="Batch" FileName="Batch-Inline" />
        </TabPanelItem>
    </Tabs>
</TabPanel>
@code
{
    bool onlyThisDay = true;
    DateTime date = DateTime.Now.Date;
    DataGrid<Order> Grid;
    bool useListView;

    void UpsertOrder(Order order)
    {
        var url = "Demo/Batch/Inline/";
        if (useListView)
            url += "Listview/";
        url += "Details" + (order.Id > 0 ? "/" + order.Id : "") + "#orderGrid";
        navigationManager.NavigateTo(url);
    }
}
