@page "/Demo/Area"
@page "/Demo/Area/{CityId:int}"
@namespace Demo.Web.Pages
@inherits SimplePage<Area>
@{
    base.BuildRenderTree(__builder);
}
<div style="width:90%;margin:5px auto">
    <table style="width:100%">
        <tr>
            @if (CityId == 0)
            {
                <td>
                    <label>شهر</label>
                </td>
                <td>
                    <ComboBox TEntity="City" TValue="int" @bind-Value="SearchData.CityId"
                              TextExpression="t => t.Title" />
                </td>
            }
            <td>
                <label>عنوان</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Title" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="Area" Search="SearchData" ConditionExpr="t => CityId == 0 || t.CityId == CityId">
        <Columns>
            @if (CityId == 0)
            {
                <GridColumn Field="t => t.City.Country.Title" Title="استان" />
                <GridColumn Field="t => t.City.Title" Title="شهر" />
            }
            <GridColumn Field="t => t.Title" />
            <GridColumn Field="t => t.ActiveType.EnumText()" />
            <GridCommandColumns />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="منطقه" Style="width:450px"
            OnOpen="() =>
                    {
                        if (UpsertData.Id == 0)
                            UpsertData.ActiveType = ActiveType.Enable;
                        UpsertData.CityId = CityId;
                    }">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(AreaService)" />
                <table style="width:90%;margin:0 auto">
                    @if (CityId == 0)
                    {
                        <tr>
                            <td>
                                <label>شهر</label>
                            </td>
                            <td>
                                <ComboBox TEntity="City" TValue="int" @bind-Value="UpsertData.CityId"
                                    OnChange="() => 
                                        {
                                            var q = 5;
                                            if (q > 100)
                                                q++;
                                        }"
                                          TextExpression="t => t.Title" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <label>عنوان</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>وضعیت</label>
                        </td>
                        <td>
                            <DropdownList @bind-Value="UpsertData.ActiveType" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{
    [Parameter]
    public int CityId { get; set; }
}
