@*@page "/{Subsystem}/Engine/Workflow"
@namespace Caspian.Engine.WorkFlowGenrator
@inherits SimplePage<Workflow>
@{
    base.BuildRenderTree(__builder);
}
@inject IJSRuntime runTime
<div style="width:90%;margin:0 auto">
    <table style="width:100%">
        <tr>
            <td>
                <label>عنوان</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Title" />
            </td>
            <td>
                <label>گروه </label>
            </td>
            <td>
                <ComboBox @bind-Value="SearchData.FormGroupId" TValue="int" TEntity="FormGroup" TextExpression="t => t.Title"
                          ConditionExpression="t => t.Subsystem == subSystemKind" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="Workflow" Search="SearchData" TableHeight="400" ConditionExpr="t => t.FormGroup.Subsystem == subSystemKind">
        <Columns>
            <GridColumn TEntity="Workflow" Field="t => t.FormGroup.Title" Title="گروه گردش" />
            <GridColumn TEntity="Workflow" Field="t => t.Title" />
            <GridColumn TEntity="Workflow" Title="ایجاد گردش" style="width:80px">
                <Template>
                    <a href="/Engine/WorkflowGenrator/@(context.Data.Id)" target="_blank">...</a>
                </Template>
            </GridColumn>
            <GridCommandColumns TEntity="Workflow" />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="گردش کار" Style="width:500px">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(WorkflowService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>گروه گردش</label>
                        </td>
                        <td>
                            <ComboBox @bind-Value="UpsertData.FormGroupId" TValue="int" TEntity="FormGroup" TextExpression="t => t.Title"
                                      ConditionExpression="t => t.Subsystem == subSystemKind" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>عنوان</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>شرح</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Descript" MultiLine Rows="3" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>

            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{
    SubSystemKind subSystemKind;

    [Parameter]
    public string Subsystem { get; set; }

    protected override void OnInitialized()
    {
        subSystemKind = (SubSystemKind)typeof(SubSystemKind).GetField(Subsystem).GetValue(null);
        base.OnInitialized();
    }
}
*@