@page "/Demo/Batch/Inline/Master"
@using Caspian.Common.Extension
@inject NavigationManager navigationManager
@inherits BasePage
@namespace Demo.Web.Pages
<div class="p-4">
    <div class="p-3">
        <CheckBox @bind-Value="onlyThisDay" Title="Only show today orders " OnChange="() => Grid.EnableLoading()" />
    </div>
    <DataGrid @ref="Grid" TEntity="WarehouseReceipt" OnUpsert="t => UpsertOrder(t)" TableHeight="300"
              ConditionExpr="t => !onlyThisDay || t.Date == date" OnDataBinding="t => t.OrderByDescending(u => u.Id)">
        <Columns>
            <GridColumn Field="t => t.Date.ToPersianDateString()" Title="Order date" />
            <GridColumn Field="t => t.Warehouse.Title" Title="Warehouse" />
            <GridCommandColumns />
        </Columns>
    </DataGrid>

</div>
@code
{
    bool onlyThisDay = true;
    DateTime date = DateTime.Now.Date;
    DataGrid<WarehouseReceipt> Grid;

    void UpsertOrder(WarehouseReceipt receipt)
    {
        string url = "Demo/Batch/Inline/Details" + (receipt.Id > 0 ? "/" + receipt.Id : "");
        navigationManager.NavigateTo(url);
    }
}
