@page "/Demo/Order"
@namespace Demo.Web.Pages
@inherits MasterDetailPage<Order, OrderDeatil>
<div style="margin:10px auto; width:95%">
    <CaspianForm @ref="MasterForm" Model="UpsertData" OnValidSubmit="@(async con =>
                                                            {
                                                                var result = await Task.FromResult(true);
                                                                return result;
                                                            })">
        <CaspianValidationValidator ValidatorType="typeof(OrderService)" />
        <table style="width:100%;margin:0 auto">
            <tr>
                <td><label>تاریخ سفارش</label></td>
                <td>
                    <DatePicker @bind-Value="UpsertData.Date" />
                </td>
                <td><label>نوع سفارش</label></td>
                <td>
                    <DropdownList @bind-Value="UpsertData.OrderType" />
                </td>
                <td style="width:80px;">
                    <button style="width:80px;" class="c-btn c-primary">ثبت</button>
                </td>
            </tr>
        </table>
    </CaspianForm>
    <DataGrid @ref="Grid" TEntity="OrderDeatil" TableHeight="250" AutoInsert HidePageSize ServiceType="typeof(OrderDeatilService)">
        <Columns Context="con">
            <GridColumn TEntity="OrderDeatil" Field="t => t.Product.Title" Title="محصول">
                <EditTemplate>
                    <AutoComplete TValue="int" TEntity="Product" @bind-Value="con.Data.ProductId" HideHeader AutoHide
                                  TextExpression="t => t.Title" Title="محصول"
                                  OnChange="async () =>
                                            {
                                                var scop = CreateScope();
                                                var product = await new ProductService(scop).SingleAsync(con.Data.ProductId);
                                                con.Data.Price = product.Price;
                                                txtPrice.Focus();
                                            }">
                        <ProductLookupPage TValue="int" />
                    </AutoComplete>
                </EditTemplate>
            </GridColumn>
            <GridColumn TEntity="OrderDeatil" Field="t => t.Price">
                <EditTemplate>
                    <span>@(con.Data.Price.Seprate3Digit())</span>
                </EditTemplate>
            </GridColumn>
            <GridColumn TEntity="OrderDeatil" Field="t => t.Count">
                <EditTemplate>
                    <NumericTextBox @ref="txtPrice" @bind-Value="con.Data.Count" @onkeyup="@(e => 
                    {
                        if (e.Code == "Enter" || e.Code == "NumEnter")
                        {
                            
                        }
                    })" />
                </EditTemplate>
            </GridColumn>
            <GridCommandColumns TEntity="OrderDeatil" />
        </Columns>
    </DataGrid>
</div>
@code {
    NumericTextBox<int> txtPrice;
}