@page "/Demo/Order"
@page "/Demo/Order/{MasterId:int}"
@namespace Demo.Web.Pages
@inherits MasterDetailPage<Order, OrderDeatil>
<div style="margin:10px auto; width:95%">
    <CaspianForm @ref="MasterForm" Model="UpsertData" OnValidSubmit="@(async con =>
                                                            {
                                                                var result = await Task.FromResult(true);
                                                                return result;
                                                            })">
        <CaspianValidationValidator ValidatorType="typeof(OrderService)" />
        <table style="width:100%;margin:0 auto">
            <tr>
                <td><label>تاریخ سفارش</label></td>
                <td>
                    <DatePicker @bind-Value="UpsertData.Date" />
                </td>
                <td><label>نوع سفارش</label></td>
                <td>
                    <DropdownList @bind-Value="UpsertData.OrderType" />
                </td>
                <td style="width:80px;">
                    <button style="width:80px;" class="c-btn c-primary">ثبت</button>
                </td>
            </tr>
        </table>
    </CaspianForm>
    <DataGrid TEntity="OrderDeatil" TableHeight="250"  Inline  Batch ConditionExpr="t => t.OrderId == MasterId">
        <Columns Context="con">
            <GridColumn TEntity="OrderDeatil" Field="t => t.Product.Title" Title="محصول">
                <EditTemplate>
                    <AutoComplete TValue="int" TEntity="Product" @bind-Value="con.Data.ProductId" HideHeader AutoHide
                                  TextExpression="t => t.Title" Title="محصول"
                                  OnChange="@(async () => await SetPrice(con.Data))">
                        <ProductLookupPage TValue="int" />
                    </AutoComplete>
                </EditTemplate>
            </GridColumn>
            <GridColumn TEntity="OrderDeatil" Field="t => t.Price.Seprate3Digit()">
                <EditTemplate>
                    <span>@(con.Data.Price.Seprate3Digit())</span>
                </EditTemplate>
            </GridColumn>
            <GridColumn TEntity="OrderDeatil" Field="t => t.Count">
                <EditTemplate>
                    <NumericTextBox @ref="txtPrice" @bind-Value="con.Data.Count" @onkeyup="@(e => 
                    {
                        if (e.Code == "Enter" || e.Code == "NumEnter")
                        {
                            
                        }
                    })" />
                </EditTemplate>
            </GridColumn>
            <GridCommandColumns TEntity="OrderDeatil" />
        </Columns>
    </DataGrid>
</div>
@code 
{
    protected override Task OnInitializedAsync()
    {
        using var scope = CreateScope();
        
        return base.OnInitializedAsync();
    }

    NumericTextBox<int> txtPrice;
    async Task SetPrice(OrderDeatil detail)
    {
        if (detail.ProductId > 0)
        {
            var scop = CreateScope();
            var old = await new ProductService(scop).SingleAsync(detail.ProductId);
            detail.Price = old.Price;
            txtPrice.Focus();
        }
    }
}