@using Engine.Service.CodeTokenizer;
@using Engine.Service.CaspianCodeEditor;

@namespace Engine.CaspianCodeEditor
@inject IJSRuntime jSRuntime
<div id="caspianCodeGenerator" @ref="element"></div>


@code 
{
    ElementReference element;
    int oldSourceLength;
    bool updatedFromClient;

    [Parameter]
    public string Source { get; set; }

    [Parameter]
    public EventCallback<string> SourceChanged{ get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dotnet = DotNetObjectReference.Create(this);
            var data = new Tokenizer().GetTokenizeData(Source);
            await jSRuntime.InvokeVoidAsync("$.caspian.bindCodeEditor", Source, dotnet, Readonly, LineNumber, Column, data);
        }
        else if (Source != null && Source.Length != oldSourceLength && !updatedFromClient)
        {
            oldSourceLength = Source.Length;
            await jSRuntime.InvokeVoidAsync("$.caspian.setEditorCode", Source);
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable]
    public TokenData[] GetTokensAsync(string source)
    {
        var data = new Tokenizer().GetTokenizeData(Source).ToArray();
        return data;
    }

    [JSInvokable]
    public async Task<CodeCheckResult[]> CodeCheck(string source)
    {
        if (!Readonly)
        {
            updatedFromClient = true;
            Source = source;
            if (SourceChanged.HasDelegate)
                await SourceChanged.InvokeAsync(Source);
        }
        return await CompletitionRequestHandler.HandleCodeCheck(source, CodeBehind, Assemblies);
    }

    [JSInvokable]
    public async Task<HoverInfoResult> Hover(string source, int position)
    {
        return await CompletitionRequestHandler.HandleHover(position, source, CodeBehind, Assemblies);
    }

    [JSInvokable]
    public async Task<TabCompletionResult[]> Complete(string source, int position)
    {
        return await CompletitionRequestHandler.HandleCompletion(position, source, CodeBehind, Assemblies);
    }

    public async Task SetCode(string code)
    {
        await jSRuntime.InvokeVoidAsync("$.caspian.setEditorCode", element, code);
    }

    public async Task SetPosition(int lineNumber, int column)
    {
        await jSRuntime.InvokeVoidAsync("$.caspian.setEditoPosition", element, lineNumber, column);
    }

    [Parameter]
    public string CodeBehind { get; set; }

    [Parameter]
    public bool Readonly { get; set; }

    [Parameter]
    public string[] Assemblies { get; set; }

    [Parameter]
    public int LineNumber { get; set; }

    [Parameter]
    public int Column { get; set; }

}
