@page "/Engine/Test"
<div class="pt-1 pb-1 ps-2 pe-2 t-ltr c-ltr" style="direction:ltr;text-align:left">
    <TabPanel>
        <Tabs>
            <TabPanelItem Title="Code behind">
                <Engine.CaspianCodeEditor.CodeEditorComponent Source="@code1" Readonly />
            </TabPanelItem>
            <TabPanelItem Title="Code">
                <Engine.CaspianCodeEditor.CodeEditorComponent Source="@code2" CodeBehind="@code1" />
            </TabPanelItem>
        </Tabs>
    </TabPanel>
</div>


@code 
{
    bool flag;
    string code1, code2;
    protected override void OnInitialized()
    {
        code1 = File.ReadAllText("F:\\MyClass.cs");
        code2 = File.ReadAllText("F:\\MyClass1.cs");
        base.OnInitialized();
    }
}
