@namespace Caspian.Report
@using Caspian.UI
<div class="row p-2 c-controls">
    <div class="col-md-5">
        <label>Columns count</label>
    </div>
    <div class="col-md-7">
        <NumericTextBox @bind-Value="ColumnsCount" />
    </div>
    <div class="col-md-5">
        <label>Columns gap</label>
    </div>
    <div class="col-md-7">
        <NumericTextBox @bind-Value="columnsGap" />
    </div>
    <div class="col-md-7 justify-content-center d-flex pt-3 pb-2">
        <button style="width:70px;" @onclick="async () => await StatusChanged.InvokeAsync(Caspian.UI.WindowStatus.Close)" class="c-btn c-danger">Cancel</button>
        <button style="width:70px;" @onclick="UpdateData" class="c-btn c-primary">Save</button>
    </div>
</div>

@code 
{
    byte ColumnsCount;
    byte columnsGap;

    async Task UpdateData()
    {
        BoundItem.Data.ColumnsCount = ColumnsCount;
        BoundItem.Data.GapBetweenColumns = ColumnsCount;
        if (BoundItem.Bound.MaxDataLevel == BoundItem.DataLevel)
        {
            foreach(var data in BoundItem.Bound.Data.Items)
            {
                if (data.BondType == BondType.DataHeader || data.BondType == BondType.DataFooter)
                {
                    data.ColumnsCount = ColumnsCount;
                    data.GapBetweenColumns = columnsGap;
                }
            }
        }
        await StatusChanged.InvokeAsync(Caspian.UI.WindowStatus.Close);
    }

    protected override void OnInitialized()
    {
        ColumnsCount = BoundItem.Data.ColumnsCount;
        columnsGap = BoundItem.Data.GapBetweenColumns;
        base.OnInitialized();
    }

    [Parameter]
    public Caspian.UI.WindowStatus Status { get; set; }

    [Parameter]
    public EventCallback<Caspian.UI.WindowStatus> StatusChanged { get; set; }

    [Parameter]
    public BoundItem BoundItem { get; set; }
}
