@page "/Demo/ContextMenu"
@namespace Demo.Web.Pages




<ContextMenu @bind-Status="leftStatus" Left="left" Top="top">
    <ContextMenuItem Title="item1" />
    <ContextMenuItem Title="item2" >
        <ContextMenuItem Disabled Title="item2_1" />
        <ContextMenuItem Title="item2_2" />
        <ContextMenuItem Separator />
        <ContextMenuItem Title="item2_3" />
    </ContextMenuItem>
    <ContextMenuItem Title="item3">
        <ContextMenuItem Disabled Title="item3_1">
            <ContextMenuItem Title="item3_1_1" />
            <ContextMenuItem Separator />
            <ContextMenuItem Title="item3_1_2" />
            <ContextMenuItem Disabled Title="item3_1_3" />
        </ContextMenuItem>
        <ContextMenuItem Title="item3_2" />
        <ContextMenuItem Separator />
        <ContextMenuItem Title="item3_3" />
    </ContextMenuItem>
    <ContextMenuItem Disabled Title="item4" />
</ContextMenu>

<div>
    <button @onclick="ShowOnLeft" class="c-btn c-outline-primary">Context Menu On Right</button>
</div>

<div>
    <button @onclick="ShowOnLeft" style="float:right;margin-right:100px;" class="c-btn c-outline-primary">Context Menu On Left</button>
</div>

<ContextMenu @bind-Status="rightStatus" Left="left" Top="top">
    <ContextMenuItem Title="item1" />
    <ContextMenuItem Title="item2">
        <ContextMenuItem Disabled Title="item2_1" />
        <ContextMenuItem Title="item2_2" />
        <ContextMenuItem Separator />
        <ContextMenuItem Title="item2_3" />
    </ContextMenuItem>
    <ContextMenuItem Title="item3">
        <ContextMenuItem Disabled Title="item3_1">
            <ContextMenuItem Title="item3_1_1" />
            <ContextMenuItem Separator />
            <ContextMenuItem Title="item3_1_2" />
            <ContextMenuItem Disabled Title="item3_1_3" />
        </ContextMenuItem>
        <ContextMenuItem Title="item3_2" />
        <ContextMenuItem Separator />
        <ContextMenuItem Title="item3_3" />
    </ContextMenuItem>
    <ContextMenuItem Disabled Title="item4" />
</ContextMenu>

@code {
    bool leftStatus, rightStatus;
    double left, top;

    void ShowOnLeft(MouseEventArgs e)
    {
        left = e.ClientX;
        top = e.ClientY;
        leftStatus = true;
    }

    void ShowOnRight(MouseEventArgs e)
    {
        left = e.ClientX;
        top = e.ClientY;
        rightStatus = true;
    }
}

