@namespace Caspian.Engine.ReportGenerator
@inherits BasePage
@inject IJSRuntime runTime
@inject IHostEnvironment Host
@{
    base.BuildRenderTree(__builder);
    string reportUrl = Host.IsProduction() ? "https://report.caspiansoftco.com/" : "https://localhost:7284/";
}
<CrudComponent UpsertData="report">
    <div style="background-color:white" class="p-4 pt-2">
        <div class="row c-controls">
            <div class="col-md-2">
                <label>Title</label>
            </div>
            <div class="col-md-4 pe-4">
                <StringTextBox @bind-Value="search.Title" />
            </div>
            <div class="col-md-2 ps-4">
                <label>Report group </label>
            </div>
            <div class="col-md-4">
                <ComboBox TEntity="ReportGroup" TValue="int" @bind-Value="search.ReportGroupId" TextExpression="t => t.Title"
                          ConditionExpression="t => t.SubSystem == Subsystem" />
            </div>
        </div>
        <DataGrid TEntity="Report" ConditionExpr="t => t.ReportGroup.SubSystem == Subsystem" Search="search" ContentHeight="300">
            <Columns>
                <GridColumn Field="t => t.ReportGroup.Title" Title="Report group" />
                <GridColumn Field="t => t.Title" />
                <GridColumn Title="Parameters" style="width:80px">
                    <Template>
                        <IconButton Href='@($"{Subsystem}/ReportEngine/ReportParam/{context.Data.Id}")' IconType="IconType.Wpforms" />
                    </Template>
                </GridColumn>
                <GridColumn Title="Report" style="width:80px">
                    <Template>
                        <a target="_blank" href="@(reportUrl + context.Data.Id)">...</a>
                    </Template>
                </GridColumn>
                <GridCommandColumns />
            </Columns>
        </DataGrid>
    </div>

    <Window Style="width:450px" Title="Report">
        <CaspianForm Model="report">
            <div class="row ps-4 pe-4 c-controls">
                <div class="col-md-4">
                    <label>Report group</label>
                </div>
                <div class="col-md-8">
                    <ComboBox TEntity="ReportGroup" TValue="int" @bind-Value="report.ReportGroupId" TextExpression="t => t.Title"
                              ConditionExpression="t => t.SubSystem == Subsystem" />
                </div>
                <div class="col-md-4">
                    <label>Title</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="report.Title" />
                </div>
                <div class="col-md-4">
                    <label>Description</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="report.Descript" MultiLine Rows="3" />
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <FormCommandButton />
                </div>
            </div>
        </CaspianForm>
    </Window>
</CrudComponent>

@code
{
    Report search = new Report();
    Report report = new Report();

    [Parameter]
    public SubSystemKind Subsystem { get; set; }
}
