@namespace Caspian.Engine.ReportGenerator
@inherits BasePage
<Window Status="Status" Title="پارامترهای گزارش"
        StatusChanged="async value =>
                       {
                           await StatusChanged.InvokeAsync(value);
                       }">
    <Content>
        <TreeView @ref="Tree" OnExpanded="@(async (item) =>
                        {
                            var data = Newtonsoft.Json.JsonConvert.DeserializeObject<ReportNode>(item.Value);
                            var tempItems = (await new ReportTree().CreateTreeForSelect(Type, data, ReportParams));
                            item.Items = tempItems.Select(t => new TreeViewItem()
                            {
                                Value = Newtonsoft.Json.JsonConvert.SerializeObject(t),
                                Selected = t.Selected,
                                Selectable = !t.Grouping,
                                Expanded = false,
                                Collabsable = t.Grouping,
                                Text = t.TitleFa,
                                Disabled = t.Selected
                            }).ToList();
                        })" style="width:500px;height:calc(100vh - 155px);padding:5px 10px 0 0" TEntity="TreeViewItem" Source="Nodes" />
        <div style="text-align:left;padding-left:75px;padding-top:10px;">
            <button style="width:60px" class="c-btn c-primary" @onclick="PostParams">ثبت</button>
            <button class="c-btn c-danger"
                    @onclick="async () =>
                                  {
                                      await StatusChanged.InvokeAsync( WindowStatus.Close);
                                  }">
                انصراف
            </button>
        </div>
    </Content>
</Window>

@code
{
    Type Type;
    IList<TreeViewItem> Nodes;
    IList<ReportParam> ReportParams;
    TreeView<TreeViewItem> Tree;

    async Task PostParams()
    {
        var result = Tree.GetSeletcedItems().Select(t => Newtonsoft.Json.JsonConvert.DeserializeObject<ReportNode>(t.Value));
        var reportParams = Tree.GetSeletcedItems().Select(t => Newtonsoft.Json.JsonConvert.DeserializeObject<ReportNode>(t.Value))
            .Select(t => new ReportParam()
            {
                DataLevel = 1,
                ReportId = ReportId,
                TitleEn = t.TitleEn,
                RuleId = t.RuleId,
                DynamicParameterId = t.DynamicParameterId
            }).ToList();
        if (reportParams.Count == 0)
            ShowMessage("لطفا یک پارامتر را انخاب نمایید");
        else
        {
            using var scope = CreateScope();
            await new ReportParamService(scope.ServiceProvider).AddAll(reportParams);
            await new ReportParamService(scope.ServiceProvider).SaveChangesAsync();
            await OnParameterSave.InvokeAsync();
            ReportParams = await new ReportParamService(scope.ServiceProvider).GetAll().Where(t => t.ReportId == ReportId).ToListAsync();
            Nodes = (await new ReportTree().CreateTreeForSelect(Type, null, ReportParams)).Select(t => new TreeViewItem()
                {
                    Value = Newtonsoft.Json.JsonConvert.SerializeObject(t),
                    Selected = t.Selected,
                    Selectable = !t.Grouping,
                    Expanded = false,
                    Collabsable = t.Grouping,
                    Disabled = ReportParams.Any(u => u.TitleEn == t.TitleEn),
                    Text = t.TitleFa
                }).ToList();
            await StatusChanged.InvokeAsync(WindowStatus.Close);
        }
    }

    protected async override Task OnInitializedAsync()
    {
        using var scope = CreateScope();
        var report = await new ReportService(scope.ServiceProvider).SingleAsync(ReportId);
        var reportGroup = await new ReportGroupService(scope.ServiceProvider).SingleAsync(report.ReportGroupId);
        Type = new AssemblyInfo().GetReturnType(reportGroup);
        ReportParams = await new ReportParamService(scope.ServiceProvider).GetAll().Where(t => t.ReportId == ReportId).ToListAsync();
        var nodes = await new ReportTree().CreateTreeForSelect(Type, null, ReportParams);
        Nodes = nodes.Select(t => new TreeViewItem()
        {
            Value = Newtonsoft.Json.JsonConvert.SerializeObject(t),
            Selected = t.Selected,
            Selectable = !t.Grouping,
            Expanded = false,
            Collabsable = t.Grouping,
            Disabled = ReportParams.Any(u => u.TitleEn == t.TitleEn),
            Text = t.TitleFa
        }).ToList();
        await base.OnInitializedAsync();
    }

    [Parameter]
    public int ReportId { get; set; }

    [Parameter]
    public WindowStatus Status { get; set; }

    [Parameter]
    public EventCallback<WindowStatus> StatusChanged { get; set; }

    [Parameter]
    public EventCallback OnParameterSave { get; set; }
}
