@namespace Caspian.Engine.ReportGenerator
@inherits BasePage
<TreeView @ref="Tree" OnExpanded="@(async (item) =>
                        {
                            var data = System.Text.Json.JsonSerializer.Deserialize<ReportNode>(item.Value);
                            var tempItems = (await new ReportTree().CreateTreeForSelect(Type, data, ReportParams));
                            item.Items = tempItems.Select(t => new TreeViewItem()
                            {
                                Value = System.Text.Json.JsonSerializer.Serialize(t),
                                Selected = t.Selected,
                                Selectable = !t.Grouping,
                                Expanded = false,
                                Collabsable = t.Grouping,
                                Text = t.TitleFa,
                                Disabled = t.Selected
                            }).ToList();
                        })" style="width:500px;height:calc(100vh - 155px);padding:5px 10px 0 0" TEntity="TreeViewItem" Source="Nodes" />
<div style="text-align:left;padding-left:75px;padding-top:10px;">
    <button style="width:60px" class="c-btn c-primary" @onclick="PostParams">ثبت</button>
    <button class="c-btn c-danger"
            @onclick="async () =>
                                  {
                                      await StatusChanged.InvokeAsync( WindowStatus.Close);
                                  }">
        انصراف
    </button>
</div>

@code
{
    Type Type;
    IList<TreeViewItem> Nodes;
    IList<ReportParam> ReportParams;
    TreeView<TreeViewItem> Tree;

    async Task PostParams()
    {
        var result = Tree.GetSeletcedItems().Select(t => System.Text.Json.JsonSerializer.Deserialize<ReportNode>(t.Value));
        var reportParams = Tree.GetSeletcedItems().Select(t => System.Text.Json.JsonSerializer.Deserialize<ReportNode>(t.Value))
            .Select(t => new ReportParam()
            {
                DataLevel = 1,
                ReportId = ReportId,
                TitleEn = t.TitleEn,
                RuleId = t.RuleId,
                DynamicParameterId = t.DynamicParameterId
            }).ToList();
        if (reportParams.Count == 0)
            ShowMessage("لطفا یک پارامتر را انخاب نمایید");
        else
        {
            using var service = CreateScope().GetService<ReportParamService>();
            await service.AddAll(reportParams);
            await service.SaveChangesAsync();
            await OnParameterSave.InvokeAsync();
            ReportParams = await service.GetAll().Where(t => t.ReportId == ReportId).ToListAsync();
            Nodes = (await new ReportTree().CreateTreeForSelect(Type, null, ReportParams)).Select(t => new TreeViewItem()
                {
                    Value = System.Text.Json.JsonSerializer.Serialize(t),
                    Selected = t.Selected,
                    Selectable = !t.Grouping,
                    Expanded = false,
                    Collabsable = t.Grouping,
                    Disabled = ReportParams.Any(u => u.TitleEn == t.TitleEn),
                    Text = t.TitleFa
                }).ToList();
            await StatusChanged.InvokeAsync(WindowStatus.Close);
        }
    }

    protected async override Task OnInitializedAsync()
    {
        using var scope = CreateScope();
        var report = await scope.GetService<ReportService>().GetAll().Include(t => t.ReportGroup).SingleAsync(ReportId);
        Type = new AssemblyInfo().GetReturnType(report.ReportGroup);
        ReportParams = await scope.GetService<ReportParamService>().GetAll().Where(t => t.ReportId == ReportId).ToListAsync();
        var nodes = await new ReportTree().CreateTreeForSelect(Type, null, ReportParams);
        Nodes = nodes.Select(t => new TreeViewItem()
        {
            Value = System.Text.Json.JsonSerializer.Serialize(t),
            Selected = t.Selected,
            Selectable = !t.Grouping,
            Expanded = false,
            Collabsable = t.Grouping,
            Disabled = ReportParams.Any(u => u.TitleEn == t.TitleEn),
            Text = t.TitleFa
        }).ToList();
        await base.OnInitializedAsync();
    }

    [Parameter]
    public int ReportId { get; set; }

    [Parameter]
    public WindowStatus Status { get; set; }

    [Parameter]
    public EventCallback<WindowStatus> StatusChanged { get; set; }

    [Parameter]
    public EventCallback OnParameterSave { get; set; }
}
