<div class="c-search-container">
    <div>

    </div>
    <div>

    </div>
</div>

@code {

}

<div style="
    /* border: 1px solid blue; */
    background-color: #e5e5e5;
    color: #992f2f;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 0 5px;
    display: none;
    width: 100%;
    scale: none;
    display: flex;
    justify-content: center;
">
    Cash
</div>

<i class="fa-solid fa-sack-dollar"></i>