@namespace Caspian.UI

<div class="c-tooltip-top">
    @ChildContent
    <span class="c-tooltip-text-top">@Text</span>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}