%tooltip {
    width: fit-content;
    height: fit-content;
    padding: 2px 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #555;
    color: #fff;

    &::after {
        content: "";
        position: absolute;
        margin-left: 0px;
        border-width: 5px;
        border-style: solid;
    }
}

$tooltip: ( top: ( bordercolor: #555 transparent transparent transparent, ), bottom: ( bordercolor: transparent transparent #555 transparent, ), left: ( bordercolor: transparent transparent transparent #555, ), right: ( bordercolor: transparent #555 transparent transparent, ), );

@mixin tooltip($tooltip-side) {
    @each $side, $map in $tooltip-side {
        .c-tooltip-#{$side} {
            @extend %tooltip;

            &::after {
                #{$side}: 100%;
                border-color: map-get($map: $map, $key: bordercolor);
            }
        }
    }
}

@include tooltip($tooltip);
