@namespace Caspian.UI
@inject IJSRuntime JSRuntime
@{
    string position = Position?.ToString().ToLower() ?? "top";
    string tooltip_class = $"c-tooltip-{position}";
}

@ChildContent
<span class="@tooltip_class">@Text</span>


@code
{
    ElementReference tooltip;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Text { get; set; } = "This is a test";

    [Parameter]
    public Position? Position { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("caspian.common.bindTooltip", tooltip);
        await base.OnAfterRenderAsync(firstRender);
    }
}

