@page "/Cash/CashierList"
@using Caspian.Engine.Model

<PageTitle>مدیریت صندوق دارها</PageTitle>


<AdvanceSearch />

<CrudComponent TEntity="Cashier" UpsertData="cashierData">
    <div class="row c-controls">
        <div class="col-md-4 ps-4">
            <label>Title</label>
        </div>
        <div class="col-md-8 pe-4">
            <NumericTextBox @bind-Value="cashierSearch.Code" Search />
        </div>
    </div>
    <DataGrid TEntity="Cashier" PageSize="10" Search="cashierSearch">
        <Columns>
            <GridColumn Field="t => t.Code" />
            <GridColumn Field="@(t => t.User.FName + " " + t.User.LName)" Title="User" />
            <GridColumn Field="t => t.Status" />
            <GridColumn Field="t => t.BeginDate.ToShortDateString()" />
            <GridColumn Field="t => t.EndDate.ToShortDateString()" />
            <GridColumn Field="t => t.Description" />
            <GridCommandColumns />
        </Columns>
    </DataGrid>
    <Window Title="Add new cashier" Style="width:450px;">
        <Content>
            <CaspianForm Model="cashierData">
                <div class="row c-controls ps-3 pe-3">
                    <div class="col-md-3">
                        <label>User</label>
                    </div>
                    <div class="col-md-9">
                        <AutoComplete TValue="int" TEntity="User" @bind-Value="cashierData.UserId" TextExpression='t => t.FName + " " + t.LName'>
                            <AdvanceSearchUserLookupWindow />
                        </AutoComplete>
                    </div>
                    <div class="col-md-3">
                        <label>Status</label>
                    </div>
                    <div class="col-md-9">
                        <DropdownList @bind-Value="cashierData.Status" />
                    </div>
                    <div class="col-md-3">
                        <label>Begin Date</label>
                    </div>
                    <div class="col-md-9">
                        <DatePicker @bind-Value="cashierData.BeginDate" />
                    </div>
                    <div class="col-md-3">
                        <label>End Date</label>
                    </div>
                    <div class="col-md-9">
                        <DatePicker @bind-Value="cashierData.EndDate" />
                    </div>
                    <div class="col-md-3">
                        <label>Code</label>
                    </div>
                    <div class="col-md-9">
                        <NumericTextBox @bind-Value="cashierData.Code" />
                    </div>
                    <div class="col-md-3">
                        <label>Description</label>
                    </div>
                    <div class="col-md-9">
                        <StringTextBox MultiLine @bind-Value="cashierData.Description" />
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9 text-center">
                        <WindowCommandButtons />
                    </div>
                </div>
            </CaspianForm>
        </Content>
    </Window>
</CrudComponent>

@code {
    Cashier cashierSearch = new Cashier();
    Cashier cashierData = new Cashier();
}