@page "/Cash/CashBoxTypeList"

<PageTitle>انواع صندوق</PageTitle>

<AdvanceSearch />

<CrudComponent TEntity="CashBoxType" UpsertData="cashBoxTypeData">
    <div class="row c-controls">
        <div class="col-md-4 ps-4">
            <label>Title</label>
        </div>
        <div class="col-md-8 pe-4">
            <NumericTextBox @bind-Value="cashBoxTypeSearch.Name" Search />
        </div>
    </div>
    <DataGrid TEntity="CashBoxType" PageSize="10" Search="cashBoxTypeSearch">
        <Columns>
            <GridColumn Field="t => t.Code" Title="Code" />
            <GridColumn Field="t => t.Name" />
            <GridColumn Field="@(t => t.Currency.Code + " " + t.Currency.Name)" Title="Currency" />
            <GridColumn Field="t => t.Description" />
            <GridCommandColumns />
        </Columns>
    </DataGrid>
    <Window Title="Add new cash box type" Style="width:450px;">
        <Content>
            <CaspianForm Model="cashBoxTypeData">
                <div class="row c-controls ps-3 pe-3">
                    <div class="col-md-3">
                        <label>Code</label>
                    </div>
                    <div class="col-md-9">
                        <NumericTextBox @bind-Value="cashBoxTypeData.Code" />
                    </div>
                    <div class="col-md-3">
                        <label>Currency</label>
                    </div>
                    <div class="col-md-9">
                        <ComboBox TEntity="Currency" TValue="int" @bind-Value="cashBoxTypeData.CurrencyId" TextExpression='(t => t.Code + " " + t.Name)' />
                    </div>
                    <div class="col-md-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-9">
                        <StringTextBox @bind-Value="cashBoxTypeData.Name" />
                    </div>
                    <div class="col-md-4">
                        <label>International Name</label>
                    </div>
                    <div class="col-md-8">
                        <StringTextBox @bind-Value="cashBoxTypeData.InternationalName" />
                    </div>
                    <div class="col-md-3">
                        <label>Description</label>
                    </div>
                    <div class="col-md-9">
                        <StringTextBox MultiLine @bind-Value="cashBoxTypeData.Description" />
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9 text-center">
                        <WindowCommandButtons />
                    </div>
                </div>
            </CaspianForm>
        </Content>
    </Window>
</CrudComponent>

@code {
    CashBoxType cashBoxTypeSearch = new CashBoxType();
    CashBoxType cashBoxTypeData = new CashBoxType();
}