@page "/Cash/CashBoxList"

<PageTitle>مدیریت صندوق ها</PageTitle>

<AdvanceSearch />

<CrudComponent TEntity="CashBox" UpsertData="cashBoxData">
    <div class="row c-controls">
        <div class="col-md-4 ps-4">
            <label>Title</label>
        </div>
        <div class="col-md-8 pe-4">
            <NumericTextBox @bind-Value="cashBoxSearch.Title" Search />
        </div>
    </div>
    <DataGrid TEntity="CashBox" Search="cashBoxSearch">
        <Columns>
            <GridColumn Field="t => t.Id" Title="Code" />
            <GridColumn Field="t => t.CashBoxType.Name" Title="Cash box Type" />
            <GridColumn Field="t => t.AccountHolder" Title="Treasurer" />
            <GridColumn Field="t => t.Title" />
            <GridColumn Field="t => t.FloorLimit" />
            <GridColumn Field="t => t.Status" />
            <GridColumn Field="t => t.Description" />
            <GridCommandColumns />
        </Columns>
    </DataGrid>
    <Window Title="Add new cashbox" Style="width:450px;">
        <Content>
            <CaspianForm Model="cashBoxData">
                <div class="row c-controls ps-3 pe-3">
                    <div class="col-md-3">
                        <label>Cash box Type</label>
                    </div>
                    <div class="col-md-9">
                        <ComboBox TEntity="CashBoxType" TValue="int" @bind-Value="cashBoxData.CashBoxTypeId" TextExpression="t => t.Name" />
                    </div>
                    <div class="col-md-3">
                        <label>Treasurer</label>
                    </div>
                    <div class="col-md-9">
                        <ComboBox TEntity="Cashier" TValue="int" @bind-Value="cashBoxData.AccountHolderId" TextExpression='(t => t.User.FName + " " + t.User.LName)' />
                    </div>
                    <div class="col-md-3">
                        <label>Title</label>
                    </div>
                    <div class="col-md-9">
                        <StringTextBox @bind-Value="cashBoxData.Title" />
                    </div>
                    <div class="col-md-3">
                        <label>Floor Limit</label>
                    </div>
                    <div class="col-md-9">
                        <NumericTextBox @bind-Value="cashBoxData.FloorLimit" />
                    </div>
                    <div class="col-md-3">
                        <label>Status</label>
                    </div>
                    <div class="col-md-9">
                        <NumericTextBox @bind-Value="cashBoxData.Status" />
                    </div>
                    <div class="col-md-3">
                        <label>Teller Type</label>
                    </div>
                    <div class="col-md-9">
                        <DropdownList @bind-Value="cashBoxData.TellerType" />
                    </div>
                    <div class="col-md-5">
                        <label>Is Reference CashBox?</label>
                    </div>
                    <div class="col-md-7">
                        <CheckBox @bind-Value="cashBoxData.IsReferenceCashBox" />
                    </div>
                    <div class="col-md-3">
                        <label>Description</label>
                    </div>
                    <div class="col-md-9">
                        <StringTextBox MultiLine @bind-Value="cashBoxData.Description" />
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9 text-center">
                        <WindowCommandButtons />
                    </div>
                </div>
            </CaspianForm>
        </Content>
    </Window>
</CrudComponent>

@code {
    CashBox cashBoxSearch = new CashBox();
    CashBox cashBoxData = new CashBox();
}