@page "/Cash/TreasurerList"
@using Caspian.Engine.Model

<AdvanceSearch />

<CrudComponent TEntity="Treasurer"  UpsertData="treasurerData">
    <div class="row c-controls">
        <div class="col-md-4 ps-4">
            <label>Title</label>
        </div>
        <div class="col-md-8 pe-4">
            <NumericTextBox @bind-Value="treasurerSearch.Code" Search />
        </div>
    </div>
    <DataGrid TEntity="Treasurer" Search="treasurerSearch">
        <Columns>
            <GridColumn Field="t => t.Code" />
            <GridColumn Field="@(t => t.User.FName + " " + t.User.LName)" Title="User" />
            <GridColumn Field="t => t.Status" />
            <GridColumn Field="t => t.BeginDate" />
            <GridColumn Field="t => t.EndDate" />
            <GridColumn Field="t => t.Description" />
            <GridCommandColumns />
        </Columns>
    </DataGrid>
    <Window Title="Add new treasurer" Style="width:450px;">
        <Content>
            <CaspianForm Model="treasurerData">
                <div class="row c-controls ps-3 pe-3">
                    <div class="col-md-3">
                        <label>User</label>
                    </div>
                    <div class="col-md-9">
                        <AutoComplete TValue="int" TEntity="User" @bind-Value="treasurerData.UserId" TextExpression='t => t.FName + " " + t.LName'>
                            <AdvanceSearchUserLookupWindow />
                        </AutoComplete>
                    </div>
                    <div class="col-md-3">
                        <label>Status</label>
                    </div>
                    <div class="col-md-9">
                        <DropdownList @bind-Value="treasurerData.Status" />
                    </div>
                    <div class="col-md-3">
                        <label>Begin Date</label>
                    </div>
                    <div class="col-md-9">
                        <DatePicker @bind-Value="treasurerData.BeginDate" />
                    </div>
                    <div class="col-md-3">
                        <label>End Date</label>
                    </div>
                    <div class="col-md-9">
                        <DatePicker @bind-Value="treasurerData.EndDate" />
                    </div>
                    <div class="col-md-3">
                        <label>Code</label>
                    </div>
                    <div class="col-md-9">
                        <NumericTextBox @bind-Value="treasurerData.Code" />
                    </div>
                    <div class="col-md-3">
                        <label>Description</label>
                    </div>
                    <div class="col-md-9">
                        <StringTextBox MultiLine @bind-Value="treasurerData.Description" />
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9 text-center">
                        <WindowCommandButtons />
                    </div>
                </div>
            </CaspianForm>
        </Content>
    </Window>
</CrudComponent>

@code {
    Treasurer treasurerSearch = new Treasurer();
    Treasurer treasurerData = new Treasurer();
}