@namespace Caspian.UI
@typeparam TValue
@inject IJSRuntime jSRuntime
@inject CaspianDataService service
@implements IAutoCompleteTree
<div class="auto-hide c-lookup-tree" multiselect="@multiSelectable">
    <div class="c-content" >
        <input @ref="input" value="@searchText" @oninput="async e => await setValue(e)" />
        <span @onclick="async () => await ShowTree()" class="fa fa-search"></span>
    </div>
    @if (show)
    {
        <div class="auto-hide c-tree-content">
            <CascadingValue Value="this">
                @ChildContent(searchText)
            </CascadingValue>
        </div>
    }
</div>

@code 
{
}
