@font-face {
    font-family: Icons;
    src: url(../fonts/open-iconic.eot);
    src: url(../fonts/open-iconic.eot?#iconic-sm) format('embedded-opentype'), url(../fonts/open-iconic.woff) format('woff'), url(../fonts/open-iconic.ttf) format('truetype'), url(../fonts/open-iconic.otf) format('opentype'), url(../fonts/open-iconic.svg#iconic-sm) format('svg');
    font-weight: 400;
    font-style: normal
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, Icons;
}

.formola-content {
    width: 450px;
    border: 1px solid #d5d5d5;
    padding: 5px;
    height:215px;
    border-radius:8px;
}
.fa-long-arrow-left {
    color: #6c6c6c!important;
}
.c-primary .fa-check{
    color:white;
}

.c-trace-rules label {
    padding-right: 3px;
    color: #6b6b6b;
    font-weight: bold !important;
    font-size: 13px !important;
}
.c-trace-rules div{
    height:40px;
}
.c-trace-rules .c-value {
    color: #8c1111;
    font-size: 14px;
    font-weight: bold;
}
.c-rule-detail {
    border: 1px solid green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.formola-content .c-link {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #dec12d;
}
.r-parameter {
    border: 1px solid darkgray;
    height: calc(100vh - 140px);
    margin: 0 auto;
    width: 450px;
    display: flex;
    padding: 5px 15px;
    flex-flow: wrap;
    align-content: flex-start;
}
    .r-parameter .r-value {
        width: 120px;
        color: #299191 !important;
    }
    .r-parameter div {
        height: 45px;
        border-bottom: 1px solid #d7d7d7;
        padding-top: 12px;
    }
    .r-parameter .fa-calculator {
        color: #0069d9 !important;
        cursor: pointer;
    }
    .r-parameter .fa {
        color: #a1a1a1;
        font-size: 22px;
    }

.c-rule-back {
    border-width:1px;
    border-style:solid;
    border-color: #423d96;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: -10px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    display: inline-block;
}
    .c-rule-back .fa {
        color: #423d96;
        font-size: 16px;
    }
    .c-rule-back.c-disabled {
        border-color: darkgray;
        cursor:not-allowed;
    }
.c-rule-back.c-disabled .fa{
    color:darkgray;
}
.c-rule-detail .fa-info {
    color: green;
    font-size: 14px;
    font-weight: normal;
    vertical-align: bottom;
    padding-top: 7px;
}
    .f-operator > table {
        width: 90%;
        margin: 5px auto 5px auto;
        text-align: center;
    }
.c-search-container fieldset{
    padding-right:8px!important;
}
.c-search-container legend {
    font-size: 9px;
}
.c-primary.r-check {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 0;
    padding-top: 7px;
    vertical-align: middle;
    cursor:pointer;
}
.f-operator hr {
    margin: 15px 8px;
    box-shadow: 1px 1px 3px 0 #b3b3b3;
}
.c-rule-title {
    padding:10px 50px 10px 50px;
    display:flex;
}
    .c-rule-title label {
        color: #299191 !important;
    }
    .formola-content {
        padding: 5px;
        width: 100%;
        height: 554px;
        overflow: auto;
    }
    .formola-content span {
        font-size: 15px;
        font-weight: bold;
        padding: 0 5px;
        margin: 0 5px;
        border: 1px solid #d5d5d5;
        display: inline-block;
        border-radius: 15px;
        line-height: 30px;
        text-align: center;
    }
    .formola-content .f-operand {
        background-color: #e4f2ff;
        min-width: 80px;
    }
    .formola-content .f-operator {
        background-color: #ffe4e8;
        min-width: 30px;
    }
    .formola-content .f-clear {
        height: 12px;
    }
.formola-content .c-padd{
    display:inline-block;
    border:none;
}
.c-formula-action {
    text-align: center;
    padding-top: 8px;
}
.f-operator {
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    margin-left: 2px;
    padding: 5px 2px 0 0;
}
.f-operator .operand-input {
    border-width: 1px;
    border-style: solid;
    border-color: #336699;
    background-color: #aec0d3;
    width: 40px;
    height: 40px;
    color: #6c6c6c;
    outline: none;
    box-shadow: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    font-family: arial,helvetica,sans-serif;
    margin: 2px;
}
    .f-operator .operand-input.down {
        border-color: #114433;
        background-color: #336699;
        color:white;
    }
.f-operand {
    padding: 20px 0 6px 0;
}
    .f-operand button {
        border-radius: 16px;
        height: 32px;
        border: none;
        background-color: #34b8f9;
        width:88px;
    }
        .f-operand button span {
            font-size: 15px;
            font-weight: bold;
            color: white;
            vertical-align:text-top;
        }
        .f-operand button .fa {
            font-size: 25px;
            color: white;
        }

        .r-title {
            text-align: center;
            padding-bottom: 5px;
            color: #359994;
            font-weight: 900;
            font-size: 14px;
        }

.c-operator button {
    color: white;
    background-color: rgb(0 95 244 / 60%);
    font-weight:bold;
    line-height:32px;
    height:32px;
    border:none;
    border-radius:16px;
}
    .c-operator button:hover {
        background-color: rgb(0 95 244 / 75%);
    }
    .c-operator button .fa-pie-chart {
        color: white;
        font-size: 28px;
        line-height: 23px;
        position: relative;
        left: 4px;
        top: 5px;
    }
.r-button span{
    vertical-align:top;
}
.c-operator{
    text-align:center;
}
.r-level-head {
    line-height: 50px;
    width: 100%;
}
    .r-level-head .c-title {
        font-size:15px!important;
        text-align:center;
    }
        .r-level-head .c-title label {
            font-size: 15px !important;
            color: #999999;
        }
        .r-level-head .c-title span {
            color: #416ab2;
            font-weight: bold;
        }        

 a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
.page {
    display:flex;
}
    .page .content {
        width: calc(100% - 160px);
        transition: width .4s ease;
    }
.c-login {
    width: 468px;
    height: 697px;
    margin:0 auto;
    position:relative;
}
    .c-login .c-icon {
        background-image: url(/Images/login.png);
        display: inline-block;
        width: 468px;
        height: 697px;
    }
    .c-login .c-form {
        position: absolute;
        top: 315px;
        left:90px;
    }
    .c-login .error-message{
        color:red;
        font-size:12px;
    }
    .c-login input {
        border: none;
        background-color: transparent;
        width: 200px;
        height: 25px;
        border-bottom: solid 1px #ccc;
        font-family: iranyekan;
        font-weight: bold;
        line-height: 1.2;
        color: gray;
        direction: ltr;
        font-size: 13px;
    }
        .c-login input::placeholder {
            color: lightgray;
        }
        .c-login .c-container {
            padding-bottom: 10px;
        }

    .c-login .c-action{
        text-align:left;
        padding-top:15px;
    }

        .c-login .c-action button {
            width: 80px;
            height: 40px;
            background-color: transparent;
            color: gray;
            font-size: 17px;
            border: solid 1px #ccc;
            transition: background-color .5s;
        }
            .c-login .c-action button:hover {
                background-color: #00D8DC;
            }

.sys-page {
    display:flex;
    height:calc(100vh)
}
.p-caspian{
    font-size:18px;
    font-weight:bold;
}
.s-profile-head {
    padding: 20px 30px;
}
.fa-share-alt, .fa-download {
    font-size: 24px !important;
    color: dimgrey !important;
    align-content: end;
}
.c-skill-icon {
    background-image: url(/Images/Main.png);
    display: inline-block;
    width: 150px;
    height: 200px;
    background-position-x:-290px;
}
.skill-head{
    display:flex;
}
.skill-head-title {
    width: 45% !important;
    border-bottom: 1px solid darkgray;
    text-align: center;
    font-weight: bold;
}
.skill-head-rate {
    width: 45% !important;
    border-bottom: 1px solid darkgray;
    padding: 0 2px !important;
}
.c-odd {
    background-color: whitesmoke;
}
.skill-item {
    display: flex;
    align-items: center;
    padding-left:5px;
}
.skill-item-title {
    width: 45% !important;
}
.skill-item-rate {
    width: 45% !important;
    text-align:center;
}
.skill-item-rate span {
    position: relative;
    font-size: 11px;
    color: dimgray;
    top: 2px;
}
.skill-item-expr {
    text-align: center;
    width: 10%
}
.skill-item-rate progress {
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: -7px;
}

    .skill-head-expr {
        width: 10% !important;
        border-bottom: 1px solid darkgray;
        font-weight: bold;
        text-align: center;
    }
.skill-head-rate span {
    width: 100%;
    height: 30px;
    display: block;
    background-image: url(/Images/Main.png);
    background-position-x: -437px;
}
.s-profile-image {
    display: inline-block;
    border: 1px solid red;
    width: 150px;
    height: 150px;
    border-radius: 90px;
}
.s-pos {
    color: darkgray;
}
.fa-share-alt {
    padding-right: 20px;
}
.p-cto {
    font-size: 18px;
    color: lightslategray;
}
.sys-sidebar {
    width: 250px;
}
.c-hero {
    background-image: url(/Images/HeroImage.jpg);
    margin: 0 auto;
    height: 520px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    margin-top:70px;
}
.c-skills > div {
    background-color: #F3F6F9;
}
.c-skills img{
    border-radius:10px;
}
.s-head {
    border-radius: 10px;
    border: 0.0625rem solid #E0E3E7;
    background-color:white;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.13), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.11);
}
.c-menu {
    margin: 0 auto;
    background-color: #000e49;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 150;
    top: 0px;
}
.c-menu div{
}
    .c-menu div span{
        color:white;
        user-select:none;
        cursor:pointer;
    }

.spiliter1 {
    margin: 0 auto;
    width: 5%;
    background-color: #009b85;
    border: 1.5px solid #009b85;
    top:2px;
    z-index:1;
    opacity:1;
    position:relative;
}
.spiliter2 {
    margin: 0 auto;
    width: 50%;
}
.list-info span{
    text-align:justify;
    display:inline-block;
}
.list-item {
    display: flex;
    padding-bottom: 20px;
}
.list-info {
    width: calc(100% - 55px);
}
.blazor-icon span{
    background-position-x: -98px;
}
.food-icon span {
    background-position-x: -148px;
}
.hr-icon span{
    background-position-x: -198px;
}
.fa-quote-right {
    font-size: 22px !important;
    color: white !important;
    vertical-align: middle;
    line-height: 38px;
}
.s-list{
    width: 55px;
}
    .s-list span {
        background-image: url(/Images/Main.png);
        width: 45px;
        height: 45px;
        display: inline-block;
        border-radius:6px;
    }
.reliable-icon-1 span{
    background-position-y: -86px;   
}
    .reliable-icon-3 span {
        background-position-x: -48px;
    }

.box {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    position:relative;
    left:3%;
    user-select:none;
}
.box-container {
    overflow: hidden;
}
.box-item {
    border: 1px solid #eee;
    border-radius: 1.2rem;
    box-shadow: rgba(17,17,26,.05) 0px 1px 0px,rgba(17,17,26,.1) 0px 0px 8px;
    height: 25rem;
    width: 22.5rem !important;
    overflow: hidden;
    margin-right: 20px;
}
.box-head {
    height: 40px;
    background: transparent linear-gradient(104deg,#6c7bd4,#56a8f7) 0 0 no-repeat padding-box;
    text-align: left;
}
.box-title {
    font-size: 16px;
    color: white !important;
    font-weight: bold;
    width: 300px;
    display: inline-block;
    padding-left: 20px;
    vertical-align: initial;
    line-height: 38px;
}
.c-hero .c-padd{
    height:50px;
}
.c-hero .c-message {
    text-align: center;
    font-size: 35px;
    color: white;
    background-color: #4141416e;
    width: 512px;
    margin: 0 auto;
    border-radius: 10px;
}
.s-footer{
    background-color:black;
    height:200px;
}
.s-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    font-family: "Gordita", sans-serif;
}
.c-menu {
    padding-top:5px;
}
.s-btn span {
    transition: padding-bottom .3s;
}
.fa-map-marker, .fa-phone, .fa-envelope, .fa-github {
    color: #856bcf !important;
    font-size: 25px !important;
    padding-right: 8px;
}
.fa-envelope {
    font-size: 20px !important;
}
.s-btn :hover {
    border-bottom: 2px solid #009b85;
    padding-bottom: 5px;
}
    .s-btn a {
        text-decoration: none;
    }

.s-logo {
    background-image: url(/Images/Main.png);
    display: inline-block;
    width: 60px;
    height: 60px;
    background-position-y: -130px;
    background-position-x: -5px;
    border-radius: 8px;
    cursor: default!important;
}

