<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/css/Report.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link href="/_content/UIComponent/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/_content/UIComponent/Content/2011.1.315/Caspian.common1.css" rel="stylesheet" type="text/css" />
    <link href="/_content/UIComponent/Content/2011.1.315/Caspian.silver.css" rel="stylesheet" type="text/css" />
    <link href="/_content/UIComponent/Content/2011.1.315/Caspian.rtl.css" rel="stylesheet" type="text/css" />
    <link href="/_content/UIComponent/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/_content/UIComponent/Content/2011.1.315/jquery.ui.accordion.min.css" rel="stylesheet" />
    <script src="/_content/UIComponent/Scripts/jquery-1.8.2.js"></script>
    <script src="/_content/UIComponent/Scripts/Main/caspian.common.js"></script>
    <script src="/_content/UIComponent/Scripts/Main/caspian.textbox.js"></script>
    <script src="/_content/UIComponent/Scripts/Main/caspian.TextArea.js"></script>
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
    <script type="text/javascript">
        function getClientRecBounds() {
            let ids = ['reportTitle', 'pageHeader', 'dataHeader', 'databond1', 'databond2', 'databond3', 'dataFooter', 'pageFooter'];
            let result = [];
            for (let key in ids) {
                let bound = document.getElementById(ids[key]);
                if (bound != null) {
                    let rect = bound.getBoundingClientRect();
                    result.push({
                        top: rect.top,
                        left: rect.left,
                        width: rect.width,
                        height: rect.height,
                        bottom: rect.bottom,
                        right: rect.right,
                        bondValue: parseInt(key),
                    });
                }
            }
            return result;
        }
        const getClientRecById = id => document.getElementById(id).getBoundingClientRect();
    </script>
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
