<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/css/Report.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link href="/_content/UIComponent/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/_content/UIComponent/Content/2011.1.315/Caspian.common1.css" rel="stylesheet" type="text/css" />
    <link href="/_content/UIComponent/Content/2011.1.315/Caspian.silver.css" rel="stylesheet" type="text/css" />
    <link href="/_content/UIComponent/Content/2011.1.315/Caspian.rtl.css" rel="stylesheet" type="text/css" />
    <link href="/_content/UIComponent/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script src="/_content/UIComponent/caspian.bundel.js"></script>
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
    <script type="text/javascript">
        function getPixelsPerCentimetre() {
            let div = document.createElement("div");
            div.style.width = "1cm";
            document.body.appendChild(div);
            let result = div.getBoundingClientRect().width;
            document.body.removeChild(div);
            return result;
        }
    </script>
</head>

<body class="t-ltr" >
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
