.m-orders {
    width: 300px;
    padding: 5px 3px;
    overflow: auto;
    height: calc(100vh - 80px);
    direction: ltr;
}

.m-order-item {
    height: 50px;
    border-bottom: 1px solid #d8d8d8;
}

.selected {
    background-color: wheat;
}

.m-orders-step1 {
    padding: 5px;
    width: 120px;
}

.m-action {
    margin: 5px auto;
    width: 100px;
    border: none;
    height: 32px;
    border-radius: 16px;
}
