@using Caspian.UI
@using Demo.Model

@if (flag)
{

    @Template
}
else
{
    @Template
}

@if (flag)
{
    @Template
}


<button @onclick="() => flag = !flag">Toggle</button>

@code
{
    bool flag;

    [Parameter]
    public RenderFragment Template { get; set; }

}
