.main
{
    margin:5px;
    display:flex;
}
.order-container{
    width:50%;
    height:400px;
    background-color:azure;
}
.col-spiliter{
}
.product-container {
    width: calc(50% - 20px);
    transition: width 0.2s ease;
    overflow: hidden;
}

.fa-chevron-circle-right {
    color: #5c77c6;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin:0 5px;
}

.colapssed .fa-chevron-circle-right {
    transform: rotate(180deg);
}
.colapssed .product-container{
    width:0;
}
.colapssed .order-container{
    width:calc(100% - 25px);
}
.product-categories, .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid gray;
    height: 100px;
    padding: 4px 0;
    margin-bottom: 2px;
    border-radius: 6px;
}
.inc-dec-container {
    display: flex;
    align-items:center;
}
.inc-dec-container button{
    min-width:auto;
}
    .inc-dec-container ::deep input {
        width: 35px!important;
        height:35px;
        border-radius:50%;
        text-align:center;
        direction:ltr;
    }
    .product-category, .product {
        border: 1px solid #e4e4e4;
        height: 40px;
        width: 140px;
        text-align: center;
        user-select: none;
        cursor: pointer;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-category.selected {
        background-color: #fde5ff;
    }