@page "/Test"
@inherits BasePage
@using Caspian.Engine;
@using Caspian.Engine.Model
@using Caspian.UI;
@using Demo.Model;
@using Demo.Service
@inject BatchService<Customer, CustomerAddress> Service

<Window Service="Service" Style="width:200px;">
    <div style="height:200px;">12345666</div>
</Window>

<ChildComponent  Service="Service"></ChildComponent>
@code
{
}
