@page "/Test"
@inherits BasePage
@namespace Test.UI
@using Caspian.Engine;
@using Caspian.UI;
@using Demo.Model;
@using Demo.Service
@using Main.Model;
@using Stimulsoft.Report
@inject IHostEnvironment host

<table>
    <tr>
        <td>
            <label>Admin</label>
        </td>
        <td>
            <StringTextBox @bind-Value="userName" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Password</label>
        </td>
        <td>
            <StringTextBox @bind-Value="password" type="password" />
        </td>
    </tr>
</table>
@code
{
    string userName;
    string password;
}
