.d-menu-categories{

}
body{
    padding:0;
    margin:0;
}
.main-window {
    border: 1px solid red;
    width: 500px;
    top:30px;
    position: absolute;
    left: 100px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing:border-box;
}

.main-buttons {
    display: flex;
    justify-content: space-around;
    height: 75px;
    align-items: center;
    border-top: 1px solid #e0e0e0;
}
.main-body {
    padding: 20px;
    width: 500px;
    margin-top:30px;
}