@page "/Test"
@inherits BasePage
@using Caspian.Engine;
@using Caspian.Engine.Model
@using Caspian.UI;
@using Demo.Model;
@using Demo.Service

<div style="width:500px;margin:20px auto">
    <DropdownList @bind-Value="gender" />
</div>

@code
{
    OrderKind2 gender = OrderKind2.Internet;
}
