.test-main{
    width:350px;
    margin:250px auto 20px auto;
    border:1px solid red;
    height:150px;
    overflow:auto;
}
.test-child-1 {
    padding-top: 50px;
}

.test-child-2{
    padding-top:150px;
}
