@page "/counter"
@inherits BasePage
@using Caspian.Common.Extension
@using Caspian.UI
@using Demo.Model
@using Demo.Service
@inject IJSRuntime Js
<button @onclick=UpdateAsync>Update</button>


@code 
{
    async Task UpdateAsync()
    {
        using var service = CreateScope().GetService<CountryService>();
        service.Context.ChangeTracker.QueryTrackingBehavior = Microsoft.EntityFrameworkCore.QueryTrackingBehavior.TrackAll;
        var q = await service.SingleAsync(15);
        // var q = new Country()
        // {
        //     Id = 15,
        //     ActiveType = ActiveType.Enable,
        // };
        q.Title = "sadasdsadasdasd";
        await service.UpdateAsync(q);
        await service.SaveChangesAsync();
    }
}
