@page "/counter"
@inherits BasePage
@using Caspian.Common.Extension
@using Caspian.UI
@using Demo.Model
@using Demo.Service
@using Microsoft.EntityFrameworkCore
<span>@values.Count</span>
<div style="width:600px;margin:10px auto">
    <ChecklistDropdown TEntity="CustomerGroup" TDetails="int" @bind-Values="values" TextExpression="t => t.Title" />
</div>
<div style="height:400px;">

</div>
<div style="width:600px;margin:10px auto">
    <ChecklistDropdown TEntity="CustomerGroup" TDetails="int" @bind-Values="values" TextExpression="t => t.Title" />
</div>
@* <div style="margin:10px auto;width:80%;">
    <Slide TEntity="Product" ConditionExpression="t => t.Image != null && t.Id < 30" >
        <div class="d-slider">
            <div>
                <TextField DataField Field="t => t.Id.ToString()" />
                <img width="180" height="180" src="/api/Product/GetImage?id=@(context?.Id)" />
            </div>
            <div>
                <TextField Field="t => t.Id.ToString()" />
            </div>
        </div>
    </Slide>
</div> *@
@code 
{
    IList<int> values = new List<int>();
}
