@page "/counter"
@inherits BasePage
@using Caspian.Common.Extension
@using Caspian.UI
@using Demo.Model
@using Demo.Service
@using Microsoft.EntityFrameworkCore


<div style="margin:10px auto;width:600px">
    <Slide TEntity="Product" ConditionExpression="t => t.Image != null" >
        <div class="d-slider">
            <div>
                <TextField style="display:none" Field="t => t.Id.ToString()" />
                <img width="180" height="180" src="/api/Product/GetImage?id=@(context?.Id)" />
            </div>
            <div>
                <TextField Field="t => t.Title" />
            </div>
        </div>
    </Slide>
</div>

@code 
{

}
