@page "/Engine/Workflow/DynamicForm/{WorkflowFormId:int}"
@inject IWebHostEnvironment env
@namespace Caspian.Engine.WorkflowEngine
@inherits BasePage
@if (isloading)
{
    <span>در حال بارگذاری ...</span>
}
else
{
    <DynamicComponent Type="DynamicType" />
}
