@page "/Engine/WorkflowEntity/{WorkflowFormId:int}"
@namespace Caspian.Engine.WorkflowGenerator
@inherits SimplePage<WfFormEntityField>
@{ 
    base.BuildRenderTree(__builder);
}
<div style="width:95%;margin:5px auto">
        <DataGrid @ref="CrudGrid" TEntity="WfFormEntityField" Search="SearchData" TableHeight="400" >
        <Columns>
            <GridColumn TEntity="WfFormEntityField" Field="t => t.Title" Title="عنوان فارسی" />
            <GridColumn TEntity="WfFormEntityField" Field="t => t.EntityFullName" Title="عنوان لاتین" />
            <GridColumn TEntity="WfFormEntityField" Field="t => t.FieldName" Title="نام فیلد" />
            <GridColumn TEntity="WfFormEntityField" Field="t => t.IsCollection" style="text-align:center" Title="بصورت لیست"  />
            <GridCommandColumns TEntity="WfFormEntityField" />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="مشخصات فرم" Style="width:500px" OnOpen="FormOpen">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(WfFormEntityFieldService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>نوع موجودیت</label>
                        </td>
                        <td>
                            <ComboBox @bind-Value="UpsertData.EntityFullName" TValue="string" TEntity="SelectListItem" Source="workflowEntityTypes" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>نام فارسی</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>عنوان لاتین فیلد</label>
                        </td>
                        <td>
                            <StringTextBox Style="direction:ltr" @bind-Value="UpsertData.FieldName" /> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>بصورت لیست</label>
                        </td>
                        <td>
                            <CheckBox @bind-Value="UpsertData.IsCollection" /> 
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>

            </CaspianForm>
        </Content>
    </Window>
</div>
@code 
{
    IList<SelectListItem> workflowEntityTypes;

    protected override async Task OnInitializedAsync()
    {
        using var scope = CreateScope();
        var form = await new WorkflowFormService(scope).SingleAsync(WorkflowFormId);
        workflowEntityTypes = new AssemblyInfo().GetModelTypes(form.SubSystemKind)
            .Where(t => t.CustomAttributes.Any(u => u.AttributeType == typeof(WorkflowEntityAttribute)))
            .Select(t => new SelectListItem(t.Name, t.GetCustomAttribute<WorkflowEntityAttribute>()!.Title)).ToList();
        await base.OnInitializedAsync();
    }

    [Parameter]
    public int WorkflowFormId{ get; set; }

    void FormOpen()
    {
        UpsertData.WorkflowFormId = WorkflowFormId;
    }
}
