@page "/Demo/CheckboxList"
<div style="margin:5px auto;width:90%">
    <CheckboxList TEntity="Order" TValue="Demo.Model.OrderType" @bind-Values="orderTypes" Title="نوع سفارش" />
</div>
@code{
    IList<Demo.Model.OrderType> orderTypes;

}