@page "/Demo/Colorpicker"
<h2>Colorpicker</h2>
<p>
    This control is a <b>key-value control</b> that is <b>usually bind to entity</b> type, although it can use the <b>SelectListItem list as a resource</b>.
</p>

@code 
{

}
