@page "/Demo/ComboBox"
@namespace Demo.Web.Pages
<div class="row d-head">
    <div class="col-md-6">
        <h3>Combobox</h3>
    </div>
    <div class="d-source-btn col-md-6">
        <button @onclick="() => status = WindowStatus.Open" class="c-btn c-primary">
            Source
            <i class="fa fa-code"></i>
        </button>
    </div>
</div>
<div class="d-body">
    <div class="row">
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Data Binding & Search</h4>
                <div class="row">
                    <div class="col-md-3">
                        <label>City</label>
                    </div>
                    <div class="col-md-9">
                        <ComboBox TValue="int?" @bind-Value="cityId" TEntity="City" TextExpression="t => t.Title" />
                    </div>
                    <div class="col-md-3">
                        <label>Province City</label>
                    </div>
                    <div class="col-md-9">
                        <ComboBox TValue="int?" @bind-Value="cityId1" TEntity="City" TextExpression='t => t.Country.Title + " " + t.Title' />
                    </div>
                    <div class="col-md-3">
                        <label>Customer</label>
                    </div>
                    <div class="col-md-9">
                        <ComboBox TValue="int?" @bind-Value="customerId" TEntity="Customer"
                                  TextExpression='t => t.CustomerType == CustomerType.Real ? t.FName + " " + t.LName : t.CompanyName' />

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Cascade</h4>
                <div class="row">
                    <div class="col-md-3">
                        <label>City</label>
                    </div>
                    <div class="col-md-9">
                        <ComboBox TValue="int?" TEntity="City" TextExpression='t => t.Country.Title + " " + t.Title'
                                  Cascade="container" />
                    </div>
                    <div class="col-md-3">
                        <label>Area</label>
                    </div>
                    <div class="col-md-9">
                        <ComboBox @ref="container.Cascade" TValue="int?" @bind-Value="areaId" TEntity="Area" TextExpression="t => t.Title" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Custom Cascade</h4>
                <div class="row">
                    <div class="col-md-3">
                        <label>Province</label>
                    </div>
                    <div class="col-md-9">
                        <ComboBox TValue="int?" TEntity="Country" @bind-Value="countryId" TextExpression="t => t.Title"
                                  OnChange="() => cmbCity.EnableLoading()" />

                    </div>
                    <div class="col-md-3">
                        <label>City</label>
                    </div>
                    <div class="col-md-9">
                        <ComboBox @ref="cmbCity" TValue="int?" TEntity="City" TextExpression="t => t.Title"
                                  ConditionExpression="t => t.CountryId == countryId" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<CreatePdfComponent @bind-Status="status" Title="ComboBox" FileName="ComboBox.pdf" Title1="Model" FileName1="Customer.pdf"/>
@code
{
    int? countryId;
    CascadContainer container = new CascadContainer();
    ComboBox<City, int> cmb;
    ComboBox<City, int?> cmbCity;

    int? cityId;
    int? cityId1;
    int? customerId;
    int? areaId;

    WindowStatus status;
}