@page "/Demo/DateAndTime"
@namespace Demo.Web.Pages
<div class="row p-4 pb-0">
    <div class="col-md-6">
        <h3>Date And Time Picker</h3>
    </div>
    <div class="d-source-btn col-md-6">
        <button @onclick="() => status = WindowStatus.Open" class="c-btn c-primary">
            Source
            <i class="fa fa-code"></i>
        </button>
    </div>
</div>
<div class="row ps-4 pe-4">
    <div class="col-md-6 ps-4 pe-4">
        <hr />
        <div class="ps-4 pe-4">
            <h4>Date picker</h4>
            <div class="row c-controls ps-4 pe-4">
                <div class="col-md-12">
                    <CheckBox @bind-Value="dateDisable" Title="Disabled" />
                </div>
                <div class="col-md-12">
                    <CheckBox @bind-Value="dateOpenOnFocus" Title="Open on focus" />
                </div>
                <div class="col-md-6">
                    <label>Action</label>
                </div>
                <div class="text-center col-md-6">
                    <button class="t-button" @onclick="async () => await DatePickerFocuc() ">فـوکـوس</button>
                </div>
                <div class="col-md-6">
                    <label>Selected Culture Date</label>
                </div>
                <div class="text-center col-md-6">
                    <span style="color:red;">@(date.HasValue ? date.Value.ToShortDateString() : "-----")</span>
                </div>
                <div class="col-md-6">
                    <label>Selected Persian Date</label>
                </div>
                <div class="text-center col-md-6">
                    <span style="color:red;">@(date.HasValue ? date.ToPersianDateString() : "-----")</span>
                </div>
                <div class="col-md-10">
                    <DatePicker @ref="datePicker" @bind-Value="date" OpenOnFocus="dateOpenOnFocus" Disabled="dateDisable" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 ps-4 pe-4">
        <hr />
        <div class="row c-controls ps-4 pe-4">
            <h4>Time picker</h4>
            <div class="row ps-4 pe-4">
                <div class="col-md-12">
                    <CheckBox @bind-Value="timeDisable" Title="Disabled" />
                </div>
                <div class="col-md-12">
                    <CheckBox @bind-Value="timeOpenOnFocus" Title="Open on focus" />
                </div>
                <div class="col-md-6">
                    <label>Action</label>
                </div>
                <div class="col-md-6 text-center">
                    <button class="t-button" @onclick="async () => await TimePickerFocuc()">فـوکـوس</button>
                </div>
                <div class="col-md-6">
                    <label>Selected time</label>
                </div>
                <div class="col-md-6 text-center">
                    <span style="color:red;">@(time.HasValue ? time.Value.ShortString() : "-----")</span>
                </div>
                <div class="col-md-10">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<CreatePdfComponent @bind-Status="status" Title="Date Picker & Time Picker" FileName="DatePicker&TimePicker.pdf" />
@code 
{
    WindowStatus status;
    bool dateDisable;
    bool dateOpenOnFocus;
    bool timeDisable;
    bool timeOpenOnFocus;
    DateTime? date;
    TimeSpan? time;
    DatePicker<DateTime?> datePicker;
    

    async Task DatePickerFocuc()
    {
        await datePicker.FocusAsync();
    }

    async Task TimePickerFocuc()
    {
        
    }
}
