@page "/Demo/DateAndTime"
@namespace Demo.Web.Pages
<div class="row d-head">
    <div class="row-md-6">
        <h3>Date And Time Picker</h3>
    </div>
</div>
<div class="d-body">
    <div class="row">
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Date picker</h4>
                <div class="row">
                    <div class="col-md-12">
                        <CheckBox @bind-Value="dateDisable" Title="Disabled" />
                    </div>
                    <div class="col-md-12">
                        <CheckBox @bind-Value="dateOpenOnFocus" Title="Open on focus" />
                    </div>
                    <div class="col-md-6">
                        <label>Action</label>
                    </div>
                    <div class="d-center-align col-md-6">
                        <button class="t-button" @onclick="async () => await DatePickerFocuc() ">فـوکـوس</button>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Culture Date</label>
                    </div>
                    <div class="d-center-align col-md-6">
                        <label style="color:red;">@(date.HasValue ? date.Value.ToShortDateString() : "-----")</label>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Persian Date</label>
                    </div>
                    <div class="d-center-align col-md-6">
                        <label style="color:red;">@(date.HasValue ? date.ToPersianDateString() : "-----")</label>
                    </div>
                    <div class="col-md-12">
                        <DatePicker @ref="datePicker" @bind-Value="date" OpenOnFocus="dateOpenOnFocus" Disabled="dateDisable" />
                    </div>
                    <div class="col-md-12 d-center-align">
                        <button @onclick="DatePickerSource" class="c-btn c-primary">
                            Source
                            <i class="fa fa-code"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Time picker</h4>
                <div class="row">
                    <div class="col-md-12">
                        <CheckBox @bind-Value="timeDisable" Title="Disabled" />
                    </div>
                    <div class="col-md-12">
                        <CheckBox @bind-Value="timeOpenOnFocus" Title="Open on focus" />
                    </div>
                    <div class="col-md-6">
                        <label>Action</label>
                    </div>
                    <div class="col-md-6 d-center-align">
                        <button class="t-button" @onclick="async () => await TimePickerFocuc()">فـوکـوس</button>
                    </div>
                    <div class="col-md-6">
                        <label>Selected time</label>
                    </div>
                    <div class="col-md-6">
                        <label style="color:red;">@(time.HasValue ? time.Value.ShortString() : "-----")</label>
                    </div>
                    <div class="col-md-12">
                        <TimePicker @ref="timePicker" @bind-Value="time" Disabled="timeDisable" />
                    </div>
                    <div class="col-md-12 d-center-align">
                        <button @onclick="TimePickerSource" class="c-btn c-primary">
                            Source
                            <i class="fa fa-code"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<CreatePdfComponent @bind-Status="status" Title="Default" FileName="@sourceName" />
@code 
{
    WindowStatus status;
    string sourceName;
    bool dateDisable;
    bool dateOpenOnFocus;
    bool timeDisable;
    bool timeOpenOnFocus;
    DateTime? date;
    TimeSpan? time;
    DatePicker<DateTime?> datePicker;
    TimePicker<TimeSpan?> timePicker;

    void DatePickerSource()
    {
        sourceName = "DatePicker.pdf";
        status = WindowStatus.Open;
    }

    void TimePickerSource()
    {
        sourceName = "TimePicker.pdf";
        status = WindowStatus.Open;
    }

    async Task DatePickerFocuc()
    {
        await datePicker.FocusAsync();
    }

    async Task TimePickerFocuc()
    {
        await timePicker.FocusAsync();
    }
}
