@page "/Demo/Fileupload"
@namespace Demo.Web.Pages
<div class="row d-head">
    <div class="col-md-6">
        <h3>FileUpload & Picture Box</h3>
    </div>
    <div class="d-source-btn col-md-6">
        <button @onclick="() => status = WindowStatus.Open" class="c-btn c-primary">
            Source
            <i class="fa fa-code"></i>
        </button>
    </div>
</div>
<div class="d-body">
    <div class="row">
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>With Content</h4>
                <div class="row">
                    <div class="col-md-12">
                        <Fileupload OnChange="async e => await SaveFileData1(e)" Title="Click for upload">
                            <PictureBox NoContentTitle="Click for upload" Data="imageDataWidthoutContent" style="width:300px;height:350px;background-size:cover" />
                        </Fileupload>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Items filter</h4>
                <div class="row">
                    <div>
                        <PictureBox Data="imageDataWidthContent" style="width:300px;height:350px;background-position: center center" />
                    </div>
                    <div style="padding-top:10px" class="text-center">
                        <Fileupload OnChange="async e => await SaveFileData(e)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<CreatePdfComponent @bind-Status="status" Title="PictureBox-File Upload" FileName="FileUpload.pdf" />
@code
{
    WindowStatus status;
    byte[] imageDataWidthContent;
    byte[] imageDataWidthoutContent;

    async Task SaveFileData(InputFileChangeEventArgs file)
    {
        imageDataWidthContent = await file.File.GetByteArrayAsync();
    }

    async Task SaveFileData1(InputFileChangeEventArgs file)
    {
        imageDataWidthoutContent = await file.File.GetByteArrayAsync();
    }
}
