@page "/Demo/Lookup"
@namespace Demo.Web.Pages
@{
    if (hideHeader)
        autoHide = true;
}
<div style="padding:20px 40px 0 0">
    <h3>Lookup</h3>
</div>
<div style="display:table;width:90%;margin:0 auto">
    <div style="display:table-cell;width:50%;padding-left:40px">
         <hr />
         <h4 style="padding-right:40px;">Lookup seting</h4>
            <table style="margin-right:70px;height:200px;">
                <tr>
                    <td style="width:30px">
                        <CheckBox @bind-Value="disabled" />
                    </td>
                    <td>
                        <label>Disabled</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <CheckBox @bind-Value="hideHeader" />
                    </td>
                    <td>
                        <label>Hide header</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <CheckBox @bind-Value="hideIcon" />
                    </td>
                    <td>
                        <label>Hide icon</label>
                    </td>
                </tr>
                <tr>
                    <td>
                    <CheckBox @bind-Value="autoHide" Disabled="hideHeader" Title="Auto hide" />
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <CheckBox @bind-Value="openOnFocus" />
                    </td>
                    <td>
                        <label>Open on focus</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <CheckBox @bind-Value="closeOnBlur" />
                    </td>
                    <td>
                        <label>Close on blur</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <CheckBox @bind-Value="searchable" />
                    </td>
                    <td>
                        <label>Searchable</label>
                    </td>
                </tr>
            </table>
    </div>
    <div style="display:table-cell;width:50%;padding-right:40px">
        <hr />
        <h4 style="padding-right:40px;">Product lookup</h4>
        <div style="width:80%;margin:10px auto">
            <AutoComplete TEntity="Product" TValue="int?" @bind-Value="Id" HideHeader="hideHeader" AutoHide="autoHide" Title="جستجوی غذا"
                TextExpression="t => t.Title" OpenOnFocus="openOnFocus" CloseOnBlur="closeOnBlur" Disabled="disabled" 
                HideIcon="hideIcon">
                <ProductLookupPage TValue="int?" Searchable="searchable"  />
            </AutoComplete>
        </div>
    </div>
</div>

@code
{
    int? Id;
    bool disabled;
    bool autoHide;
    bool hideIcon;
    bool hideHeader;
    bool searchable;
    bool closeOnBlur;
    bool openOnFocus;
}
