@page "/Demo/Message"
@namespace Demo.Web.Pages
@inherits BasePage
@{
    base.BuildRenderTree(__builder);
}
<div style="padding:20px 40px 0 0">
    <h3>Message</h3>
</div>
<div style="display:table;width:90%;margin:0 auto">
    <div style="display:table-cell;width:50%;padding-left:40px">
         <hr />
         <h4 style="padding-right:40px;">Action</h4>
        <div style="height:210px;margin-right:80px">
            <div style="height:60px">
                 <button class="c-btn c-outline-primary"  @onclick="SimpleMessage">Simple message</button>
            </div>
            <div style="height:60px">
                 <button class="c-btn c-outline-info" @onclick="AlertMessageAction">Alert</button>
            </div>
            <div style="height:60px">
                 <button class="c-btn c-outline-secondary" @onclick="ConfirmMessageAction">Confirm</button>
            </div>
            <div style="height:60px">
                <button class="c-btn c-outline-success" @onclick="() => status1 = WindowStatus.Open">Show On Window</button>
            </div>
         </div>
    </div>
    <div style="display:table-cell;width:50%;padding-right:40px">
         <hr />
         <h4 style="padding-right:40px;">Content</h4>
            <div style="height:60px">
                 <StringTextBox @bind-Value="message" />
            </div>
            <div style="height:60px">
                 <StringTextBox @bind-Value="alertMessage" />
            </div>
            <div style="height:60px">
                 <StringTextBox @bind-Value="confirmMessage" />
            </div>
    </div>
    <div style="display:table-footer-group">
        <span style="color:red;">@errorMessage</span>
    </div>
</div>
<div style="text-align:center;">
    <button @onclick="() => pdfStatus = WindowStatus.Open" class="c-btn c-primary">
        Source
        <i class="fa fa-code"></i>
    </button>
</div>
<Window @bind-Status="status1"  Title="Window 1" Style="width:700px;height:500px">
    <Content>
        <h3>Window 1</h3>
        <hr />
        <div style="display:flex;padding:5px 0">
            <div style="width:33.3%;text-align:center">
                <button class="c-btn c-primary" @onclick="() => { status2 = WindowStatus.Open; }">Window 2</button>
            </div>
            <div style="width:33.3%;text-align:center">
                <button class="c-btn c-info" @onclick='async () => await Alert("Alert on window1")'>Alert</button>
            </div>
            <div style="width:33.3%;text-align:center">
                <button class="c-btn c-success" @onclick='async () => await Confirm("Confirm on window1")'>Confirm</button>
            </div>
        </div>
        <Window @bind-Status="status2" Title="Window 2" Style="width:600px;height:400px">
            <Content>
                <h3>Window 2</h3>
                <hr />
                <div style="display:flex;padding:5px 0">
                    <div style="width:33.3%;text-align:center">
                        <button class="c-btn c-primary" @onclick="() => { status3 = WindowStatus.Open; }">Window 3</button>
                    </div>
                    <div style="width:33.3%;text-align:center">
                        <button class="c-btn c-info" @onclick='async () => await Alert("Alert on window2")'>Alert</button>
                    </div>
                    <div style="width:33.3%;text-align:center">
                        <button class="c-btn c-success" @onclick='async () => await Confirm("Confirm on window2")'>Confirm</button>
                    </div>
                </div>
                
                <Window @bind-Status="status3" Title="Window 3" Style="width:500px;height:300px">
                    <Content>
                        <h4>Window 3</h4>
                        <hr />
                        <div style="display:flex;padding:5px 0">
                            <div style="width:50%;text-align:center">
                                <button class="c-btn c-info" @onclick='async () => await Alert("Alert on window3")'>Alert</button>
                            </div>
                            <div style="width:50%;text-align:center">
                                <button class="c-btn c-success" @onclick='async () => await Confirm("Confirm on window3")'>Confirm</button>
                            </div>
                        </div>
                    </Content>
                </Window>
            </Content>
        </Window>
    </Content>
</Window>
<CreatePdfComponent @bind-Status="pdfStatus" Title="Message" FileName="Message.pdf" />

@code
{
    WindowStatus status1;
    WindowStatus status2;
    WindowStatus status3;
    WindowStatus pdfStatus;
    string message = "ثبت با موفقیت انجام شد", alertMessage = "سفارش ثبت شد، امکان ثبت شند حسابداری وجود ندارد", confirmMessage = "آیا با حذف موافقید؟", errorMessage = "";

    void SimpleMessage()
    {
        if (message.HasValue())
        {
            errorMessage = null;
            ShowMessage(message);
        }
        else
            errorMessage = "لطفا متن پیام را مشخص نمایید.";
    }

    async void AlertMessageAction()
    {
        if (alertMessage.HasValue())
        {
            errorMessage = null;
            await Alert(alertMessage);
        }
        else
            errorMessage = "لطفا متن پیام را مشخص نمایید.";
    }

    async Task ConfirmMessageAction()
    {
        if (confirmMessage.HasValue())
        {
            var result = await Confirm(confirmMessage);
            if (result)
                ShowMessage("Ok button clicked");
            else
                ShowMessage("cancel button clicked");
            errorMessage = null;
        }
        else
            errorMessage = "لطفا متن پیام را مشخص نمایید.";
    }
}
