@page "/Demo/MultiSelect"
@namespace Demo.Web.Pages
<div class="row ps-4 pe-4 pt-3">
    <div class="col-md-6">
        <h3>Multi Select</h3>
    </div>
    <div class="col-md-6 text-center">
        <button @onclick="() => status = WindowStatus.Open" class="c-btn c-primary">
            Source
            <i class="fa fa-code"></i>
        </button>
    </div>
</div>
<div class="row ps-4 pe-4">
    <div class="col-md-6 d-control">
        <hr />
        <div class="row ps-4">
            <h4>Bind to enum</h4>
            <div class="row c-controls">
                <div class="col-md-12">
                    <CheckBox @bind-Value="disabled" Title="Control disable" />
                </div>
                <div class="col-md-12">
                    <MultiSelectBox @bind-Value="day" Disabled="disabled" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <hr />
        <div class="row ps-4 pe-4">
            <h4>Disable Some Items</h4>
            <div class="row">
                <div class="text-center col-md-12">
                    <label>Disable items</label>
                </div>
                <div class="col-md-12">
                    <MultiSelectBox @bind-Value="forDisable" />
                </div>
                <div class="col-md-12">
                    <MultiSelectBox @bind-Value="day" DisabledValue="forDisable" />
                </div>
            </div>
        </div>
    </div>
</div>
<CreatePdfComponent @bind-Status="status" Title="Multi Select" Title1="Enume" FileName="MultiSelect.pdf" FileName1="DayOfPersianWeek.pdf" />
@code
{
    WindowStatus status;
    bool disabled;
    DayOfWeekBitwise day;
    DayOfWeekBitwise forDisable = (DayOfWeekBitwise)42;
}
