@page "/Demo/NumericTextBox"
@namespace Demo.Web.Pages
<div style="padding:20px 40px 0 0">
    <h3>Numeric Text Box</h3>
</div>
<div style="display:table;width:90%;margin:0 auto">
    <div style="display:table-cell;width:50%;padding-left:40px">
        <hr />
        <h4 style="padding-right:40px;">Integer text box</h4>
        <table style="height:280px;margin-right:80px">
            <tr>
                <td style="width:100px;">
                    <label>Nullable</label>
                </td>
                <td>
                    <CheckBox @bind-Value="nullable" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>غیرفعال</label>
                </td>
                <td>
                    <CheckBox @bind-Value="disable" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>گروه بندی عددی</label>
                </td>
                <td>
                    <CheckBox @bind-Value="digitGrouping" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Binding type</label>
                </td>
                <td>
                    <RadioList @bind-Value="BindingType" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>تعداد ارقام</label>
                </td>
                <td>
                    <NumericTextBox Style="width:100px" @bind-Value="total" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Value</label>
                </td>
                <td>
                    <span style="color:red">@(nullable ? intNullValue.Seprate3Digit() : intValue.Seprate3Digit())</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Action</label>
                </td>
                <td>
                     <button class="t-button" @onclick="async () => { await control.FocusAsync(); }">Focus</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (nullable)
                    {
                        <NumericTextBox @ref="control" @bind-Value="intNullValue" Total="total" BindingType="BindingType" DigitGrouping="digitGrouping" Disabled="disable" />
                    }
                    else
                    {
                        <NumericTextBox @ref="control" @bind-Value="intValue" Total="total" BindingType="BindingType" DigitGrouping="digitGrouping" Disabled="disable" />
                    }
                </td>
            </tr>
        </table>
    </div>
    <div style="display:table-cell;width:50%;padding-right:40px">
        <hr />
        <h4 style="padding-right:40px;">Decimal text box</h4>
        <table style="height:280px;margin-right:80px">
            <tr>
                <td style="width:100px;">
                    <label>Nullable</label>
                </td>
                <td>
                    <CheckBox @bind-Value="nullable1" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>غیرفعال</label>
                </td>
                <td>
                    <CheckBox @bind-Value="disable1" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>گروه بندی عددی</label>
                </td>
                <td>
                    <CheckBox @bind-Value="digitGrouping1" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Binding type</label>
                </td>
                <td>
                    <RadioList @bind-Value="BindingType1" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>تعداد ارقام صحیح</label>
                </td>
                <td>
                    <NumericTextBox Style="width:100px" @bind-Value="total1" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>تعداد ارقام اعشاری</label>
                </td>
                <td>
                    <NumericTextBox Style="width:100px" @bind-Value="numberDigit" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Value</label>
                </td>
                <td>
                    <span style="color:red">@(nullable ? decimalNullValue.Seprate3Digit() : decimalValue.Seprate3Digit())</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Action</label>
                </td>
                <td>
                     <button class="t-button" @onclick="async () => { await control1.FocusAsync(); }">Focus</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (nullable)
                    {
                        <NumericTextBox @ref="control1" @bind-Value="decimalNullValue" Total="total1" NumberDigit="numberDigit" BindingType="BindingType1" DigitGrouping="digitGrouping1" Disabled="disable1" />
                    }
                    else
                    {
                        <NumericTextBox @ref="control1" @bind-Value="decimalValue" Total="total1" NumberDigit="numberDigit" BindingType="BindingType1" DigitGrouping="digitGrouping1" Disabled="disable1" />
                    }
                </td>
            </tr>
        </table>
    </div>
</div>

@code {
    IControl control;
    int total = 8;
    int intValue;
    bool disable;
    bool nullable;
    int numberDigit = 2;
    int? intNullValue;
    bool digitGrouping = true;
    decimal decimalValue;
    decimal? decimalNullValue;
    BindingType BindingType = BindingType.OnChange;
    //---------------------------------------------------
    IControl control1;
    int total1 = 8;
    bool disable1;
    bool nullable1;
    bool digitGrouping1;
    BindingType BindingType1 = BindingType.OnChange;
}
