
@page "/Demo/PopupWindow"
@inherits BasePage
@{
    base.BuildRenderTree(__builder);
}
<div class="row d-head">
    <div class="col-md-6">
        <h3>Popup Window</h3>
    </div>
    <div class="d-source-btn col-md-6">
        <button @onclick="() => pdfStatus = WindowStatus.Open" class="c-btn c-primary">
            Source
            <i class="fa fa-code"></i>
        </button>
    </div>
</div>
<div class="d-body">
    <div class="row">
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Setting</h4>
                <div class="row">
                    <div class="col-md-12">
                        <RadioList Style="width:100%" @bind-Value="vAlign" />
                    </div>
                    <div class="col-md-12">
                        <RadioList Style="width:100%" @bind-Value="hAlign" />
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="c-btn c-primary" @onclick="() => { status = WindowStatus.Open; }">Show Popup</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Custom Position</h4>
                <div class="row c-controls">
                    <div class="col-md-12">
                        <CheckBox @bind-Value="enableCustomHorizontalAlign" Title="Custom horizontal align" />
                    </div>
                    @if (enableCustomHorizontalAlign)
                    {
                        <div class="col-md-2">
                            <label>Left</label>
                        </div>
                        <div class="col-md-4 pe-4">
                            <NumericTextBox @bind-Value="left" Disabled="right.HasValue" maxlength="3" />
                        </div>
                        <div class="col-md-2">
                            <label>Right</label>
                        </div>
                        <div class="col-md-4 pe-4">
                            <NumericTextBox @bind-Value="right" Disabled="left.HasValue" maxlength="3" />
                        </div>
                    }
                    else
                    {
                        left = null;
                        right = null;
                        <div class="col-md-12">
                            <RadioList Style="width:100%" @bind-Value="customHorizontalAlign" />
                        </div>
                    }
                    <div class="col-md-12">
                        <CheckBox @bind-Value="enableCustomVerticalAlign" Title="Custom vertical align" />
                    </div>
                    @if (enableCustomVerticalAlign)
                    {
                        <div class="col-md-2">
                            <label>Top</label>
                        </div>
                        <div class="col-md-4 pe-4">
                            <NumericTextBox @bind-Value="top" Disabled="bottom.HasValue" maxlength="3" />
                        </div>
                        <div class="col-md-2">
                            <label>Bottom</label>
                        </div>
                        <div class="col-md-4 pe-4">
                            <NumericTextBox @bind-Value="bottom" Disabled="top.HasValue" maxlength="3" />
                        </div>
                    }
                    else
                    {
                        top = null;
                        bottom = null;
                        <div class="col-md-12">
                            <RadioList Style="width:100%" @bind-Value="customVerticalAlign" />
                        </div>
                    }
                    <div class="text-center col-md-12">
                        <button class="c-btn c-info" @onclick="() => { status1 = WindowStatus.Open; }">Show Popup</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Custom</h4>
                <div class="row">
                    <div class="text-center col-md-12">
                        <button class="c-btn c-success" @onclick="() => { status2 = WindowStatus.Open; }">Show Popup</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Auto Hide</h4>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="c-btn c-success" @onclick="() => { autoHide = false; autoHideStatus = WindowStatus.Open; }">Show Popup</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<PopupWindow @bind-Status="status" AutoHide HorizontalAlign="hAlign" VerticalAlign="vAlign">
    <div style="width:500px;height:300px;text-align:center;padding-top:30px;">
        <h3>Popup Window</h3>
    </div>
</PopupWindow>

<PopupWindow @bind-Status="status1" Left="left" Right="right" Top="top" Bottom="bottom" 
    HorizontalAlign="customHorizontalAlign" VerticalAlign="customVerticalAlign">
    <div style="width:500px;height:300px;text-align:center;padding-top:30px;">
        <h3>Popup Window</h3>
    </div>
</PopupWindow>
<PopupWindow @bind-Status="status2" Style="width:450px;height:200px;border-radius:150px;top:35px;left:350px;">
    <div style="text-align:center;padding-top:80px;direction:ltr;font-size:14px;font-weight:900">
        style="width:500px;height:250px;border-radius:150px;top:10px;left:350px;"
    </div>
</PopupWindow>
<PopupWindow @bind-Status="autoHideStatus" AutoHide="autoHide" Style="width:450px;height:200px;top:40px;left:350px;">
    <div style="padding:50px; 30px 30px 30px">
        <hr />
        <div style="padding:0 20px">
            <CheckBox @bind-Value="autoHide" Title="Enable auto hide" />
        </div>
    </div>
</PopupWindow>
<CreatePdfComponent @bind-Status="pdfStatus" Title="Popup Window" FileName="PopupWindow.pdf" />
@code 
{
    bool enableCustomVerticalAlign = true;
    bool enableCustomHorizontalAlign = true;
    WindowStatus pdfStatus;
    int? top = 100;
    int? bottom;
    int? left = 200;
    int? right;
    bool autoHide;

    WindowStatus status;
    WindowStatus status1;
    WindowStatus status2;
    WindowStatus autoHideStatus;
    VerticalAlign vAlign = VerticalAlign.Center;
    HorizontalAlign hAlign = HorizontalAlign.Center;
    VerticalAlign customVerticalAlign = VerticalAlign.Center;
    HorizontalAlign customHorizontalAlign = HorizontalAlign.Center;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await base.BindTooltip();
        await base.OnAfterRenderAsync(firstRender);
    }
}
