
@page "/Demo/PopupWindow"
@inherits BasePage
@{
    base.BuildRenderTree(__builder);
}
<div class="row d-head">
    <div class="col-md-6">
        <h3>Popup Window</h3>
    </div>
    <div class="d-source-btn col-md-6">
        <button @onclick="() => pdfStatus = WindowStatus.Open" class="c-btn c-primary">
            Source
            <i class="fa fa-code"></i>
        </button>
    </div>
</div>
<div class="d-body">
    <div class="row">
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Setting</h4>
                <div class="row">
                    <div class="col-md-12">
                        <RadioList Style="width:100%" @bind-Value="vAlign" />
                    </div>
                    <div class="col-md-12">
                        <RadioList Style="width:100%" @bind-Value="hAlign" />
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="c-btn c-primary" @onclick="() => { status = WindowStatus.Open; }">Show Popup</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Custom Size & Position</h4>
                <div class="row">
                    <div class="col-md-1">
                        <label>Left</label>
                    </div>
                    <div class="col-md-2">
                        <NumericTextBox @bind-Value="left" maxlength="3"/>
                     </div>
                    <div class="col-md-1">
                        <label>Top</label>
                    </div>
                    <div class="col-md-2">
                        <NumericTextBox @bind-Value="top" maxlength="3"/>
                     </div>
                    <div class="col-md-1">
                        <label>Width</label>
                    </div>
                    <div class="col-md-2">
                        <NumericTextBox @bind-Value="width" maxlength="3"/>
                    </div>
                    <div class="col-md-1">
                        <label>Height</label>
                    </div>
                    <div class="col-md-2">
                        <NumericTextBox @bind-Value="height" maxlength="3"/>
                    </div>
                    <div class="text-center col-md-12">
                        <button class="c-btn c-info" @onclick="() => { status1 = WindowStatus.Open; }">Show Popup</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Custom</h4>
                <div class="row">
                    <div class="text-center col-md-12">
                        <button class="c-btn c-success" @onclick="() => { status2 = WindowStatus.Open; }">Show Popup</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Auto Hide</h4>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="c-btn c-success" @onclick="() => { autoHide = false; autoHideStatus = WindowStatus.Open; }">Show Popup</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<PopupWindow @bind-Status="status" HorizontalAlign="hAlign" VerticalAlign="vAlign">
    <div style="width:500px;height:300px;text-align:center;padding-top:30px;">
        <h3>Popup Window</h3>
    </div>
</PopupWindow>
@{
    left = left ?? 5;
    top = top ?? 5;
    width = width ?? 500;
    height = height ?? 350;
    string style = "top:" + top.ToString() + "px;left:" + left + "px;width:" + width + "px;height:" + height + "px";
}
<PopupWindow @bind-Status="status1" Style="@style">
    <div style="width:500px;height:300px;text-align:center;padding-top:30px;">
        <h3>Popup Window</h3>
    </div>
</PopupWindow>
<PopupWindow @bind-Status="status2" Style="width:450px;height:200px;border-radius:150px;top:10px;left:350px;">
    <div style="text-align:center;padding-top:80px;direction:ltr;font-size:14px;font-weight:900">
        style="width:500px;height:250px;border-radius:150px;top:10px;left:350px;"
    </div>
</PopupWindow>
<PopupWindow @bind-Status="autoHideStatus" AutoHide="autoHide" Style="width:450px;height:200px;top:40px;left:350px;">
    <div style="padding:50px; 30px 30px 30px">
        <hr />
        <div style="padding:0 20px">
            <CheckBox @bind-Value="autoHide" Title="Enable auto hide" />
        </div>
    </div>
</PopupWindow>
<CreatePdfComponent @bind-Status="pdfStatus" Title="Popup Window" FileName="PopupWindow.pdf" />
@code 
{
    WindowStatus pdfStatus;
    int? top;
    int? left;
    int? width;
    int? height;
    bool autoHide;

    WindowStatus status;
    WindowStatus status1;
    WindowStatus status2;
    WindowStatus autoHideStatus;
    VerticalAlign vAlign = VerticalAlign.Top;
    HorizontalAlign hAlign = HorizontalAlign.Center;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await base.BindTooltip();
        await base.OnAfterRenderAsync(firstRender);
    }
}
