@namespace Caspian.UI
@typeparam TValue 
@inherits CBaseInput<TValue>
@{ 
    var className = "t-picker-wrap";
    if (Disabled)
        className += " t-state-disabled";
    else if (ErrorMessage.HasValue())
        className += " t-state-error";
}
<div @ref="element" class="t-widget t-datepicker">
    <div class="@(className)">
        <input @attributes="@attrs" disabled="@Disabled" value="@text" @ref="htmlElement" class="t-input" autocomplete="off" @onchange="ChangeValue" />
        <span class="t-select" style="left:inherit" @onclick="OpenWindow">
            <i class="t-icon t-icon-calendar fa fa-calendar" title="Calendar"></i>
        </span>
    </div>
    @if (Status == WindowStatus.Open)
    {
        DateTime date = Value == null ? DateTime.Today : Convert.ToDateTime(Value);
        <div class="t-animation-container">
            <CalendarComponent Date="date" DateChanged="async d => await ChangeDate(d)" 
                FromDate="FromDate" ToDate="ToDate"/>
        </div>
    }
</div>

