@namespace Caspian.UI
<div style="@Style" class="t-widget t-upload">
    <Microsoft.AspNetCore.Components.Forms.InputFile class="t-input" OnChange="ViewFile" />
    <div class="t-content">
        @if (ChildContent == null)
        {
            <button>@Title</button>
        }
        else
        {
            @ChildContent
        }
    </div>
</div>
@code 
{
    protected override void OnInitialized()
    {
        if (Service != null)
            Service.Fileupload = this;
        base.OnInitialized();
    }

    [Parameter]
    public string Title { get; set; } = "...";

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public PictureBoxService Service { get; set; }

    [Parameter]
    public int MaxAllowedSize { get; set; } = 512000;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<InputFileChangeEventArgs> OnChange { get; set; }

    async void ViewFile(InputFileChangeEventArgs arg)
    {
        if (Service != null)
        {
            if (OnChange.HasDelegate)
                throw new CaspianException("خطا: File upload data is in service");
            if (Service.PictureBox == null)
                throw new CaspianException("خطا: Picturebox not recognized");
        } 
        else if (OnChange.HasDelegate)
            await OnChange.InvokeAsync(arg);
    }
}