@namespace Caspian.UI
@typeparam TValue
@inherits CBaseInput<TValue>
@{
    var className = "t-widget c-multi-select";
    if (Disabled)
        className += " t-state-disabled";
    else if (ErrorMessage.HasValue())
        className += " t-state-error";
}
<div @ref="htmlElement" tabindex="@TabIndex" class="@className">
    @{ 
        var diabledValue = Convert.ToInt64(DisabledValue);
    }
    @foreach (var item in Items)
    {
        var diabled = Disabled;
        var keyValue = Convert.ToInt64(item.Key);
        if (!diabled)
        {
            if ((diabledValue & keyValue) == keyValue)
                diabled = true;
        }
        var value = (keyValue & Convert.ToInt64(Value)) == keyValue;
        <CheckBox Disabled="diabled" Title="@item.Value" Value="value" 
                  ValueChanged="@(async (bool flag) =>
                                  {
                                      if (flag || Convert.ToInt64(Value) > 0)
                                        await ChangValue(item.Key, flag);
                                  })" />
    }
</div>
