@namespace Caspian.Engine.FormGenerator

@inject IJSRuntime JSRuntime
<Window @bind-Status="Status" Title="متن برچسب" Style="width:400px">
    <Content>
        <table style="width:95%;margin:0 auto">
            <tr>
                <td>
                    <label>متن</label>
                </td>
                <td>
                    <StringTextBox @bind-Value="Control.Text" Disabled="Control.SpecialField.HasValue" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>فیلد خاص</label>
                </td>
                <td>
                    <DropdownList TValue="SpecialFieldType?" Value="Control.SpecialField" Disabled="Control.SpecialField == null && Control.Text.HasValue()" 
                                  ValueChanged="@((value) =>
                                                   {
                                                       Control.SpecialField = value;
                                                       if (Control.SpecialField.HasValue)
                                                           Control.Text = "{" + Control.SpecialField.FaText() + "}";
                                                       else
                                                           Control.Text = null;
                                                   })" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center;height:60px;">
                    <button style="width:75px;" class="c-btn c-primary" @onclick="SaveData">ثبت</button>
                    <button style="width:75px;margin-left:15px;" class="c-btn c-danger"
                            @onclick="async () =>
                                      {
                                          await StatusChanged.InvokeAsync(WindowStatus.Close);
                                      }">
                        انصراف
                    </button>
                </td>
            </tr>
        </table>
    </Content>
</Window>

@code 
{
    string message;
    bool isUpdated;
    async void SaveData()
    {
        if (Control.SpecialField == null && !Control.Text.HasValue())
            message = "لطفا عنوان برچسب و یا فیلد خاص را مشخص نمایید";
        else
        {
            isUpdated = true;
            await StatusChanged.InvokeAsync(WindowStatus.Close);
        }
    }

    [Parameter]
    public WindowStatus Status { get; set; }

    [Parameter]
    public EventCallback<WindowStatus> StatusChanged { get; set; }

    [Parameter]
    public FormControl Control { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (message.HasValue())
        {
            await JSRuntime.InvokeVoidAsync("$.telerik.showMessage", message);
            message = null;
        }
        if (isUpdated)
        {
            await JSRuntime.InvokeVoidAsync("$.form.updateLable", Control);
            isUpdated = false;
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
