@page "/Demo/DatePicker"
@namespace Demo.Web.Pages
@using System.Globalization;

<h2>Date Picker</h2>
<h3>Binding</h3>
<p>
    this component bind to <b>DateTime</b> or <b>Nullable DateTime</b>. It can be used in two modes, default mode (browser date picker) and custom mode. In custom mode this component moves(drop) up or down based on its location
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="d-content">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Bind to <i>DateTime</i></h4>
                        <span class="c-demo-description">In this example we bind the component to <b><i>date</i></b> which is a <b>DateTime variable</b></span>
                    </div>
                    <div class="col-md-6">
                        <div class="row c-controls">
                            <div class="col-md-12">
                                <div class=" c-demo-control">
                                    <DatePicker @bind-Value="date" PersianCalendar="false" />
                                </div>
                            </div>
                            <div class="ps-5 col-md-6">
                                <label>Selected date</label>
                            </div>
                            <div class="pe-5 col-md-6 text-center">
                                <label style="color:red;direction:ltr">@(date.ToShortDateString())</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <h4>Bind to <i>nullable DateTime</i> </h4>
                        <span class="c-demo-description">In this example web bind the component to <b><i>nullableDate</i></b> which is a <b>nullable DateTime variable</b></span>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <div class="row c-controls">
                            <div class="col-md-12">
                                <div class=" c-demo-control">
                                    <DatePicker @bind-Value="nullableDate" />
                                </div>
                            </div>
                            <div class="ps-5 col-md-6">
                                <label>Selected date</label>
                            </div>
                            <div class="pe-5 col-md-6 text-center">
                                <label style="color:red;">@(nullableDate.HasValue ? nullableDate.Value.ToShortDateString() : "---")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="DatePicker" FileName="Binding" />
        </TabPanelItem>
    </Tabs>
</TabPanel>
<h3 class="pt-5">Default mode</h3>
<p>
    As mentioned earlier, this component can be used in two ways: the default mode (browser date picker) and the custom mode.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="d-content">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Browser date picker</h4>
                        <span class="c-demo-description">In this example, we use the browser's date picker. Obviously, in this case, we will be limited to the features of the browser's date picker.</span>
                    </div>
                    <div class="col-md-6">
                        <div class="row c-controls">
                            <div class="col-md-12">
                                <div class=" c-demo-control">
                                    <DatePicker DefaultMode @bind-Value="defauktModeDate" />
                                </div>
                            </div>
                            <div class="ps-5 col-md-6">
                                <label>Selected date</label>
                            </div>
                            <div class="pe-5 col-md-6 text-center">
                                <label style="color:red;">@(defauktModeDate.ToShortDateString())</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="DatePicker" FileName="DefaultMode" />
        </TabPanelItem>
    </Tabs>
</TabPanel>
<h3 class="pt-4">General properties</h3>
<p>
    We can specify <b>general properties</b> such as <b>width</b> and <b>disable</b>. if we do not specify the width of the control, its width will be 100% and fit to parent.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="d-content">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Width property</h4>
                        <span class="c-demo-description">By setting the <b>Style</b> parameter, we can easily <b>change width</b> and other css properties of the control. it has <b>intellisense</b> for css properties</span>
                    </div>
                    <div class="col-md-6">
                        <div class="row c-controls c-demo-control">
                            <div class="col-md-4">
                                <label>Control size</label>
                            </div>
                            <div class="col-md-8">
                                <DropdownList @bind-Value="controlSize" />
                            </div>
                            <div class="col-md-12">
                                <DatePicker Style="@GetStyle()" @bind-Value="date" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <h4>Disable control</h4>
                        <span class="c-demo-description">By setting the <b>Disabled</b> parameter, we can easily <b>enable & disable</b> the control. This parameter is a <b>boolean</b> parameter</span>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <div class="row c-controls c-demo-control">
                            <div class="col-md-4">
                                <label>Enable/Disable</label>
                            </div>
                            <div class="col-md-8">
                                <CheckBox @bind-Value="disable" />
                            </div>
                            <div class="col-md-12">
                                <DatePicker @bind-Value="date" Disabled="disable" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="DatePicker" FileName="GeneralProperties" />
        </TabPanelItem>
    </Tabs>
</TabPanel>
<h3 class="pt-4">Enable date within a range</h3>
<p>
    In our custom mode, we can enable a specific <b>range of date</b>, or <b>from a date</b>, or <b>until a specific date</b> to select.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="d-content">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Enable/disable range of Date</h4>
                        <span class="c-demo-description">We use two parameters <b>FromDate</b> and <b>ToDate</b> to determine the <b>active range</b>, if each parameter is null, the restriction is removed.</span>
                    </div>
                    <div class="col-md-6">
                        <div class="row c-controls c-demo-control">
                            <div class="col-md-12">
                                <DatePicker @bind-Value="rangeDate" FromDate="fromDate" ToDate="toDate" />
                            </div>
                            <div class="col-md-4">
                                <label>From Date</label>
                            </div>
                            <div class="col-md-8">
                                <DatePicker @bind-Value="fromDate" />
                            </div>
                            <div class="col-md-4">
                                <label>To Date</label>
                            </div>
                            <div class="col-md-8">
                                <DatePicker @bind-Value="toDate" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="DatePicker" FileName="Range" />
        </TabPanelItem>
    </Tabs>
</TabPanel>
@code
{
    DateTime date = DateTime.Now;
    DateTime? defauktModeDate = DateTime.Now;
    bool disable;
    DateTime? nullableDate = DateTime.Now;
    ControlSize controlSize = ControlSize.Auto;
    DateTime? fromDate = DateTime.Now.AddDays(-50);
    DateTime? toDate = DateTime.Now.AddDays(50);
    DateTime? rangeDate = DateTime.Now;

    string GetStyle()
    {
        switch (controlSize)
        {
            case ControlSize.Large:
                return "width:300px";
            case ControlSize.Medium:
                return "width:200px";
            case ControlSize.Small:
                return "width:150px";
            case ControlSize.Auto:
                return "";
        }
        throw new NotImplementedException();
    }
}
