@namespace Caspian.UI
<div  class="c-form-action">
    <button class="c-btn c-primary" @attributes="Attributes" type="submit">@SumitButtonTitle</button>
    <button class="c-btn c-danger" type="reset">@ResetButtonTitle</button>
</div>

@code
{
    protected override void OnInitialized()
    {
        SumitButtonTitle = "ثـبـت";
        ResetButtonTitle = "بازنشانی";
        base.OnInitialized();
    }

    [Parameter]
    public string SumitButtonTitle { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }

    [Parameter]
    public string ResetButtonTitle { get; set; }
}
