@namespace Caspian.UI
@inject CaspianDataService service
@{
    string sumitTitle = SumitButtonTitle ?? (service.Language == Language.Fa ? "ثـبـت" : "Save");
    string resetButtonTitle = ResetButtonTitle ?? (service.Language == Language.Fa ? "بازنشانی" : "Reset");
}
<div  class="c-form-action">
    <button class="c-btn c-primary" @attributes="Attributes" type="submit">@sumitTitle</button>
    <button class="c-btn c-danger" type="reset">@resetButtonTitle</button>
</div>

@code
{

    [Parameter]
    public string SumitButtonTitle { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }

    [Parameter]
    public string ResetButtonTitle { get; set; }
}
