@namespace Caspian.Engine.RuleGenerator
@using Caspian.Common.Attributes
@inherits SimplePage<Rule>
@{
    base.BuildRenderTree(__builder);
}
<div style="width:90%;margin:0 auto">
    <table style="width:100%">
        <tr>
            <td>
                <label>عنوان</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Title" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="Rule" ConditionExpr="t => t.SystemKind == Subsystem" Search="SearchData" TableHeight="400">
        <Columns>
            <GridColumn Field="t => t.Title" />
            <GridColumn Field="t => t.ResultType.EnumText()" Title="نوع خروجی" />
            <GridColumn Field="t => t.Priority" />
            <GridColumn Field="t => t.IsValid" Title="نهایی" />
            <GridColumn Title="ایجاد" style="width:80px">
                <Template>
                    <a href="/Engine/RuleEngine/@(context.Data.Id)" target="_blank">...</a>
                </Template>
            </GridColumn>
            <GridColumn Title="بررسی" style="width:60px">
                <Template>
                    <span class="c-btn c-primary r-check" @onclick="async () => await SetPriority(context.Data.Id)">
                        <i class="fa fa-check"></i>
                    </span>
                </Template>
            </GridColumn>
            <GridCommandColumns/>
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" OnOpen="() => { UpsertData.SystemKind = Subsystem; }" Title="فرمول" Style="width:400px">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                @{
                    var disable = UpsertData.Priority != null;
                }
                <CaspianValidationValidator ValidatorType="typeof(RuleService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>نوع فرمول</label>
                        </td>
                        <td>
                            <ComboBox TValue="string" TEntity="SelectListItem" @bind-Value="UpsertData.TypeName" Disabled="disable" Source="RuleTypes" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:90px">
                            <label>نوع خروجی</label>
                        </td>
                        <td>
                            <DropdownList @bind-Value="UpsertData.ResultType" Disabled="disable" />
                        </td>
                    </tr>
                    @if (UpsertData.ResultType == ValueTypeKind.Enum)
                    {

                            <tr>
                                <td>
                                    <label>نوع شمارشی</label>
                                </td>
                                <td>
                                    <DropdownList @bind-Value="UpsertData.EnumTypeName" Source="modelEnums" Disabled="disable" />
                                </td>
                            </tr>
                    }
                    <tr>
                        <td>
                            <label>قانون فرم</label>
                        </td>
                        <td>
                            <CheckBox @bind-Value="UpsertData.FormRule" Disabled="disable" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>عنوان</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>شرح</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Descript" MultiLine Rows="3" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>

        </Content>
    </Window>
</div>

@code
{
    List<SelectListItem> RuleTypes;
    IList<SelectListItem> modelEnums;

    [Parameter]
    public SubSystemKind Subsystem { get; set; }

    protected override void OnInitialized()
    {
        RuleTypes = new AssemblyInfo().GetRuleTypes(Subsystem).Select(t => new SelectListItem(t.Key, t.Value)).ToList();
        modelEnums = Subsystem.GetEntityAssembly().GetTypes().Where(t => t.IsEnum).Select(t => new SelectListItem
            {
                Value = t.Name,
                Text = t.GetCustomAttribute<EnumTypeAttribute>()?.Title ?? t.Name
            }).ToList();
        base.OnInitialized();
    }

    async Task SetPriority(int ruleId)
    {
        var scope = CreateScope();
        var service = new RuleService(scope.ServiceProvider);
        var rule = await service.GetAll().Include(t => t.Tokens).Include("Tokens.DynamicParameter")
            .Include("Tokens.RuleValue").SingleAsync(ruleId);
        rule.Priority = service.CalculateRulePriority(rule);
        await service.SaveChangesAsync();
        await CrudGrid.Reload();
    }
}
