@namespace Caspian.UI.Client
@implements IWindow
@inject BasePageService PageService
@inject IJSRuntime jsRuntime
@if (Status == WindowStatus.Open && Modal)
{
    <div class="t-overlay"></div>
}
<CascadingValue TValue="IWindow" Value="this" Name="ParentWindow">
    <div @attributes="attrs" class="t-widget t-window">
        @if (HeaderTemplate == null || !ShowCustomHeader || ChildContent != null)
        {
            <div class="t-window-titlebar t-header">
                <span class="t-window-title">@Title</span>
                <span @onclick="Close" class="t-window-action t-link">
                    <i class="fa fa-close"></i>
                </span>
            </div>
        }
        else
        {
            <div class="t-window-titlebar">
                @HeaderTemplate
            </div>
        }
        <div @ref="window" status="@Status.ConvertToInt()" modal="@(Modal)" draggable="@(Draggable)" class="t-window-content t-content">
            @if (Status == WindowStatus.Open)
            {
                <MessageBox @ref="messageBox" />
                @if (ChildContent == null)
                {
                    @Content
                }
                else
                {
                    @ChildContent
                }
            }
        </div>
    </div>
</CascadingValue>