@namespace Caspian.UI
@using System.Text.Json;
@inject IJSRuntime jSRuntime
@if (Status == WindowStatus.Open)
{
    <div @ref="element" style="@Style" class="@className">
        @ChildContent
    </div>
}
