@namespace Caspian.UI
<div class="c-window-action">
    <button class="c-btn c-primary" type="submit">@SumitButtonTitle</button>
    <button class="c-btn c-danger" type="button" @onclick="CloseWindow">انصراف</button>
</div>

@code 
{ 
    protected override void OnInitialized()
    {
        SumitButtonTitle = "ثبت";
        base.OnInitialized();
    }

    protected void CloseWindow()
    {
        Window.Close();
    }

    [CascadingParameter(Name = "ParentWindow")]
    public IWindow Window { get; set; }

    [Inject]
    public WindowAppState AppState { get; set; }

    [Parameter]
    public string SumitButtonTitle { get; set; }
}
