
.m-orders {
    width: 300px;
    padding: 5px 3px;
    overflow: auto;
    height: calc(100vh - 80px);
}

.m-order-item {
    padding:4px 0;
    border-bottom: 1px solid #d8d8d8;
}
.m-order-item span{
    text-align: center;
    display: inline-block;
}
.m-order-number{
    width:32px;
}
.m-total-amount{
    width:125px;
}
.m-order-type {
    width: 50px;
}

.selected {
    background-color: #d6e3ff;
}

.m-orders-step1 {
    padding: 5px;
    width: 120px;
}

.m-action {
    margin: 5px auto;
    width: 100px;
    border: none;
    height: 32px;
    border-radius: 16px;
}
