::deep .m-description {
    border: 1px solid #b9bece;
    padding: 3px;
    border-radius: 8px;
    margin: 5px;
    height: 100px;
    overflow: auto;
    width:500px;
}
    ::deep .m-description span {
        padding: 0 5px;
        margin: 5px;
        border: 1px solid #b1b9ce;
        border-radius: 8px;
        display: inline-block;
        cursor: pointer;
        height: 32px;
        line-height: 20px;
        min-width:60px;
    }
        ::deep .m-description span:hover {
            background-color: aliceblue;
        }
        ::deep .m-description span:active {
            animation: gradient 100ms;
        }


        ::deep .m-topping-main {
            width: 600px;
            padding: 3px;
        }
.m-main {
    display: flex;
    flex-direction: row-reverse;
}

.m-order-details {
    width: 50%;
    padding: 5px;
}

.m-product-panel {
    width: 50%;
}
.m-counter-icon {
    border: 1px solid #c9c9c9;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 15px;
    padding-top: 6px;
    background-color: white;
}

    .m-counter-icon:hover {
        background-color: #F0EEF2;
    }

    .m-counter-icon .fa {
        color: #423d96 !important;
        vertical-align: middle;
        font-size: 18px;
    }

::deep .m-price-discount {
    text-decoration-line: line-through;
    text-decoration-color: red;
}

::deep .m-price, ::deep .m-price-discount {
    font-weight: bold;
    display: block;
}

.m-products, ::deep .m-topping-container {
    display: flex;
    border: 1px solid #c4c4c4;
    margin: 5px;
    border-radius: 8px;
    height: calc(60% - 15px);
    min-height: 60px;
    flex-wrap: wrap;
    align-content: flex-start;
}
::deep .m-topping-details{
    padding:8px 5px;
}
.m-product, ::deep .m-topping {
    padding: 0 5px;
    border: 1px solid #c4c4c4;
    margin: 5px;
    height: 30px;
    line-height: 25px;
    color: dimgray;
    border-radius: 6px;
    cursor: default;
    overflow:hidden;
    white-space:nowrap;
}

    .m-product:active, .fa-plus:active, .fa-minus:active, ::deep .m-topping:active, ::deep .fa-plus:active, ::deep .fa-minus:active {
        animation: gradient 100ms;
    }
::deep .m-selected {
    background-color: aqua !important;
}
.m-quantity, ::deep .m-quantity {
    display: flex;
    align-items: center;
}

::deep .t-grid tr td {
    line-height: 15px !important;
}

::deep .m-quantity input {
    height: 30px !important;
    border-radius: 15px;
    text-align: center;
}

::deep .t-grid .t-header {
    padding: 0 3px;
}


.m-categories {
    display: flex;
    border: 1px solid #c4c4c4;
    padding: 5px 3px;
    margin: 5px;
    border-radius: 8px;
    height: 40%;
}

.m-category {
    padding: 0 5px;
    border: 1px solid #c4c4c4;
    margin: 0 5px;
    height: 30px;
    line-height: 25px;
    color: dimgray;
    border-radius: 6px;
}

    .m-category:hover, .m-product:hover, ::deep .m-topping:hover {
        background-color: aliceblue;
    }

    .m-category .fa-chevron-left {
        color: lightgray;
    }

.m-subcategories {
    padding: 5px 0;
}

    .m-subcategories .m-subcategory {
        height: 30px;
        padding-right: 5px;
        cursor: default;
    }

        .m-subcategories .m-subcategory:nth-child(2n+1) {
            background-color: #f1f1f1;
        }

        .m-subcategories .m-subcategory:hover {
            background-color: aliceblue;
        }

.m-selected {
    background-color: aqua !important;
}