.fa-plus {
    color: #0dcaf0 !important;
    vertical-align: middle;
    font-size:18px;
}
.d-tree-icon {
    padding-right: 8px;
}

    .d-tree-icon .fa {
        font-size: 18px !important;
    }
.c-treeview .fa-pencil, .c-treeview .fa-trash {
    color: #423d96;
}

.d-tree-icon {
    vertical-align: middle;
    cursor: pointer;
}


.c-node-template {
    height: 27px;
    display: flex;
}

.c-treeview .c-icon {
    vertical-align: middle;
    width: 16px;
    display: inline-block;
}