.c-header {
    border: 1px solid #bdbdbd;
    margin: 5px;
    border-radius: 8px;
    padding: 10px 15px;
    width:700px;
    margin:10px auto!important;
}

.c-body {
    border: 1px solid #bdbdbd;
    height: calc(100vh - 105px);
    border-radius: 8px;
    width: 700px;
    overflow: auto;
    margin: 0 auto !important;
}
.d-tree-icon .fa-plus {
    color: #0dcaf0 !important;
    vertical-align: middle;
    font-size:18px;
}

    .d-tree-icon .fa {
        font-size: 18px !important;
    }
.c-treeview .fa-pencil, .c-treeview .fa-trash {
    color: #423d96;
    padding-top:5px;
}

.d-tree-icon {
    vertical-align: middle;
    cursor: pointer;
    border:1px solid transparent;
    display:inline-block;
    width:29px;
    height:29px;
    text-align:center;
    border-radius:15px;
}
    .d-tree-icon:hover {
        border: 1px solid #d0d0d0;
        background-color: #F0EEF2;
    }

.c-node-template {
    height: 27px;
    display: flex;
}

.c-treeview .c-icon {
    vertical-align: middle;
    width: 16px;
    display: inline-block;
}

.d-membership {
    text-align: center;
    color: #4f9995;
    font-weight: bold;
    font-size: 15px;
}

.c-icon-button.c-title{
    min-width:30px;
    margin-top:2px;
    border-radius:15px!important;
}