.c-alise-head{
    dis
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.c-loginerrortx {
    display: inline-block;
    color: #e64b50;
    text-align: center;
}

.fa-exclamation-circle:before {
    content: "\f06a";
}



.c-form-designer textarea{
    background-color:transparent;
    cursor:default;
}
.c-form-designer .t-select {
    background-color: transparent !important;
    cursor: default !important;
}
    .c-form-designer .t-select .t-icon {
        cursor: default !important;
        background-color: transparent !important;
    }
.c-form-designer .t-input {
    background-color: transparent !important;
    cursor: default !important;
    color:transparent!important;
}
.c-form-designer legend{
    margin-right:15px;
}
legend {
    margin-right: 15px;
}
.c-form-designer .t-t-select {
    background-color: transparent !important;
    cursor: default !important;
}