@page "/"
<a href="/1">Report 1</a>
<button @onclick="() => counter++">Count: @(counter)</button>


@code 
{
    int counter = 1;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override Task OnInitializedAsync()
    {
        
        return base.OnInitializedAsync();
    }
}
