@page "/{ReportId:int}"
@inject HttpClient Host
@namespace Caspian.Report
@using Caspian.Report.Data
@using Caspian.UI
@inject IJSRuntime JSRuntime
@{
    var style = $"width:{windowWidth}px;";
}
<MessageBox @ref="messageBox" />
@if (Data != null)
{
    <div  tabindex="1" @onkeydown="OnKeyDown" @ref="element" style="cursor:@(cursor)" class="r-page" @onmousemove="MouseMove" @onmousedown="MouseDown" @onmouseup="MouseUp"
         @onclick="MouseClick">
        <ToolsBar @ref="toolsBar" Page="this" OnChange="() => {}" />
        <div class="report-content">
            <ToolsBox @ref="toolsBox" Page="this" />
            <div class="report-panel">
                <div id="bindConfig">
                    <span>Bounds Config</span>
                </div>
                <div id="ruler">
                </div>
                <Bound @ref=Bound Page="this" Data="Data.Bound"/>
            </div>
        </div>
        @if (controlAdding)
        {
            <ReportControl @ref="creatingControl" Data="controlData" Page="this" />
        }
        @if (tableAdding)
        {
            <Table @ref="creatingTable" Data="tableData" Bound="Bound" />
        }
    </div>
}

<Window Title="@windowTitle" Style="@style" Status="status" StatusChanged="CloseWindow">
    @if (SelectedControl?.Data.ControlType == ControlType.PictureBox)
    {
        <PictureBoxWindow Status="status" StatusChanged="CloseWindow" Page="this" />
    }
    else
    {
        if (isTextWindow)
        {
            <TextboxWindow Status="status" StatusChanged="CloseWindow" Page="this" />
        }
        else
        {
            <ColumnWindow Status="status" StatusChanged="CloseWindow" />
        }
    }
</Window>



