@namespace Caspian.Report
@using Caspian.Common

@{
    var style = $"left:{Data.Left}px;top:{Data.Top}px;width:{Data.Width}px;height:{Data.Height}px;";
    var textStyle = $"{Data.Alignment.TextStyle + Data.Font.Style}";
}
<div class="r-controls" style="@style" @onmousedown="SelectControl" @ondblclick="OpenWindow">
    @if (Page.SelectedControl == this)
    {
        <span class="r-square r-top-center"></span>
        <span class="r-square r-bottom-center"></span>
        <span class="r-square r-left-middle"></span>
        <span class="r-square r-right-middle"></span>
    }
    <span class="r-angle r-top-left"></span>
    <span class="r-angle r-top-right"></span>
    <span class="r-angle r-bottom-left"></span>
    <span class="r-angle r-bottom-right"></span>
    <div style="@(Data.Alignment.Style + Data.Border.Style)" class="r-controls-flex">
        <span style="@textStyle">@Data.Text</span>
    </div>
</div>
