@namespace Caspian.Report
<div class="r-toolsbox">
    <span @onmousedown="AddControl" class="tools textbox" title="متن"></span>
    <span @onmousedown="AddTable" class="tools picture" title="تصویر"></span>
    <span class="tools subreport" title="گزارش فرعی"></span>
    <span class="tools table" title="جدول"></span>
    <span class="tools checkbox" title="check box"></span>
    <span class="tools chart" title="نمودار"></span>
</div>

@code 
{
    async Task AddControl(MouseEventArgs e)
    {
        await Page.AddControl(e.ClientX, e.ClientY);
    }

    async Task AddTable(MouseEventArgs e)
    {
        var data = ToolsBox.GetTableData(Page.Bound.ColumnCount);
        await Page.AddTable(e.ClientX, e.ClientY, data);
    }

    public static TableData GetTableData(int columnCount)
    {
        var table = new TableData();
        table.HeaderCells = new List<HeaderCell>()
            {
                new HeaderCell(){Width = 100},
                new HeaderCell(){Width = 150},
            };
        if (columnCount < 2)
        {
            table.HeaderCells.Add(new HeaderCell() { Width = 200 });
            table.HeaderCells.Add(new HeaderCell() { Width = 200 });
        }
        table.Rows = new List<TableRow>();
        var row = new TableRow();
        row.RowIndex = 1;
        for (var colIndex = 1; colIndex <= table.HeaderCells.Count; colIndex++)
        {
            row.Cells.Add(new TableCell(row)
                {
                    ColIndex = colIndex
                });
        }
        table.Rows.Add(row);
        return table;
    }

    [Parameter]
    public Page Page { get; set; }
}
