@namespace Caspian.UI
@typeparam TEntity
@if (!HideInsertIcon)
{
    <div class="t-toolbar t-grid-toolbar t-grid-top">
        @if (!HideInsertIcon)
        {
            var className = "t-grid-add";
            if (DisableInsertIcon)
                className += " c-disabled";
            <span @onclick="OpenAddForm" class="@className">
                <span class="t-icon fa fa-plus"></span>
            </span>
        }
    </div>
}


