@page "/Demo/FormAndValidation"
@namespace Demo.Web.Pages
@inherits BasePage
@{
    base.BuildRenderTree(__builder);
}
<h2>Form & Validation</h2>
<p>
    We use the <b>CaspianForm</b> component to <b>validate the model</b> and <b>reset</b> components. In validation we use a service to validate a model.
    <br />
    As mentioned before, we create at least <b>one service per entity</b>, the infrastructure automatically injects these services, 
    and if the model has only <b>one service</b>, this service is automatically used for validation. Otherwise, 
    the programmer must specify the desired service.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="d-content">
                <div class="row">
                    <div class="col-md-5">
                        <h4>Form binding</h4>
                        <span class="c-demo-description">In this example, we defined the <b>UpsertData</b> field (of <b>product</b> type) and <b>bind the form</b> to it with the <b>Model</b> parameter.</span>
                        <h4 class="pt-4">Control binding</h4>
                        <span class="c-demo-description">All controls inside the form must be bind to <b>UpsertData</b>(the model form bind to it) properties.</span>
                        <div class="pt-3">
                            <span class="fa fa-info"> Note:</span>
                        </div>
                        <ul class="d-demo-list">
                            <li>
                                On form submit, the state of controls with invalid data is set to error.
                            </li>
                            <li>
                                In invalid submit, the first control with invalid data is focused.
                            </li>
                            <li>
                                In the error-state, the error message is <b>displayed</b> in the <b>focus-in</b> mode and <b>hidden</b> in the <b>focus-out</b> mode.
                            </li>
                            <li>
                                In <b>resetting</b> the form, the <b>data</b> and <b>error-state</b> are cleared.
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <CaspianForm Model="upsertData">
                            <div class="data-form-container p-4">
                                <div class="row c-controls">
                                    <div class="col-md-4">
                                        <label>Product category</label>
                                    </div>
                                    <div class="col-md-8">
                                        <ComboBox TEntity="ProductCategory" TValue="int" @bind-Value=upsertData.ProductCategoryId TextExpression="t => t.Title" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Title</label>
                                    </div>
                                    <div class="col-md-8">
                                        <StringTextBox @bind-Value="upsertData.Title" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Code</label>
                                    </div>
                                    <div class="col-md-8">
                                        <StringTextBox @bind-Value="upsertData.Code" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Price</label>
                                    </div>
                                    <div class="col-md-8">
                                        <NumericTextBox @bind-Value="upsertData.Price" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Take out price</label>
                                    </div>
                                    <div class="col-md-8">
                                        <NumericTextBox @bind-Value="upsertData.TakeoutPrice" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Meal</label>
                                    </div>
                                    <div class="col-md-8">
                                        <MultiSelectBox @bind-Value="upsertData.Meal" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-md-8">
                                        <DropdownList @bind-Value="upsertData.ActiveType" />
                                    </div>
                                    <div class="pt-5 col-md-12">
                                        <FormCommandButton SumitButtonTitle="Submit" />
                                    </div>
                                </div>
                            </div>
                        </CaspianForm>
                    </div>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Razor">
            <Document FolderName="FormValidation" FileName="Binding" />
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Service">
            <Document FolderName="Service/Services" FileName="ProductService" />
        </TabPanelItem>
    </Tabs>
</TabPanel>
<h3 class="pt-3">Form events</h3>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="d-content">
                <div class="row">
                    <div class="col-md-5">
                        <h4>Form events</h4>
                        <span class="c-demo-description">In this section, we describe the events of the form, these events include:</span>
                        <ul class="d-demo-list">
                            <li>
                                <b>OnSubmit: </b>This event is fired after form submission and before model validation, some model initialization can be done in this event.
                            </li>
                            <li>
                                <b>OnInvalidSubmit: </b>This event is fired after validating the model and if the model is invalid.
                            </li>
                            <li>
                                <b>OnValidSubmit: </b>This event is fired after validating the model and if the model is valid.
                            </li>
                            <li>
                                <b>OnReset: </b>This event is fired after the form is reset.
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <CaspianForm Model="upsertData" OnSubmit="FormSubmit" OnReset="FormReset" 
                                OnInvalidSubmit="InvalidSubmit" OnValidSubmit="ValidSubmit" >
                            <div class="data-form-container p-4">
                                <div class="row c-controls">
                                    <div class="col-md-4">
                                        <label>Product category</label>
                                    </div>
                                    <div class="col-md-8">
                                        <ComboBox TEntity="ProductCategory" TValue="int" @bind-Value=upsertData.ProductCategoryId TextExpression="t => t.Title" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Title</label>
                                    </div>
                                    <div class="col-md-8">
                                        <StringTextBox @bind-Value="upsertData.Title" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Code</label>
                                    </div>
                                    <div class="col-md-8">
                                        <StringTextBox @bind-Value="upsertData.Code" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Price</label>
                                    </div>
                                    <div class="col-md-8">
                                        <NumericTextBox @bind-Value="upsertData.Price" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Take out price</label>
                                    </div>
                                    <div class="col-md-8">
                                        <NumericTextBox @bind-Value="upsertData.TakeoutPrice" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Meal</label>
                                    </div>
                                    <div class="col-md-8">
                                        <MultiSelectBox @bind-Value="upsertData.Meal" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-md-8">
                                        <DropdownList @bind-Value="upsertData.ActiveType" />
                                    </div>
                                    <div class="pt-5 col-md-12">
                                        <FormCommandButton SumitButtonTitle="Submit" />
                                    </div>
                                </div>
                            </div>
                        </CaspianForm>
                    </div>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Razor">
            <Document FolderName="FormValidation" FileName="Events" />
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Service">
            <Document FolderName="Service/Services" FileName="ProductService" />
        </TabPanelItem>
    </Tabs>
</TabPanel>
@code
{
    WindowStatus status;
    Product upsertData = new Product();

    async Task FormSubmit()
    {
        await Alert("Form Submited");
    }

    void FormReset()
    {
        ShowMessage("Form is reset");
    }

    void InvalidSubmit()
    {
        ShowMessage("Product is invalid");
    }

    void ValidSubmit(EditContext context)
    {
        ShowMessage("product is Valid");
    }
}
