@namespace Caspian.Report

@{
    var style = $"left:{Left}px;top:{Top}px;width:{Width}px;height:{Height}px";
}
<div class="r-controls" style="@style" @onmousedown="SelectControl">
    @if (Page.SelectedControl == this)
    {
        <span class="r-square r-top-center"></span>
        <span class="r-square r-bottom-center"></span>
        <span class="r-square r-left-middle"></span>
        <span class="r-square r-right-middle"></span>
    }
    <span class="r-angle r-top-left"></span>
    <span class="r-angle r-top-right"></span>
    <span class="r-angle r-bottom-left"></span>
    <span class="r-angle r-bottom-right"></span>
</div>

@code 
{
    double xStart, yStart, widthStart, heightStart, leftStart, topStart;
    ChangeType? changeType;

    protected override void OnInitialized()
    {
        Alignment = new Alignment();
        Font = new Font();
        Border = new Border();
        if (BondType.HasValue)
        {
            Page.SelectControl(this);
            changeType = null;
        }
        base.OnInitialized();
    }

    public double Width { get; private set; } = 180;

    public double Height { get; private set; } = 30;

    [Parameter]
    public double Left { get; set; }

    [Parameter]
    public BondType? BondType { get; set; }

    [Parameter]
    public double Top { get; set; }

    public Alignment Alignment { get; private set; }

    public Font Font { get; private set; }

    public Border Border { get; private set; }

    [Parameter]
    public Page Page { get; set; }

    [Parameter]
    public EventCallback<ControlData> OnChange { get; set; }

    public void SelectControl()
    {
        Page.SelectControl(this);
        Page.Bound.ResetBond();
        Page.Bound.DisableSelection();
    }

    public string GetCursor(double x, double y)
    {
        double right = Left + Width, bottom = Top + Height;
        if (Math.Abs(y - Top) < 5 && x > Left && x < right)
            return "n-resize";
        if (Math.Abs(y - bottom) < 5 && x > Left && x < right)
            return "s-resize";
        if (Math.Abs(x - Left) < 5 && y > Top && y < bottom)
            return "e-resize";
        if (Math.Abs(x - right) < 5 && y > Top && y < bottom)
            return "e-resize";
        if (x > Left + 5 && x < right - 5 && y > Top + 5 && y < bottom - 5)
            return "move";
        return "default";
    }

    public void DragStart(double x, double y)
    {
        double right = Left + Width, bottom = Top + Height;
        if (Math.Abs(y - Top) < 5 && x > Left && x < right)
            changeType = ChangeType.TopResize;
        else if (Math.Abs(y - bottom) < 5 && x > Left && x < right)
            changeType = ChangeType.BottomResize;
        else if (Math.Abs(x - Left) < 5 && y > Top && y < bottom)
            changeType = ChangeType.LeftResize;
        else if (Math.Abs(x - right) < 5 && y > Top && y < bottom)
            changeType = ChangeType.RightResize;
        else if (x > Left + 5 && x < right - 5 && y > Top + 5 && y < bottom - 5)
            changeType = ChangeType.Move;
        else
            changeType = null;
        if (changeType.HasValue)
        {
            Page.Bound.DisableSelection();
            xStart = x;
            yStart = y;
            leftStart = Left;
            topStart = Top;
            widthStart = Width;
            heightStart = Height;
        }
    }

    public void InitializeBeforAddedToPage()
    {
        changeType = ChangeType.Move;
        BondType = null;
    }

    public async Task Move(int x, int y)
    {
        await OnChange.InvokeAsync(new ControlData(Left + x, Top + y));
    }

    public void Resize(int width, int height)
    {
        Width += width;
        Height += height;
    }

    public async Task Drag(double x, double y)
    {
        if (changeType == null)
            return;
        double difX = xStart - x, difY = yStart - y;
        var controlData = new ControlData(Left, Top);
        RecData bondData = null;
        if (BondType.HasValue)
            bondData = Page.Bound.GetBonddata(BondType.Value);
        switch (changeType)
        {
            case ChangeType.Move:
                controlData.Left = leftStart - difX;
                controlData.Top = topStart - difY;
                if (BondType.HasValue)
                {
                    if (controlData.Left < bondData.Left)
                        controlData.Left = bondData.Left;
                    if (controlData.Top < bondData.Top)
                        controlData.Top = bondData.Top;
                    if (controlData.Left + Width > bondData.Right)
                        controlData.Left = bondData.Right - Width;
                }
                break;
            case ChangeType.BottomResize:
                Height = heightStart - difY;
                break;
            case ChangeType.RightResize:
                Width = widthStart - difX;
                break;
            case ChangeType.LeftResize:
                controlData.Left = leftStart - difX;
                Width = widthStart + difX;
                break;
            case ChangeType.TopResize:
                controlData.Top = topStart - difY;
                Height = heightStart + difY;
                break;
        }
        double width = Width, height = Height;
        

        Page.Bound.ShowRuler(controlData, ref width, ref height, changeType.Value);
        Width = width;
        Height = height;
        await OnChange.InvokeAsync(controlData);
    }
}
