@namespace Caspian.Report
@{
    if (Enabled)
    {
        yPosition = -27;
        if (mouseEnter)
            yPosition = -54;
        if (buttonClicked)
            yPosition = -108;
    }
    else
    {
        yPosition = 0;
    }
}

<span class="toolsbar" style="width:25px;background-position:@(-XPosition)px @(yPosition)px"
      @onmouseenter="() => mouseEnter = true" @onmouseout="() => mouseEnter = false" @onclick="OnClicked"
      @onmousedown="() => buttonClicked= true" @onmouseup="() => buttonClicked = false"></span>

@code 
{
    int yPosition;

    bool mouseEnter, buttonClicked;

    async Task OnClicked()
    {
        if (Enabled && OnIconClick.HasDelegate)
            await OnIconClick.InvokeAsync();
    }

    [Parameter]
    public bool Enabled { get; set; } = true;

    [Parameter]
    public int XPosition { get; set; }

    [Parameter]
    public EventCallback OnIconClick { get; set; }
}
