@namespace Caspian.Report
<div class="r-toolsbox">
    <span @onmousedown="AddControl" class="tools textbox" title="متن"></span>
    <span @onmousedown="AddTable" class="tools picture" title="تصویر"></span>
    <span class="tools subreport" title="گزارش فرعی"></span>
    <span class="tools table" title="جدول"></span>
    <span class="tools checkbox" title="check box"></span>
    <span class="tools chart" title="نمودار"></span>
</div>

@code 
{
    async Task AddControl(MouseEventArgs e)
    {
        await Page.AddControl(e.ClientX, e.ClientY);
    }

    async Task AddTable(MouseEventArgs e)
    {
        var data = ToolsBox.GetTableData(1);
        await Page.AddTable(e.ClientX, e.ClientY, data);
    }

    public static TableData GetTableData(int level)
    {
        var table = new TableData();
        if (level == 1)
        {
            table.HeaderCells = new List<HeaderCell>()
            {
                new HeaderCell(){Width = 100},
                new HeaderCell(){Width = 150},
                new HeaderCell(){Width = 200},
                new HeaderCell(){Width = 200}
            };
        }
        else
        {
            table.HeaderCells = new List<HeaderCell>()
            {
                new HeaderCell(){Width = 200},
                new HeaderCell(){Width = 200},
                new HeaderCell(){Width = 150},
                new HeaderCell(){Width = 100}
            };
        }
        table.Rows = new List<TableRow>();
        var row = new TableRow();
        row.RowIndex = 1;
        for (var colIndex = 1; colIndex <= 4; colIndex++)
        {
            row.Cells.Add(new TableCell(row)
                {
                    Text = $"{colIndex}{(level == 1 ? "$" : "*")}" ,
                    ColIndex = colIndex
                });
        }
        table.Rows.Add(row);
        return table;
    }

    [Parameter]
    public Page Page { get; set; }
}
