@namespace Demo.Web.Pages
@{
    var customerType = Service.UpsertData.CustomerType;
}
<CaspianForm Service="Service">
    <CaspianValidationValidator ValidatorType="typeof(CustomerService)" />
    <div class="row p-2 c-controls" style="align-content:flex-start">
        <div class="row">
            <div class="row col-md-7">
                <div class="col-md-4">
                    <label>Customer Type</label>
                </div>
                <div class="col-md-8">
                    <DropdownList @bind-Value="Service.UpsertData.CustomerType"  />
                </div>
                <div class="col-md-4">
                    <label>First Name</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="Service.UpsertData.FName" Disabled="customerType == CustomerType.Legal" />
                </div>
                <div class="col-md-4">
                    <label>Last Name</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="Service.UpsertData.LName" Disabled="customerType == CustomerType.Legal" />
                </div>
                <div class="col-md-4">
                    <label>Gender</label>
                </div>
                <div class="col-md-8">
                    <DropdownList @bind-Value="Service.UpsertData.Gender" Disabled="customerType == CustomerType.Legal" />
                </div>
                <div class="col-md-4">
                    <label>Company Name</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="Service.UpsertData.CompanyName" Disabled="customerType == CustomerType.Real" />
                </div>
                <div class="col-md-4">
                    <label>Mobile Number</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="Service.UpsertData.MobileNumber" MaxLength="11" />
                </div>
                <div class="col-md-4">
                    <label>Tel</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="Service.UpsertData.Tel" MaxLength="11" />
                </div>
            </div>
            <div class="col-md-5 ps-3">
                <label style="justify-content:space-evenly">Customer Groups</label>
                <CheckedListbox TEntity="CustomerGroup" TDetails="CustomerGroupMembership" Service="Service" Style="height:250px;flex-wrap:nowrap"
                              TextExpression="t => t.Title" />
            </div>
        </div>
    </div>
    <div class="pt-4 pt-0 pb-2">
        <FormCommandButton />
    </div>
</CaspianForm>

@code
{
    [Parameter]
    public BatchService<Customer, CustomerGroupMembership> Service { get; set; }
}
