.c-lookup > input {
    width: calc(100% - 4px);
    margin: 2px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    height: 32px;
    line-height: 32px;
    border-color: rgba(0, 0, 0, 0.12);
    color: inherit;
}
.t-radio.t-selected .c-small-icon {
    background-color: #ffdead;
    border: 1px solid #c0c3c3;
}

.fa.c-selected {
    background-color: navajowhite;
}
.c-header {
    border: 1px solid #bdbdbd;
    margin: 5px;
    border-radius: 8px;
    padding: 5px;
}
.t-ltr .c-value-search.d-flex .c-from{
    padding-right:3px
}

.t-ltr .c-value-search.d-flex .c-to {
    padding-left: 3px
}

.c-body {
    border: 1px solid #bdbdbd;
    height: calc(100vh - 127px);
    border-radius: 8px;
    overflow: auto;
}
.t-ltr .t-textbox{
    text-align:left;
}
.d-tree-icon {
    width: 28px;
    height: 28px;
    text-align: center;
    border: 1px solid transparent;
    font-size: 18px !important;
    margin:auto;
    display:inline-block;
}
    .d-tree-icon:hover {
        border: 1px solid rgba(0, 0, 0, .24);
        background-color: aliceblue;
        border-radius:50%;
    }
.d-tree-icon .fa-plus {
    color: #0dcaf0 !important;
    vertical-align: middle;
}
.c-treeview .fa-pencil, .c-treeview .fa-trash {
    color: #423d96;
}



input, div, textarea {
    outline: none;
}
input {
    font-size:14px;
}
.c-node-template .t-checkbox{
    line-height:23px;
}
.t-ltr .c-node-template .t-checkbox {
    margin-left:8px;
}

/*control icon*/
/*default*/
.t-select {
    line-height: 30px;
    height: 31px;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    text-align: center;
}
.t-ltr .t-inputbox-wrap .t-select {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.t-rtl .t-inputbox-wrap .t-select {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}


/*Hover and focused state*/
.t-ltr .t-inputbox-wrap.t-state-hover .t-select, .t-ltr .t-inputbox-wrap.t-state-focused .t-select {
    /*border-left-color: rgba(0, 0, 0, 0.24);*/
}
/*Error default state*/
.t-ltr .t-inputbox-wrap.t-state-error .t-select {
    border-left-color: rgba(255, 0, 0, 0.12);
}
.t-ltr .t-inputbox-wrap.t-state-error.t-state-hover .t-select, .t-ltr .t-inputbox-wrap.t-state-error.t-state-focused .t-select {
    border-left-color: rgba(255, 0, 0, 0.24);
}
    /*control inputbox and textbox*/
    /*default state*/
    .t-inputbox-wrap, .t-textbox input {
        box-sizing: border-box;
        margin: 2px;
        border-radius: 8px;
        border-style: solid;
        border-width: 1px;
        height: 32px;
        line-height:32px;
        border-color: rgba(0,0,0,0.12);
        color:inherit;
    }

/*control textbox*/
/*default state*/
.t-textbox input {
    width: calc(100% - 4px);
}
    /*Hover state*/
    .t-textbox input:hover {
        border-color: rgba(0,0,0,0.24);
    }

    /*Focus state*/
    .c-lookup > input:focus, .t-textbox > input:focus {
        border-color: rgba(0,0,0,0.24);
        box-shadow: 0 0 3px 0 #a6a6a6;
    }
    /*Error default*/
.t-textbox.t-state-error input, .c-lookup-tree .t-state-error, .c-lookup-tree .t-state-error input {
    border-color: rgba(255,0,0,0.12);
    background-color: rgb(255 249 249);
}
/*Error Hover*/
    .t-textbox.t-state-error input:hover, .c-lookup-tree .t-state-error:hover {
        border-color: rgba(255,0,0,0.24);
    }
    /*Error Focus*/
    .t-textbox.t-state-error input:focus, .c-lookup-tree .t-state-error.c-state-focus {
        border-color: rgba(255,0,0,0.18) !important;
        box-shadow: 0 0 4px 0 #ff9fb0 !important;
    }

    /*control inputbox */
    /*default state*/
.t-inputbox-wrap {
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.025),rgba(0, 0, 0, 0.055));
    font-size: 0;
}
    /*hover state*/
    .t-inputbox-wrap.t-state-hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.045),rgba(0, 0, 0, 0.075));
        border-color: rgba(0,0,0,0.24);
    }
    /*focus state*/
        .t-inputbox-wrap.t-state-focused {
            background-image: linear-gradient(rgba(0, 0, 0, 0.045),rgba(0, 0, 0, 0.075));
            box-shadow: 0 0 3px 0 #a6a6a6;
            /*border-color: rgba(0,0,0,0.24);*/
        }
    /*error-default*/
    .t-inputbox-wrap.t-state-error {
        background-image: linear-gradient(rgba(255, 0, 0, 0.02),rgba(255, 0, 0, 0.045));
        border-color: rgba(255,0,0,0.12);
    }
    /*error-hover*/
    .t-inputbox-wrap.t-state-error.t-state-hover {
        background-image: linear-gradient(rgba(255, 0, 0, 0.04),rgba(255, 0, 0, 0.065));
        border-color: rgba(255,0,0,0.24);
    }
        /*error-focused*/
        .t-inputbox-wrap.t-state-error.t-state-focused {
            background-image: linear-gradient(rgba(255, 0, 0, 0.02),rgba(255, 0, 0, 0.05)) !important;
            border-color: rgba(255,0,0,0.15);
            box-shadow: 0 0 3px 0 pink;
        }
        /*input*/
        .t-inputbox-wrap.t-state-error input {
            background-color: #fff9f9;
        }



    .t-inputbox-wrap .t-icon {
        vertical-align: middle;
        line-height: 22px;
        height: 19px;
        font-size: 19px;
        color: #909090;
        text-align: center;
    }



.t-dropdown .t-input {
    display: inline-block;
    line-height: 28px;
    width: calc(100% - 30px);
    font-size: 14px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.t-ltr .t-textbox .t-input, .t-ltr .t-dropdown .t-dropdown-wrap {
    padding-left: 4px;
}
.t-rtl .t-textbox .t-input, .t-rtl .t-dropdown .t-dropdown-wrap {
    padding-right: 4px;
}
.t-rtl .t-textbox .t-numeric {
    direction: ltr;
    padding-left:5px;
}
    .c-multi-select {
        display: flex;
        flex-wrap: wrap;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0,0,0,0.12);
        padding: 0 7px;
        margin: 2px;
        border-radius: 8px;
        height: 36px;
    }

    .c-multi-select:not(.t-state-disabled):hover {
        border-color: rgba(0,0,0,0.24);
    }

    .c-multi-select:not(.t-state-disabled):focus {
        box-shadow: 0 0 3px 0 grey;
    }

    .c-multi-select.t-state-error {
        border-color: rgba(255, 0, 0, 0.12) ;
        background-color: #fff9f9 ;
    }

        .c-multi-select.t-state-error:hover {
            border-color: rgba(255, 0, 0, 0.24);
        }
        .c-multi-select.t-state-error:focus {
            border-color: rgba(255, 0, 0, 0.24);
            box-shadow: 0 0 4px 0 #ff9fb0;
        }


    .c-multi-select.t-state-disabled {
        background-color: #eaeaea;
        cursor: not-allowed;
    }
.t-inputbox-wrap .t-input {
    padding: 0 4px;
    width: calc(100% - 30px);
    border: none;
    height: 31px;
    text-overflow: ellipsis;
    overflow: hidden;
}


.t-tabstrip >.t-header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #cdcdcd;
    border-radius: 8px 8px 0 0;
}

.t-reset .t-item:not(.t-state-selected):nth-child(2n+1), .t-reset .c-multi-select-drowp:not(.t-state-selected):nth-child(2n+1) {
    background-color: #f0f1f5;
}