@namespace Demo.Web.Page
@page "/Demo/ListView"
<h2>List view</h2>
<p>
    We use this control to <b>display a list</b> with a <b>custom Template</b>, unlike the Grid, which has a specific structure, the ListView does not have a specific structure.
</p>
<h3>Databinding</h3>
<p>
    We can easily bind the ListView to the <b>entity</b>, we just specify the <b>TEntity parameter</b>, then we can declare the <b>HeaderTemplate</b> and <b>Fields</b>We use the <b>TextField</b> and <b>ImageField</b> components to <b>bind</b> the Listview to the <b>database</b>. We just need to set the <b>Field parameter</b>(this is a lambda expression).
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="d-content ps-3 pe-3">
                <div class="row">
                    <div class="col-md-5 pe-3">
                        <h4>Bind To Data</h4>
                        <span class="c-demo-description">We use from <b>TextFiel</b>() and <b>ImageField</b> components to bind Listview to data</span>
                        <h5>Componets:</h5>
                        <ul class="d-demo-inner-list">
                            <li>
                                <b>TextField: </b> We use this component to retrieve data (String, Number, Date, Time) from the database and display it
                            </li>
                            <li>
                                <b>ImageField: </b>We use this component to retrieve <b>Image</b> from the database and display it
                            </li>
                        </ul>
                    </div>
                    <div class="ps-3 col-md-7">
                        <div class="d-listview-product">
                            <ListView TEntity="Product" HideInsertIcon>
                                <HeaderTempalte>
                                    <div class="d-col-ph-1 justify-content-center d-flex" style="width:362px;">
                                        Product
                                    </div>
                                    <div class="justify-content-center d-flex" style="width:calc(100% - 361px);border-right:none">
                                        Image
                                    </div>
                                </HeaderTempalte>
                                <Fields>
                                    <div class="d-product-content d-flex">
                                        <div class="c-controls row p-2" style="width:361px;">
                                            <div class="col-md-4">
                                                <label>Category</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.ProductCategory.Title" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Title</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.Title" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Price</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.Price.Seprate3Digit()" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Takeout Price</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.TakeoutPrice.Seprate3Digit()" />
                                            </div>
                                        </div>
                                        <div class="justify-content-center d-flex p-2" style="width:202px;">
                                            <ImageField Field="t => t.Image" Style="width:185px;height:160px;" />
                                        </div>
                                    </div>
                                </Fields>
                            </ListView>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <hr />
                        <h4>Editing</h4>
                    </div>
                    <div class="col-md-7">
                        <hr />
                        <div class="ps-3 d-listview-product">
                            <ListView TEntity="Product" HideInsertIcon>
                                <HeaderTempalte>
                                    <div class="d-col-ph-1 col-md-7 justify-content-center d-flex" style="width:361px;">
                                        Product
                                    </div>
                                    <div class="col-md-5 justify-content-center d-flex" style="width:202px;">
                                        Image
                                    </div>
                                </HeaderTempalte>
                                <Fields>
                                    <div class="d-product-content d-flex">
                                        <div class="c-controls row p-2" style="width:361px;">
                                            <div class="col-md-4">
                                                <label>Category</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.ProductCategory.Title" >
                                                    <EditTemplate>
                                                        <ComboBox TEntity="ProductCategory" TValue="int" @bind-Value="context.Data.ProductCategoryId"
                                                                   TextExpression="t => t.Title" />
                                                    </EditTemplate>
                                                </TextField>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Title</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.Title">
                                                    <EditTemplate>
                                                        <StringTextBox @bind-Value="context.Data.Title" />
                                                    </EditTemplate>
                                                </TextField>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Price</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.Price.Seprate3Digit()">
                                                    <EditTemplate>
                                                        <NumericTextBox @bind-Value="context.Data.Price" />
                                                    </EditTemplate>
                                                </TextField>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Takeout Price</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.TakeoutPrice.Seprate3Digit()">
                                                    <EditTemplate>
                                                        <NumericTextBox @bind-Value="context.Data.TakeoutPrice" />
                                                    </EditTemplate>
                                                </TextField>
                                            </div>
                                            <div class="col-md-4"></div>
                                            <div class="justify-content-center d-flex" style="width:202px;padding-top:8px;border-left:none">
                                                <ListCommandButton />
                                            </div>
                                        </div>
                                        <div class="justify-content-center d-flex p-2">
                                            <ImageField Field="t => t.Image" Style="width:185px;height:160px;" />
                                        </div>
                                    </div>
                                </Fields>
                            </ListView>
                        </div>
                    </div>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="ListView" FileName="Data-Binding" />
        </TabPanelItem>
    </Tabs>
</TabPanel>



@code {
    
}
