@namespace Demo.Web.Page
@page "/Demo/ListView"
<h2>List view</h2>
<p>
    We use this control to <b>display a list</b> with a <b>custom template</b>, unlike Grid, the programmer can set the <b>Header</b> and <b>Content Template</b>.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="d-content ps-3 pe-3">
                <div class="row">
                    <div class="col-md-4 pe-3">
                        <h4>Bind To Data</h4>
                        <span class="c-demo-description">We use from <b>TextFiel</b> and <b>ImageField</b> components to bind Listview to data</span>
                        <h5>Componets:</h5>
                        <ul class="d-demo-inner-list">
                            <li>
                                <b>TextField: </b> We use this component to retrieve data (String, Number, Date, Time) from the database and display it
                            </li>
                            <li>
                                <b>ImageField: </b>We use this component to retrieve <b>Image</b> from the database and display it
                            </li>
                        </ul>
                    </div>
                    <div class="ps-3 col-md-8">
                        <div class="d-listview-product">
                            <ListView TEntity="Product" HideInsertIcon>
                                <HeaderTempalte>
                                    <div class="d-col-ph-1 col-md-7 justify-content-center d-flex">
                                        Product
                                    </div>
                                    <div class="col-md-5 justify-content-center d-flex">
                                        Image
                                    </div>
                                </HeaderTempalte>
                                <Fields>
                                    <div class="d-product-content d-flex">
                                        <div class="col-md-7 c-controls row p-2">
                                            <div class="col-md-4">
                                                <label>Category</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.ProductCategory.Title" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Title</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.Title" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Price</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.Price.Seprate3Digit()" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Takeout Price</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.TakeoutPrice.Seprate3Digit()" />
                                            </div>
                                        </div>
                                        <div class="col-md-5 justify-content-center d-flex p-2">
                                            <ImageField Field="t => t.Image" Style="width:250px;height:200px;" />
                                        </div>
                                    </div>
                                </Fields>
                            </ListView>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <hr />
                        <h4>Editing</h4>
                    </div>
                    <div class="col-md-8">
                        <hr />
                        <div class="ps-3 d-listview-product">
                            <ListView TEntity="Product" HideInsertIcon>
                                <HeaderTempalte>
                                    <div class="d-col-ph-1 col-md-7 justify-content-center d-flex">
                                        Product
                                    </div>
                                    <div class="col-md-5 justify-content-center d-flex">
                                        Image
                                    </div>
                                </HeaderTempalte>
                                <Fields>
                                    <div class="d-product-content d-flex">
                                        <div class="col-md-7 c-controls row p-2">
                                            <div class="col-md-4">
                                                <label>Category</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.ProductCategory.Title" >
                                                    <EditTemplate>
                                                        <ComboBox TEntity="ProductCategory" TValue="int" TextExpression="t => t.Title" 
                                                            @bind-Value="context.Data.ProductCategoryId" />
                                                    </EditTemplate>
                                                </TextField>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Title</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.Title">
                                                    <EditTemplate>
                                                        <StringTextBox @bind-Value="context.Data.Title" />
                                                    </EditTemplate>
                                                </TextField>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Price</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.Price.Seprate3Digit()">
                                                    <EditTemplate>
                                                        <NumericTextBox @bind-Value="context.Data.Price" />
                                                    </EditTemplate>
                                                </TextField>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Takeout Price</label>
                                            </div>
                                            <div class="col-md-8">
                                                <TextField Field="t => t.TakeoutPrice.Seprate3Digit()">
                                                    <EditTemplate>
                                                        <NumericTextBox @bind-Value="context.Data.TakeoutPrice" />
                                                    </EditTemplate>
                                                </TextField>
                                            </div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8 justify-content-center pt-2- pb-2 d-flex" >
                                                <ListCommandButton />
                                            </div>
                                        </div>
                                        <div class="col-md-5 justify-content-center d-flex p-2">
                                            <ImageField Field="t => t.Image" Style="width:250px;height:200px;" />
                                        </div>
                                    </div>
                                </Fields>
                            </ListView>
                        </div>
                    </div>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">

        </TabPanelItem>
    </Tabs>
</TabPanel>



@code {
    
}
