@page "/Demo/WorkflowEngine/DataModel/{GroupId:int}"

<div style="background-color:white">
    <Caspian.Engine.WorkFlow.DataModelComponent GroupId="GroupId" SubSystem="SubSystemKind.Demo" />
</div>


@code 
{
    [Parameter]
    public int GroupId { get; set; }
}
