@page "/Demo/WorkflowEngine/DataModelField/{DataModelId:int}"
<div style="background-color:white">
    <Caspian.Engine.WorkFlow.DataModelFieldComponent DataModelId="DataModelId" Subsystem="SubSystemKind.Demo" />
</div>

@code 
{
    [Parameter]
    public int DataModelId { get; set; }
}
