@page "/Demo/ReportEngine/ReportParam/{ReportId:int}"
<div style="background-color:white">
    <ReportParamComponent ReportId="ReportId" Subsystem="SubSystemKind.Demo" />
</div>

@code 
{
    [Parameter]
    public int ReportId { get; set; }
}
