@page "/Demo/WorkflowEngine/WorkflowForm/{GroupId:int}"
<div style="background-color:white">
    <Caspian.Engine.WorkFlow.WorkflowFormComponent GroupId="GroupId" />
</div>

@code 
{
    [Parameter]
    public int GroupId { get; set; }
}
