@namespace Caspian.UI
@using System.ComponentModel.DataAnnotations
@typeparam TEntity where TEntity : class
@typeparam TDetails where TDetails : class
@inject IServiceProvider Provider
<fieldset class="t-checkbox-list">
    <legend>@(Title)</legend>
    @if (Filterable)
    {
        <div class="c-filtering">
            <StringTextBox @bind-Value="filterText" BindingType="BindingType.OnInput"  />
        </div>
    }
    <div class="c-checkbox-list" style="@Style">
        @if (Items != null)
        {
            var items = filterText.HasValue() ? Items.Where(t => t.Text.Contains(filterText)) : Items;
            foreach (var item in items)
            {
                <div class="c-item">
                    <CheckBox TValue="bool" Value="@SelectedIds.Contains(Convert.ToInt32(item.Value))" ValueChanged="check => UpdateSelectedIds(check, item.Value)" Title="@item.Text" />
                </div>
            }
        }
    </div>
</fieldset>
