@namespace Caspian.UI
@using System.ComponentModel.DataAnnotations
@typeparam TEntity where TEntity : class
@typeparam TDetails where TDetails : class
@inject IServiceProvider Provider
<fieldset class="t-checkbox-list">
    <legend>@(Title)</legend>
    <div class="c-checkbox-list" style="@Style">
        @if (Items != null)
        {
            foreach (var item in Items)
            {
                <div class="c-item">
                    <CheckBox TValue="bool" Value="@SelectedIds.Contains(Convert.ToInt32(item.Value))" ValueChanged="check => UpdateSelectedIds(check, item.Value)" Title="@item.Text" />
                </div>
            }
        }
    </div>
</fieldset>
