@namespace Caspian.UI
@typeparam TValue
@{
    var value = RadioLis.GetValue();
    var className = "t-radio";
    var selected = RadioLis != null && value != null && value.Equals(Value);
    if (Disabled)
        className += " t-disabled";
    if (selected)
        className += " t-selected";
    else
        className += " t-default";
    <div style="@Style" class="@className">
        <span @onclick="OnMouseClick" class="t-icon">
            <input type="radio" class="c-radio-button" />
            @if (selected)
            {
                <span class="c-radio"></span>
            }
        </span>
        @if (!HideTitle)
        {
            <span class="t-title" @onclick="OnMouseClick">@Title</span>
        }
    </div>
}

