@namespace Caspian.UI
@using System.ComponentModel.DataAnnotations;
@typeparam TValue
@attribute [CascadingTypeParameter(nameof(TValue))]
@implements IRadioList
@inject IJSRuntime JSRuntime
<CascadingValue Value="this" Name="RadioLis">
    <div class="t-radios @(className)" style="@Style">
        @if (dic != null)
        {
            foreach (var item in dic)
            {
                <RadioItem ValueChanged="(TValue value) =>
                                     {
                                         UpdateValue(value);
                                     }" Value="item.Key" Disabled="Disabled" Title="@item.Value" />
            }
        }
        else if (Source != null)
        {
            var type = typeof(TValue).GetUnderlyingType();
            foreach (var item in Source)
            {
                <RadioItem ValueChanged="(TValue value) =>
                                     {
                                         UpdateValue(value);
                                     }" Disabled="Disabled" Value="(TValue)Convert.ChangeType(item.Value, type)" Title="@item.Text" />
            }
        }
        else
        {
            @ChildContent
        }
    </div>
</CascadingValue>