@page "/Demo/Customer"
@namespace Demo.Web.Pages
@inherits SimplePage<Customer>
@{
    base.BuildRenderTree(__builder);
}
<div style="width:90%;margin:5px auto">
    <table style="width:100%">
        <tr>
            <td>
                <label>نام</label>
            </td>
            <td>
                <StringTextBox @bind-Value="name" placeholder="نام نام خانوادگی/شرکت" BindingType="BindingType.OnInput" @onchange="@LoadEnable" />
            </td>
            <td style="padding-right:30px;width:120px;">
                <label>شماره تماس</label>
            </td>
            <td style="width:220px">
                <StringTextBox Style="direction:ltr;" @bind-Value="callNumber" placeholder="همراه/تلفن" BindingType="BindingType.OnInput" @onchange="@LoadEnable"/>
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="Customer" Search="SearchData" ConditionExpr="t => (name == null || t.FName.Contains(name) || t.LName.Contains(name) || t.CompanyName.Contains(name)) && (callNumber == null || t.MobileNumber.StartsWith(callNumber) || t.Tel.StartsWith(callNumber))">
        <Columns Context="customer">
            <GridColumn TEntity="Customer" Field="@(t => t.CustomerType.FaText())" Title="نوع مشتری" />
            <GridColumn TEntity="Customer" Field="@(t => t.CustomerType == CustomerType.Real ? t.FName + " " + t.LName : t.CompanyName)" Title="نام مشتری" />
            <GridColumn TEntity="Customer" Field="t => t.Gender.FaText()" style="width:100px">
                <Template>
                    @if (customer.Data.Gender == Gender.Male)
                    {
                        <span class="c-icon fa fa-male"></span>
                    }
                    else if (customer.Data.Gender == Gender.Female)
                    {
                        <span class="c-icon fa fa-female"></span>
                    }
                </Template>
            </GridColumn>
            <GridColumn TEntity="Customer" Field="t => t.MobileNumber" />
            <GridColumn TEntity="Customer" Field="t => t.Tel" />
            <GridCommandColumns TEntity="Customer" DisableDeleteFunc="t => t.Gender == Gender.Male" DisableEditFunc="t => t.Gender == Gender.Female" />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="مشتری" Style="width:450px">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(CustomerService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>نوع مشتری</label>
                        </td>
                        <td>
                            <DropdownList @bind-Value="UpsertData.CustomerType" />
                        </td>
                    </tr>
                    @if (UpsertData.CustomerType == CustomerType.Real)
                    {
                        <tr>
                            <td>
                                <label>نام</label>
                            </td>
                            <td>
                                <StringTextBox @bind-Value="UpsertData.FName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>نام خانوادگی</label>
                            </td>
                            <td>
                                <StringTextBox @bind-Value="UpsertData.LName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>جنسیت</label>
                            </td>
                            <td>
                                <DropdownList @bind-Value="UpsertData.Gender" />
                            </td>
                        </tr>
                    }
                    else if (UpsertData.CustomerType == CustomerType.Legal)
                    {
                        <tr>
                            <td>
                                <label>نام شرکت</label>
                            </td>
                            <td>
                                <StringTextBox @bind-Value="UpsertData.CompanyName" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <label>شماره مشتری</label>
                        </td>
                        <td>
                            <NumericTextBox @bind-Value="UpsertData.CustomerNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>شماره همراه</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.MobileNumber" Style="direction:ltr" MaxLength="11" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>شماره تلفن</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Tel" Style="direction:ltr" MaxLength="11" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{
    string name, callNumber;
    void LoadEnable()
    {
        CrudGrid.EnableLoading();
    }
}
