@page "/Demo/DisterbutedProductCategory"
@inherits SimplePage<ProductCategory>
@{
    base.BuildRenderTree(__builder);
}
<div style="width:90%;margin:5px auto">
    <table style="width:100%">
        <tr>
            <td>
                <label>عنوان</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Title" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="ProductCategory" Search="SearchData" TableHeight="400">
        <Columns>
            <GridColumn TEntity="ProductCategory" Field="t => t.Title" Title="عنوان" />
            <GridColumn TEntity="ProductCategory" Field="t => t.ActiveType.FaText()" />
            <GridColumn TEntity="ProductCategory" Title="Popup" style="width:50px">
                <Template>
                    <IconButton IconType="IconType.ExternalLink" @onclick="() => { OpenPopupForm(context.Data.Id); }" />
                </Template>
            </GridColumn>
            <GridColumn TEntity="ProductCategory" Title="Inform" style="width:50px">
                <Template>
                    <IconButton IconType="IconType.ExternalLink" @onclick="() => { OpenInformForm(context.Data.Id); }" />
                </Template>
            </GridColumn>
            <GridCommandColumns TEntity="ProductCategory" />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="گروه محصول" Style="width:500px;">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(ProductCategoryService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>عنوان</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>وضعیت</label>
                        </td>
                        <td>
                            <DropdownList @bind-Value="UpsertData.ActiveType" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
    <Window @bind-Status="status" Title="مشخصات غذا" Style="width:800px">
        <Content>
            @if (popupCategoryId.HasValue)
            {
                <PopupProductPage CategoryId="popupCategoryId.Value" />
            }
            @if (informCategoryId.HasValue)
            {
                <PopupInformPage CategoryId="informCategoryId.Value" />
            }
        </Content>
    </Window>
</div>
@code 
{
    int? popupCategoryId;
    int? informCategoryId;
    WindowStatus status = WindowStatus.Close;

    void OpenPopupForm(int categoryId)
    {
        popupCategoryId = categoryId;
        informCategoryId = null;
        status = WindowStatus.Open;
    }

    void OpenInformForm(int categoryId)
    {
        informCategoryId = categoryId;
        popupCategoryId = null;
        status = WindowStatus.Open;
    }
}
