@page "/Demo/Inform"
@namespace Demo.Web.Pages
@inherits SimplePage<Product>

@{
    base.BuildRenderTree(__builder);
}
<div style="width:95%;margin:10px auto">
    <CaspianForm @ref="UpsertForm" Model="UpsertData" OnReset="() => UpsertData.Image = null">
        <CaspianValidationValidator ValidatorType="typeof(ProductService)" />
        <table style="width:100%">
            <tr>
                <td style="width:80px">
                    <label>گروه غذا</label>
                </td>
                <td>
                    <ComboBox @bind-Value="UpsertData.ProductCategoryId" TValue="int" TEntity="ProductCategory" TextExpression="t => t.Title"
                              OrderByExpression="t => t.Title" />
                </td>
                <td rowspan="4" style="width:50px"></td>
                <td>
                    <label>کد</label>
                </td>
                <td>
                    <StringTextBox @bind-Value="UpsertData.Code" />
                </td>
                <td rowspan="4" style="width:50px"></td>
                <td rowspan="4">
                    <Fileupload OnChange="async e =>
                        {
                            UpsertData.Image = await e.File.GetByteArrayAsync();
                        }">
                        <PictureBox Data="UpsertData.Image" style="width:200px;height:200px" />
                    </Fileupload>
                </td>

            </tr>
            <tr>
                <td>
                    <label>عنوان</label>
                </td>
                <td>
                    <StringTextBox @bind-Value="UpsertData.Title" />
                </td>
                <td>
                    <label>وعده غذایی</label>
                </td>
                <td>
                    <MultiSelectBox @bind-Value="UpsertData.Meal" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>قیمت</label>
                </td>
                <td>
                    <NumericTextBox @bind-Value="UpsertData.Price" />
                </td>
                <td>
                    <label>وضعیت</label>
                </td>
                <td>
                    <DropdownList @bind-Value="UpsertData.ActiveType" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>قیمت بیرون بر</label>
                </td>
                <td>
                    <NumericTextBox @bind-Value="UpsertData.TakeoutPrice" />
                </td>
                <td colspan="2" style="text-align:center">
                    <FormCommandButton />
                </td>
            </tr>
        </table>
    </CaspianForm>
    <DataGrid @ref="CrudGrid" TEntity="Product" Search="SearchData" TableHeight="250">
        <Columns>
            <GridColumn Field="t => t.ProductCategory.Title" Title="گروه غذا" />
            <GridColumn Field="t => t.Title" />
            <GridColumn Field="t => t.ActiveType.FaText()" />
            <GridColumn Field="t => t.Price.Seprate3Digit()" />
            <GridColumn Field="t => t.TakeoutPrice.Seprate3Digit()" />
            <GridColumn Field="t => t.Discountable.ToString()" />
            <GridCommandColumns/>
        </Columns>
    </DataGrid>
</div>
@code
{

}
