@page "/Engine/Workflow/DynamicForm/{WorkflowFormId:int}"
@inject IHostEnvironment Environment 
@namespace Caspian.Engine.WorkflowEngine
@inherits BasePage
@if (errorMessage.HasValue())
{
    <div class="c-error-message">
       <span>@errorMessage</span>
    </div>
}
else if (isloading || DynamicType == null)
{
    <span>در حال بارگذاری ...</span>
}
else
{
    <DynamicComponent Type="DynamicType" />
}
