@namespace Caspian.Engine.WorkflowEngine
@{
    var className = "c-dynamic-form-controls";
    if (Selected)
        className += " c-selected";
}
<div class="@(className)">
    <label class="pe-3">@Control.Caption</label>
    <div @onclick="SelectControl" @onclick:stopPropagation>
        @switch(Control.ControlType)
        {
            case ControlType.String:
                var height = (Control.Height - 1) * 62 + 29;
                var style = $"height:{height}px";
                <StringTextBox MultiLine="Control.MultiLine" Style="@(style)" />
                break;
            case ControlType.DropdownList:
                <DropdownList TValue="GeneratedKind" Disabled />
                break;
            case ControlType.Date:
                <DatePicker TValue="DateTime" Disabled />
                break;
            case ControlType.List:
                if (Control.LookupTypeId.HasValue)
                {
                    <AutoComplete TValue="int" TEntity="WorkflowForm" Disabled />
                }
                else
                {
                    <ComboBox TValue="int" TEntity="WorkflowForm" Disabled />
                }
                break;
            case ControlType.Integer:
            case ControlType.Numeric:
                <NumericTextBox TValue="int" Disabled />
                break;
        }
    </div>
</div>

@code 
{
    async Task SelectControl()
    {
        await OnSelect.InvokeAsync();
    }

    [Parameter]
    public BlazorControl Control{ get; set; } 

    [Parameter]
    public bool Selected{ get; set; }

    [Parameter]
    public EventCallback OnSelect{ get; set; }
}
