@page "/Engine/Workflow/DynamicParameterOption/{ParameterId:int}"
@namespace Caspian.Engine.WorkflowEngine
@using Caspian.common
@inherits SimplePage<DynamicParameterOption>

@{
    
    base.BuildRenderTree(__builder);
}
<div style="width:90%;margin:5px auto">
    <DataGrid @ref="CrudGrid" TEntity="DynamicParameterOption" Search="SearchData" ConditionExpr="t => t.DynamicParameterId == ParameterId">
        <Columns Context="con" >
            <GridColumn TEntity="DynamicParameterOption" Field="t => t.FaTitle" />
            <GridColumn TEntity="DynamicParameterOption" Field="t => t.EnTitle" />
            <GridColumn TEntity="DynamicParameterOption" Field="t => t.Value" />
            <GridCommandColumns TEntity="DynamicParameterOption" />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="مقادیر پارامتر" Style="width:450px"
            OnOpen="async () => {await OpenForm(); }">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(DynamicParameterOptionService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>عنوان فارسی </label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.FaTitle" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>عنوان لاتین </label>
                        </td>
                        <td>
                            <StringTextBox Style="direction:ltr" @bind-Value="UpsertData.EnTitle" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>مقدار</label>
                        </td>
                        <td>
                            <NumericTextBox Disabled Value="UpsertData.Value" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{
    async Task OpenForm()
    {
        UpsertData.DynamicParameterId = ParameterId;
        if (UpsertData.Id == 0)
        {
            using var scope = CreateScope();
            var service = new DynamicParameterOptionService(scope);
            UpsertData.Value = (await service.MaxAsync(t => (long?)t.Value)).GetValueOrDefault() + 1;
        }
    }

    [Parameter]
    public int ParameterId { get; set; }
}