@namespace Caspian.Engine.WorkflowEngine
@inherits SimplePage<DynamicParameter>
@{
    base.BuildRenderTree(__builder);
}
<div class="p-4">
    <div class="row c-controls ps-4 pe-4">
        <div class="col-md-4">
            <label>روش محاسبه</label>
        </div>
        <div class="col-md-8">
            <DropdownList @bind-Value="SearchData.CalculationType" />
        </div>
    </div>
    <DataGrid @ref="CrudGrid" TEntity="DynamicParameter" PersistState @bind-Search="SearchData">
        <Columns Context="con">
            <GridColumn Field="t => t.EntityName">
                <Template>
                    <span>@(entities.Single(t => t.Value == con.Data.EntityName).Text)</span>
                </Template>
            </GridColumn>
            <GridColumn Field="t => t.Title" />
            <GridColumn Field="t => t.ControlType.EnumText()" style="width:120px;" />
            <GridColumn Field="t => t.CalculationType.EnumText()" />
            <GridColumn Field="t => t.DecimalNumber" />
            <GridColumn Field="t => t.Priority" style="width:50px" />
            <GridColumn Title="بررسی" style="width:50px">
                <Template>
                    <button style="border-radius:50%;margin-right:0" class="c-btn c-primary" @onclick="async () => await SetPriority(con.Data.Id)" @onclick:stopPropagation @onclick:preventDefault>
                        <i class="fa fa-check"></i>
                    </button>
                </Template>
            </GridColumn>
            <GridColumn Title="مقادیر" style="width:50px">
                <Template>
                    @if (con.Data.ControlType == ControlType.DropdownList)
                    {
                        <IconButton Href='@($"/{SubSystem.ToString()}/RuleEngine/DynamicParameterOption/{con.Data.Id}")' IconType="IconType.Wpforms" />
                    }
                    @if (con.Data.CalculationType == CalculationType.FormData)
                    {
                        <IconButton Href='@($"/{SubSystem.ToString()}/RuleEngine/DataParameterValue/{con.Data.Id}")' IconType="IconType.Wpforms" />
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="t => t.CalculationType" Title="ایجاد" style="width:50px">
                <Template>
                    @if (con.Data.CalculationType == CalculationType.FormData)
                    {
                        <IconButton Href='@($"/{SubSystem.ToString()}/RuleEngine/DataParameter/{con.Data.Id}")' IconType="IconType.Wpforms" />
                    }
                </Template>
            </GridColumn>
            <GridCommandColumns />
        </Columns>
    </DataGrid>
</div>
<Window @ref="UpsertWindow" Title="تعریف پارامتر" Style="width:500px"
        OnOpen="() =>
                    {
                        if (UpsertData.Id == 0)
                        {
                            UpsertData.CalculationType = CalculationType.UserData;
                            UpsertData.SubSystem = SubSystem;
                        }
                    }">
    <Content>
        <CaspianForm @ref="UpsertForm" Model="UpsertData">
            <div class="row c-controls ps-4 pe-4">
                <div class="col-md-4">
                    <label>نظام پرداخت حقوق</label>
                </div>
                <div class="col-md-8">
                    <ComboBox TEntity="SelectListItem" TValue="string" @bind-Value="UpsertData.EntityName" Source="entities" />
                </div>
                <div class="col-md-4">
                    <label>عنوان فارسی پارامتر</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="UpsertData.Title" />
                </div>
                <div class="col-md-4">
                    <label>عنوان لاتین پارامتر</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox Style="direction:ltr" @bind-Value="UpsertData.EnTitle" />
                </div>
                <div class="col-md-4">
                    <label>روش محاسبه</label>
                </div>
                <div class="col-md-8">
                    <RadioList Style="width:100%" @bind-Value="UpsertData.CalculationType" />
                </div>
                @if (UpsertData.CalculationType == CalculationType.UserData)
                {
                    <div class="col-md-4">
                        <label>نوع کنترل</label>
                    </div>
                    <div class="col-md-8">
                        <DropdownList @bind-Value="UpsertData.ControlType" FilterFunc="t => ControlsType.Contains(t)" />
                    </div>
                }
                else
                {
                    <div class="col-md-4">
                        <label>نوع خروجی</label>
                    </div>
                    <div class="col-md-8">
                        <DropdownList @bind-Value="UpsertData.ResultType" />
                    </div>
                }
                @if (UpsertData.CalculationType == CalculationType.UserData && UpsertData.ControlType == ControlType.Numeric || UpsertData.CalculationType != CalculationType.UserData && UpsertData.ResultType == ResultType.Numeric)
                {
                    <div class="col-md-4">
                        <label>تعداد ارقام اعشار</label>
                    </div>
                    <div class="col-md-8">
                        <NumericTextBox @bind-Value="UpsertData.DecimalNumber" />
                    </div>
                }
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <FormCommandButton />
                </div>
            </div>
        </CaspianForm>
    </Content>
</Window>


@code
{
    IList<SelectListItem> entities;
    IList<ControlType?> ControlsType;

    protected override void OnInitialized()
    {
        using var scope = CreateScope();
        var service = new DynamicParameterService(scope.ServiceProvider);
        entities = service.GetDynamicType(SubSystem);
        ControlsType = new List<ControlType?>();
        ControlsType.AddRange(ControlType.Integer, ControlType.Numeric, ControlType.CheckBox, ControlType.DropdownList);
        base.OnInitialized();
    }

    async Task SetPriority(int id)
    {
        var scope = CreateScope();
        var service = new DynamicParameterService(scope.ServiceProvider);
        var param = await service.GetAll().Include(t => t.ResultParameters).Include("ResultParameters.DynamicParameter")
            .Include("ResultParameters.Rule").SingleAsync(id);
        param.Priority = service.CalculatePriority(param);
        await service.SaveChangesAsync();
        await CrudGrid.ReloadAsync();
    }

    [Parameter]
    public SubSystemKind SubSystem { get; set; }
}