@page "/Engine/Workflow/DynamicParameter"
@namespace Caspian.Engine.WorkflowEngine
@using Caspian.common
@inherits SimplePage<DynamicParameter>
@{
    base.BuildRenderTree(__builder);
}
<div style="width:90%;margin:5px auto">
    <DataGrid @ref="CrudGrid" TEntity="DynamicParameter" Search="SearchData">
        <Columns Context="con" >
            <GridColumn TEntity="DynamicParameter" Field="t => t.EntityName">
                <Template>
                    <span>@(entities.Single(t => t.Value == con.Data.EntityName).Text)</span>
                </Template>
            </GridColumn>
            <GridColumn TEntity="DynamicParameter" Field="t => t.FaTitle" />
            <GridColumn TEntity="DynamicParameter" Field="t => t.ControlType.FaText()" />
            <GridColumn TEntity="DynamicParameter" Field="t => t.DecimalNumber" />
            <GridColumn TEntity="DynamicParameter" Field="t => t.EnTitle" />
            <GridColumn TEntity="DynamicParameter" Title="مقادیر" style="width:50px">
                <Template>
                    @if (con.Data.ControlType == ControlType.DropdownList)
                    {
                        <IconButton disabled="disabled" Href='@($"/Demo/City/{con.Data.Id}")' IconType="IconType.Wpforms" />
                    }
                </Template>
            </GridColumn>
            <GridCommandColumns TEntity="DynamicParameter" />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="تعریف پارامتر" Style="width:450px"
            OnOpen="() =>
                    {

                    }">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(DynamicParameterService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>موجودیت</label>
                        </td>
                        <td>
                            <ComboBox TValue="string" TEntity="SelectListItem" @bind-Value="UpsertData.EntityName" Source="entities" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>عنوان فارسی پارامتر</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.FaTitle" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>عنوان لاتین پارامتر</label>
                        </td>
                        <td>
                            <StringTextBox Style="direction:ltr" @bind-Value="UpsertData.EnTitle" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>نوع کنترل</label>
                        </td>
                        <td>
                            <DropdownList @bind-Value="UpsertData.ControlType" EnumItems="ControlsType" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{

}