@namespace Caspian.Engine.WorkFlow
@inherits SimplePage<WorkflowForm>
@{ 
    base.BuildRenderTree(__builder);
}
<div class="p-4">
    <div class="row c-controls ps-4 pe-4">
        <div class="col-md-4">
            <label>عنوان</label>
        </div>
        <div class="col-md-8">
            <StringTextBox @bind-Value="SearchData.Title" />
        </div>
    </div>
    <DataGrid @ref="CrudGrid" TEntity="WorkflowForm" Search="SearchData" TableHeight="300">
        <Columns>
            <GridColumn Field="t => t.Title" Title="عنوان" />
            <GridColumn Field="t => t.ColumnCount" Title="تعداد ستونها" />
            <GridColumn Title="ایجاد فرم" style="width:80px;">
                <Template>
                    <a href="/Engine/FormGenerator/@(context.Data.Id)" target="_blank">...</a>
                </Template>
            </GridColumn>
            <GridCommandColumns />
        </Columns>
    </DataGrid>

</div>

<Window @ref="UpsertWindow" Title="مشخصات فرم" Style="width:450px" OnOpen="FormOpen">
    <Content>
        <CaspianForm @ref="UpsertForm" Model="UpsertData">
            <div class="row reportSelect ps-4 pe-4 c-controls">
                <div class="col-md-4">
                    <label>عنوان</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="UpsertData.Title" />
                </div>
                <div class="col-md-4">
                    <label>تعداد ستونها</label>
                </div>
                <div class="col-md-8">
                    <NumericTextBox @bind-Value="UpsertData.ColumnCount" />
                </div>
                <div class="col-md-4">
                    <label>نام فرم</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="UpsertData.Name" />
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <FormCommandButton />
                </div>
            </div>
        </CaspianForm>
    </Content>
</Window>


@code
{
    [Parameter]
    public int GroupId { get; set; }

    void FormOpen()
    {
        UpsertData.WorkflowGroupId = GroupId;
    }
}
