@namespace Caspian.Engine.WorkFlow
@inherits SimplePage<WorkflowForm>
@{ 
    base.BuildRenderTree(__builder);
}
<div class="p-4">
    <div class="row c-controls ps-4 pe-4">
        <div class="col-md-4">
            <label>Title</label>
        </div>
        <div class="col-md-8">
            <StringTextBox @bind-Value="SearchData.Title" />
        </div>
    </div>
    <DataGrid @ref="CrudGrid" TEntity="WorkflowForm" Search="SearchData" TableHeight="300">
        <Columns>
            <GridColumn Field="t => t.DataModel.Title" Title="Data model" />
            <GridColumn Field="t => t.Title" Title="Title" />
            <GridColumn Field="t => t.ColumnCount" Title="Columns count" style="width:110px" />
            <GridColumn Field="t => t.Name" Title="Name" />
            <GridColumn Title="Form generator" style="width:120px;">
                <Template>
                    <a href="/Engine/FormGenerator/@(context.Data.Id)" target="_blank">...</a>
                </Template>
            </GridColumn>
            <GridCommandColumns />
        </Columns>
    </DataGrid>

</div>

<Window @ref="UpsertWindow" Title="Form " Style="width:500px" OnOpen="FormOpen">
    <Content>
        <CaspianForm @ref="UpsertForm" Model="UpsertData">
            <div class="row reportSelect ps-2 pe-2 c-controls">
                <div class="col-md-4">
                    <label>Data model</label>
                </div>
                <div class="col-md-8">
                    <ComboBox TValue="int" TEntity="DataModel" @bind-Value="UpsertData.DataModelId"
                        TextExpression="t => t.Title"/>
                </div>
                <div class="col-md-4">
                    <label>Title</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="UpsertData.Title" />
                </div>
                <div class="col-md-4">
                    <label>Column count</label>
                </div>
                <div class="col-md-8">
                    <NumericTextBox @bind-Value="UpsertData.ColumnCount" />
                </div>
                <div class="col-md-4">
                    <label>Name</label>
                </div>
                <div class="col-md-8">
                    <StringTextBox @bind-Value="UpsertData.Name" Style="text-align:left" />
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <FormCommandButton />
                </div>
            </div>
        </CaspianForm>
    </Content>
</Window>


@code
{
    [Parameter]
    public int GroupId { get; set; }

    void FormOpen()
    {
        UpsertData.WorkflowGroupId = GroupId;
    }
}
