@page "/Test1"
@using Caspian.UI
@using Demo.Model
@using Demo.Service
@using Microsoft.EntityFrameworkCore
@inherits BasePage

<StringTextBox @key="125" @ref="txt" />
@if(flag)
{
    <StringTextBox @key="125" @ref="txt" />
}

<button @onclick="() => flag = !flag">Toggle</button>

@code 
{
    StringTextBox txt;
    bool flag = true;

    async void Focus()
    {
        await txt.FocusAsync();
    }

    IList<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        using var service = CreateScope().GetService<ProductService>();
        products = await service.GetAll().ToListAsync();
        await base.OnInitializedAsync();
    }
}
