.t-bootstarp table 
{ 
	width: 100%; 
	border-collapse: collapse; 
}
.t-bootstarp .a-pager
{
    width:100%;
    margin-top:5px;
    height:38px;
}
.t-bootstarp .a-pager >div
{
    border:1px solid gray;
    border-radius:25px;
    height:35px;
}
.t-bootstarp .a-pager .left
{
    float:left;
    margin:10px 0 0 6px;
    cursor:pointer;
}
.t-bootstarp .a-pager .middel
{
    float:right;
    padding:8px 3px 0 0;
}
.t-bootstarp .a-pager .right
{
    float:right;
    margin:10px 6px 0 0;
    cursor:pointer;
}
@media only screen and (max-width: 650px)
{
    .t-bootstarp .t-pager .t-numeric a:nth-of-type(n+3)
    {
        display:none;
	}
}
@media only screen and (max-width: 350px)
{
    .t-bootstarp .t-pager .t-numeric
    {
        display:none;
	}
}
.hidden {
    display:none;
}
@media only screen and (max-width: 750px), (min-device-width: 250px) and (max-device-width: 1024px) {
    .t-bootstarp table, .t-bootstarp thead, .t-bootstarp tbody, .t-bootstarp th, .t-bootstarp td, .t-bootstarp tr 
    {
		display: block;
	}
    .t-bootstarp td{
        padding-right:45%!important;
    }
	.t-bootstarp thead tr 
    {
		position: absolute;
        display:none;
        direction:rtl;
	}
	.t-bootstarp tr
    { 
        border-bottom: 1px solid #5d8cc9; 
	}
    .t-bootstarp tr:nth-of-type(odd) td
    {
        border-bottom:1px solid #e6f2f8;
    }
    .t-bootstarp tr:nth-of-type(even) td
    {
        border-bottom:1px solid #fff;
    }
	.t-bootstarp td 
    {
		border: none;
		position: relative;
		padding-right: 50%;
        text-align:right;
	}
	.t-bootstarp td:before 
    {
		position: absolute;
		/*top: 6px;*/
		right: 10px;
	    width: 45%;
		/*padding-right: 10px;*/
	}
	.t-bootstarp td:nth-of-type(n):before { content: attr(data-title); font-weight: bold; }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 680px) 
{
	.t-grid body 
    {
		padding: 0;
		margin: 0;
		width: 320px;
	}
}
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) 
{
	.t-bootstarp body 
    {
	    width: 950px;
	}
}



* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

ul {
    list-style-type: none;
}

a {
    
    text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
}

    h1 a {
        color: #c12c42;
        font-size: 16px;
    }

.accordion {
    width: 100%;
    max-width: 360px;
    background: #343434;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

    .accordion .link {
        cursor: pointer;
        display: block;
        padding: 10px 7px;
        text-align: right;
        color: white;
        font-size: 13px;
        /*font-weight: 700;*/
        border: 2px solid #1c1c1c;
        border-left: 1px solid #1c1c1c;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .accordion li:last-child .link {
        border-bottom: 0;
    }

    .accordion li i {
        position: absolute;
        top: 14px;
        left: auto;
        right: 12px;
        font-size: 18px;
        color: white;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        font-style:normal;
    }

        .accordion li i.fa-chevron-down {
            right: auto;
            left: 8px;
            font-size: 12px;
        }

    .accordion li.open .link {
        color: white;
    }

    .accordion li.open i {
        color: white;
    }

        .accordion li.open i.fa-chevron-down {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }

    .accordion li.default .submenu {
        display: block;
    }
/**
 * Submenu
 -----------------------------*/
.submenu {
    display: none;
    background: #1c1c1c;
    font-size: 12px;
}
@keyframes example {
    from {
        background-color: #305c5c;
    }

    to {
        background-color: #0d7b7b;
    }
}
.submenu li:hover {
    background-color: #0d7b7b;
    animation-name: example;
    animation-duration: 1s;
}
.submenu .selected {
    background-color: #0d7b7b;
}
.submenu a:link {
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

        .submenu a:hover {
            text-decoration: none;
            color:white;
        }
        .submenu a:visited {
            text-decoration: none;
            color: white;
        }
        .submenu a:active{
            text-decoration: none;
            color: white;
        }

        .satrap-logo {
            display: block;
            height: 72px;
            width: 150px;
            margin: 0 auto;
            background-image: url(/areas/Satrap.FoodWeb/Content/Cash/TopIcons_Grey.png);
            background-position: -892px -362px;
            cursor: pointer;
        }
.m-collapse {
    width:47px;
}
.m-collapse .fa-chevron-down {
    display: none;
}
.m-collapse li .link >span{
    display:none;
}
.m-collapse li .link {
    height:47px;
}
.m-collapse .m-submenu{
    border:1px solid red;
    position:relative;
    background-color:wheat;
    width:200px;
    left:-10px;
}
button {
    outline: none !important;
}
.parent-panel {
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 6px;
    background-color: #6f6f6f;
}
.parent-panel label {
    color: white;
}
div[ali="ali"]{
    background-color:black!important;
    border-radius:10px;
    opacity:0.4;
    position:absolute;
    z-index:12;
}
.child-panel{
    padding:10px;

}
.t-palet-larg{
    width:95%;
    margin:0 auto;
}
    .t-palet-larg label{
        white-space:nowrap;
        padding-left:10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #616161;
        border-radius: 1.3em
    }

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background-color: #616161;
    border-radius: 1.3em;
}

::-webkit-scrollbar-thumb {
    background-color: #343434;
    border-radius: 1.3em;
}
.t-palet-larg tr {
    height: 42px;
}
    .t-palet-larg tr td:nth-child(3) {
        padding-right:50px
    }

    .t-button.t-delete {
        width: 50px;
        text-align: center;
        padding-top: 5px;
        height: 33px;
        font-weight: bold;
        padding: 2px 5px;
        display: inline-block;
    }

