@page "/Demo/GridDisterbutedPage"
@namespace Demo.Web.Pages
@inherits SimplePage<Product>
<div class="c-header">
    <ComboBox TValue="int?" TEntity="ProductCategory" @bind-Value="productCategoryId" TextExpression="t => t.Title" OnValueChanged="() => CrudGrid.EnableLoading()" />
</div>
<div class="c-body">
@if (productCategoryId.HasValue)
{
    <DataGrid @ref="CrudGrid" TEntity="Product" ConditionExpr="@(t => t.ProductCategoryId == productCategoryId.Value)" Search="SearchData" TableHeight="350">
        <Columns>
            <GridColumn TEntity="Product" Field="t => t.Title" />
            <GridColumn TEntity="Product" Field="t => t.ActiveType.FaText()" />
            <GridColumn TEntity="Product" Field="t => t.Price.ToString()" />
            <GridColumn TEntity="Product" Field="t => t.PriceOuterBound.ToString()" />
            <GridCommandColumns TEntity="Product" />
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="محصول" Style="width:680px;">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData"
                OnSubmit="() =>
                            {
                                UpsertData.ProductCategoryId = productCategoryId.Value;
                            }"
                OnValidSubmit='async (context) =>
                                {
                                    return UpsertData.Price > 0 || await Confirm("ایا با ثبت محصول با مبلغ صفر موافقید؟");
                                }'>
                <CaspianValidationValidator ValidatorType="typeof(ProductService)" />
                <table style="width:95%;margin:0 auto">
                    <tr>
                        <td style="width:100px;">
                            <label>عنوان</label>
                        </td>
                        <td style="width:240px">
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                        <td rowspan="6" style="padding-right:30px;">
                            <Fileupload 
                                OnChange="async (e) =>
                                {
                                    UpsertData.Image = await e.File.GetByteArrayAsync();
                                }">
                                <PictureBox Data="UpsertData.Image" style="width: 250px; height: 250px;" />
                            </Fileupload>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>قیمت</label>
                        </td>
                        <td>
                            <NumericTextBox @bind-Value="UpsertData.Price"
                                OnChange="() =>
                                    {
                                        if (UpsertData.PriceOuterBound == 0)
                                                UpsertData.PriceOuterBound = UpsertData.Price;
                                    }" />
                        </td>
                    </tr>
                        <tr>
                        <td>
                            <label>قیمت بیرون بر</label>
                        </td>
                        <td>
                            <NumericTextBox @bind-Value="UpsertData.PriceOuterBound" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>وعده غذایی</label>
                        </td>
                        <td>
                            <MultiSelectBox @bind-Value="UpsertData.Meal" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>تخفیف پذیر</label>
                        </td>
                        <td>
                            <CheckBox @bind-Value="UpsertData.Discountable" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>وضعیت</label>
                        </td>
                        <td>
                            <DropdownList @bind-Value="UpsertData.ActiveType" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td style="text-align:center">
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>        
}
</div>

@code
{
    int? productCategoryId;


    async Task<bool> showConfirmForPrice()
    {
        if (UpsertData.Price > 0 || (await Confirm("آیا با ثبت محصول با مبلغ صفر موافقید؟")))
            return true;
        return false;
    }
}
