@using System.Text
@using iTextSharp.text
@using iTextSharp.text.pdf
<Window Status="Status" Style="width:950px" StatusChanged="async () => await StatusChanged.InvokeAsync()" Title="@windowTitle">
    <Content>
        @if (dic.Count > 1)
        {
            <TabPanel Style="height:calc(100vh - 85px)">
                <Tabs>
                    @foreach (var item in dic)
                    {
                        <TabPanelItem Title="@(item.Key)">
                            <div class="c-pdf-continner">
                                <iframe frameborder="0" width="1000" height="650" src="@("/_content/Demo.Web/PDF/" + item.Value)" />
                            </div>
                        </TabPanelItem>
                    }
                </Tabs>
            </TabPanel>
        }
        else
        {
            <div class="c-pdf-continner">
                <iframe frameborder="0" width="1000" height="650" src="@("/_content/Demo.Web/PDF/" + FileName)" />
            </div>
        }
    </Content>
</Window>


@code 
{
    string windowTitle;

    [Parameter]
    public WindowStatus Status { get; set; }

    [Parameter]
    public EventCallback<WindowStatus> StatusChanged { get; set; }

    IDictionary<string, string> dic;

    protected override void OnParametersSet()
    {
        dic = new Dictionary<string, string>();
        dic.Add(Title, FileName);
        if (FileName1.HasValue())
            dic.Add(Title1, FileName1);
        if (FileName2.HasValue())
            dic.Add(Title2, FileName2);
        windowTitle = dic.Count == 1 ? dic.First().Key : "Source";
        base.OnParametersSet();
    }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string FileName { get; set; }

    [Parameter]
    public string Title1 { get; set; }

    [Parameter]
    public string FileName1 { get; set; }

    [Parameter]
    public string Title2 { get; set; }

    [Parameter]
    public string FileName2 { get; set; }
}
