@namespace Caspian.UI
<table class="t-content t-meta-view">
    @for (int i = 0; i < 3; i++)
    {
        <tr>
            @for (int j = 0; j < 4; j++)
            {
                var decade = Decades[i, j];
                if (decade == null)
                {
                    <td>...</td>
                }
                else
                {
                    string className = Decades[i, j] == SelectedDecade ? " t-state-selected" : null;
                    <td class="@className" @onclick="async () => await ChangeDecade(decade.Value)">
                        <span class="t-link">@((decade * 10) + " " + (decade * 10 + 10))</span>
                    </td>
                }

            }
        </tr>
    }
</table>

@code
{
    int?[,] Decades;

    async Task ChangeDecade(int decade)
    {
        SelectedDecade = decade;
        await SelectedDecadeChanged.InvokeAsync(decade);
    }

    protected override void OnParametersSet()
    {
        var startDecade = (SelectedDecade / 10) * 10;
        Decades = new int?[3, 4];
        for (int i = 0; i < 3; i++)
        {
            for (int j = 0; j < 4; j++)
            {
                //first and last item is null
                if (i == 0 && j == 0 || i == 2 && j == 3)
                    Decades[i, j] = null;
                else
                {
                    Decades[i, j] = startDecade;
                    startDecade++;
                }
            }
        }
        base.OnParametersSet();
    }

    [Parameter]
    public int SelectedDecade { get; set; }

    [Parameter]
    public EventCallback<int> SelectedDecadeChanged { get; set; }
}
