@namespace Caspian.UI
@{
    var curentYear = PersianCalendar ? Date.ToPersianDate().Year : Date.Year;
}
<table class="t-content t-meta-view">
    @for (int i = 0; i < 3; i++)
    {
        <tr>
            @for (int j = 0; j < 4; j++)
            {
                var year = years[i, j];
                if (year == null)
                {
                    <td>...</td>
                }
                else
                {
                    string className = years[i, j] == curentYear ? " t-state-selected" : null;
                    if (!isActiveYears[i, j])
                        className += " t-disable";
                    <td class="@className" @onclick="async () => await ChangeYear(year.Value)">
                        <span class="t-link">@years[i, j]</span>
                    </td>
                }
            }
        </tr>
    }
</table>

@code 
{
    int?[,] years;
    bool[,] isActiveYears;

    async Task ChangeYear(int year)
    {
        if (PersianCalendar)
        {
            var pDate = Date.ToPersianDate();
            pDate = new PersianDate(year, pDate.Month.Value, pDate.Day.Value);
            Date = pDate.GetMiladyDate().Value;
        }
        else
            Date = new DateTime(year, Date.Month, Date.Day);
        await DateChanged.InvokeAsync(Date);
    }

    [Parameter]
    public bool PersianCalendar { get; set; }

    protected override void OnParametersSet()
    {
        var year = PersianCalendar ? Date.ToPersianDate().Year.Value : Date.Year;
        year = (year / 10) * 10;
        years = new int?[3, 4];
        isActiveYears = new bool[3, 4];
        int? fromYear = PersianCalendar ? FromDate.ToPersianDate()?.Year : FromDate?.Year,
            toYear = PersianCalendar ? ToDate.ToPersianDate()?.Year : ToDate?.Year;
        for (int i = 0; i < 3; i++)
        {
            for (int j = 0; j < 4; j++)
            {
                //first and last item is null
                if (i == 0 && j == 0 || i == 2 && j == 3)
                    years[i, j] = null;
                else
                {
                    years[i, j] = year;
                    var isActive = true;
                    if (FromDate.HasValue && year < fromYear.Value)
                        isActive = false;
                    if (isActive && ToDate.HasValue && year > toYear)
                        isActive = false;
                    isActiveYears[i, j] = isActive;
                    year++;
                }
            }
        }
        base.OnParametersSet();
    }

    [Parameter]
    public DateTime Date { get; set; }

    [Parameter]
    public EventCallback<DateTime> DateChanged { get; set; }

    [Parameter]
    public DateTime? FromDate { get; set; }

    [Parameter]
    public DateTime? ToDate { get; set; }
}
