@namespace Caspian.UI
<table class="t-content t-meta-view">
    @for (int i = 0; i < 3; i++)
    {
        <tr>
            @for (int j = 0; j < 4; j++)
            {
                var year = years[i, j];
                if (year == null)
                {
                    <td>...</td>
                }
                else
                {
                    string className = years[i, j] == Date.Year ? " t-state-selected" : null;
                    if (!isActiveYears[i, j])
                        className += " t-disable";
                    <td class="@className" @onclick="async () => await ChangeYear(year.Value)">
                        <span class="t-link">@years[i, j]</span>
                    </td>
                }
            }
        </tr>
    }
</table>

@code 
{
    int?[,] years;
    bool[,] isActiveYears;

    async Task ChangeYear(int year)
    {
        Date = new DateTime(year, Date.Month, Date.Day);
        await DateChanged.InvokeAsync(Date);
    }

    protected override void OnParametersSet()
    {
        var year = (Date.Year / 10) * 10; 
        years = new int?[3, 4];
        isActiveYears = new bool[3, 4];
        for (int i = 0; i < 3; i++)
        {
            for (int j = 0; j < 4; j++)
            {
                //first and last item is null
                if (i == 0 && j == 0 || i == 2 && j == 3)
                    years[i, j] = null;
                else
                {
                    years[i, j] = year;
                    var isActive = true;
                    if (FromDate.HasValue && year < FromDate.Value.Year)
                        isActive = false;
                    if (isActive && ToDate.HasValue && year > ToDate.Value.Year)
                        isActive = false;
                    isActiveYears[i, j] = isActive;
                    year++;
                }
            }
        }
        base.OnParametersSet();
    }

    [Parameter]
    public DateTime Date { get; set; }

    [Parameter]
    public EventCallback<DateTime> DateChanged { get; set; }

    [Parameter]
    public DateTime? FromDate { get; set; }

    [Parameter]
    public DateTime? ToDate { get; set; }
}
