@namespace Caspian.UI
<table class="t-content t-meta-view">
    @for (int i = 0; i < 3; i++)
    {
        <tr>
            @for (int j = 0; j < 4; j++)
            {
                var year = years[i, j];
                if (year == null)
                {
                    <td>...</td>
                }
                else
                {
                    string className = years[i, j] == SelectedYear ? " t-state-selected" : null;
                    <td class="@className" @onclick="async () => await ChangeYear(year.Value)">
                        <span class="t-link">@years[i, j]</span>
                    </td>
                }
            }
        </tr>
    }
</table>

@code 
{
    int?[,] years;

    async Task ChangeYear(int year)
    {
        SelectedYear = year;
        await SelectedYearChanged.InvokeAsync(year);
    }

    protected override void OnParametersSet()
    {
        var startYear = Decade * 10;
        years = new int?[3, 4];
        for (int i = 0; i < 3; i++)
        {
            for (int j = 0; j < 4; j++)
            {
                //first and last item is null
                if (i == 0 && j == 0 || i == 2 && j == 3)
                    years[i, j] = null;
                else
                {
                    years[i, j] = startYear;
                    startYear++;   
                }
            }
        }
        base.OnParametersSet();
    }

    [Parameter]
    public int Decade { get; set; }

    [Parameter]
    public int SelectedYear { get; set; }

    [Parameter]
    public EventCallback<int> SelectedYearChanged { get; set; }
}
