@page "/Engine/ReportPrintPage/{ReportId:int}"
@page "/Engine/ReportPrintPage/{GuId}"
@namespace Caspian.Engine.ReportPrint
@inject IJSRuntime jsRunTime
@inherits BasePage
@{
    base.BuildRenderTree(__builder);
}
<input type="hidden" @bind-value="ReportId" />
<span style="display:none;" class="bottomarrow"></span>
<span style="display:none" class="leftArrow"></span>
<span style="display:none" class="ruler"></span>
<div class="borderwidthdiv" style="display:none">
    <span class="border borderwidth1"></span>
    <span class="border borderwidth2"></span>
    <span class="border borderwidth3"></span>
    <span class="border borderwidth4"></span>
    <span class="border borderwidth5"></span>
    <span class="border borderwidth6"></span>
    <span class="border borderwidth7"></span>
    <span class="border borderwidth8"></span>
</div>
<div class="borderstylediv" style="display:none">
    <span class="border borderstyle1"></span>
    <span class="border borderstyle2"></span>
    <span class="border borderstyle3"></span>
    <span class="border borderstyle4"></span>
</div>
<div dir="rtl" style="">
    <table id="page" style="width:100%;background-color:#cccfd4;" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="3" style="height:25px;">
                <div id="toolsBar1" style="margin:5px 5px 0 0;float:right">
                    <span class="toolsbar" style="width:13px;background-position:-344px 0px"></span>
                    <span id="_1" title="چرخش متن" class="toolsbar" style="width:25px;background-position:-319px 0px"></span>
                    <span id="_2" title="انتخاب رنگ" class="toolsbar" style="width:13px;background-position:-306px 0px"></span>
                    <span id="_3" title="رنگ متن" class="toolsbar" style="width:25px;background-position:-281px 0px"></span>
                    <span class="toolsbar" style="width:2px;background-position:-279px 0px"></span>
                    <span id="_4" title="" class="toolsbar" style="width:25px;background-position:-254px 0px"></span>
                    <span id="_5" class="toolsbar" style="width:25px;background-position:-229px 0px"></span>
                    <span id="_6" class="toolsbar" style="width:25px;background-position:-204px 0px"></span>
                    <span class="toolsbar toolsbar" style="width:2px;background-position:-202px 0px"></span>
                    <span id="_7" class="toolsbar" style="width:25px;background-position:-177px 0px"></span>
                    <span id="_8" class="toolsbar" style="width:25px;background-position:-152px 0px"></span>
                    <span id="_9" class="toolsbar" style="width:25px;background-position:-127px 0px"></span>
                    <span id="_10" class="toolsbar" style="width:25px;background-position:-102px 0px"></span>
                    <span class="toolsbar toolsbar" style="width:2px;background-position:-100px 0px"></span>
                    <span id="_11" class="toolsbar" style="width:25px;background-position:-75px 0px"></span>
                    <span id="_12" class="toolsbar" style="width:25px;background-position:-50px 0px"></span>
                    <span id="_13" class="toolsbar" style="width:25px;background-position:-25px 0px"></span>
                    <div class="toolsbar-list" style="width:62px;">
                        <input disabled="disabled" dir="ltr" class="toolsbar-list-input" value="12" style="width:40px" />
                        <span id="_14" class="toolsbar" style="width:17px;background-position:-7px 0px;"></span>
                    </div>
                    <div class="toolsbar-list" style="width:142px;">
                        <input disabled="disabled" dir="ltr" class="toolsbar-list-input" value="B1Nazanin" style="width:120px" />
                        <span id="_15" class="toolsbar" style="width:17px;background-position:-7px 0px;"></span>
                    </div>
                    <span class="toolsbar" style="width:7px;"></span>
                </div>
                <div style="margin:5px 5px 0 0;float:right">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <span class="toolsbar " style="width:13px;background-position:-696px 0px"></span>
                            </td>
                            <td>
                                <span id="_16" class="toolsbar" style="width:38px;background-position:-658px 0px"></span>
                            </td>
                            <td>
                                <span id="_17" class="toolsbar" style="width:38px;background-position:-620px 0px"></span>
                            </td>
                            <td>
                                <span id="_18" class="toolsbar" style="width:13px;background-position:-607px 0px"></span>
                            </td>
                            <td>
                                <span id="_19" class="toolsbar" style="width:25px;background-position:-582px 0px"></span>
                            </td>
                            <td>
                                <span id="_20" class="toolsbar" style="width:13px;background-position:-569px 0px"></span>
                            </td>
                            <td>
                                <span id="_21" class="toolsbar" style="width:25px;background-position:-544px 0px"></span>
                            </td>
                            <td>
                                <span class="toolsbar" style="width:2px;background-position:-542px 0px"></span>
                            </td>
                            <td>
                                <span id="_22" class="toolsbar" style="width:25px;background-position:-517px 0px"></span>
                            </td>
                            <td>
                                <span id="_23" class="toolsbar" style="width:25px;background-position:-492px 0px"></span>
                            </td>
                            <td>
                                <span id="_24" class="toolsbar" style="width:25px;background-position:-467px 0px"></span>
                            </td>
                            <td>
                                <span class="toolsbar" style="width:2px;background-position:-465px 0px"></span>
                            </td>
                            <td>
                                <span id="_25" class="toolsbar" style="width:25px;background-position:-440px 0px"></span>
                            </td>
                            <td>
                                <span id="_26" class="toolsbar" style="width:25px;background-position:-415px 0px"></span>
                            </td>
                            <td>
                                <span id="_27" class="toolsbar" style="width:25px;background-position:-390px 0px"></span>
                            </td>
                            <td>
                                <span id="_28" class="toolsbar" style="width:25px;background-position:-365px 0px"></span>
                            </td>
                            <td>
                                <span class="toolsbar" style="width:7px;background-position:-358px 0px"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin:5px 5px 0 0;float:right">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <span class="toolsbar" style="width:13px;background-position:-972px 0px"></span>
                            </td>
                            <td>
                                <span id="_29" class="toolsbar" style="width:25px;background-position:-947px 0px"></span>
                            </td>
                            <td>
                                <span id="_30" class="toolsbar" style="width:25px;background-position:-922px 0px"></span>
                            </td>
                            <td>
                                <span id="_31" class="toolsbar" style="width:25px;background-position:-897px 0px"></span>
                            </td>
                            <td>
                                <span class="toolsbar" style="width:2px;background-position:-895px 0px"></span>
                            </td>
                            <td>
                                <span id="_32" class="toolsbar" style="width:25px;background-position:-871px 0px"></span>
                            </td>
                            <td>
                                <span id="_33" class="toolsbar" style="width:25px;background-position:-846px 0px"></span>
                            </td>
                            <td>
                                <span class="toolsbar" style="width:2px;background-position:-844px 0px"></span>
                            </td>
                            <td>
                                <span id="_34" class="toolsbar" style="width:25px;background-position:-819px 0px"></span>
                            </td>
                            <td>
                                <a target="_blank" href="/report/GetReport?reportid=@(ReportId)">
                                    <span id="_35" class="toolsbar" style="width:25px;background-position:-794px 0px"></span>
                                </a>
                            </td>
                            <td>
                                <span class="toolsbar" style="width:2px;background-position:-792px 0px"></span>
                            </td>
                            <td>
                                <span id="_36" class="toolsbar" style="width:25px;background-position:-767px 0px"></span>
                            </td>
                            <td>
                                <span id="_37" class="toolsbar" style="width:25px;background-position:-742px 0px"></span>
                            </td>
                            <td>
                                <span id="_38" class="toolsbar" style="width:25px;background-position:-717px 0px"></span>
                            </td>
                            <td>
                                <span class="toolsbar" style="width:7px;background-position:-710px 0px"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="position:absolute;right:67px">
                    <input style="display:none" id="fontColorpicker" />
                </div>
                <div style="position: absolute; left: 550px">
                    <input style="display:none" id="borderColorpicker" />
                </div>
                <div style="position:absolute;left:350px;">
                    <input style="display:none" id="contentColorpicker" />
                </div>
            </td>
        </tr>
        <tr>
            <td id="toolsBox" rowspan="2" style="width: 28px;background-image: url(/_Content/Engine.Web/Content/Images/left1.png);vertical-align: top">
                <span class="tools textbox" title="متن"></span>
                <span class="tools picture" title="تصویر"></span>
                <span class="tools subreport" title="گزارش فرعی"></span>
                <span class="tools table" title="جدول"></span>
                <span class="tools checkbox" title="check box"></span>
                <span class="tools chart" title="نمودار"></span>
            </td>
            <td style="height:20px;text-align:center;width:158px;font-weight:bold;vertical-align:top">
                <span>پیکربندی باندها</span>
            </td>
            <td style="vertical-align: top;height:20px;">
                خط کش
            </td>
        </tr>
        <tr>
            <td colspan="2" style="vertical-align:top;">
                <table style="background-image: url(/_Content/Engine.Web/Content/Images/bondbackgrond.png);" id="bond" cellpadding="0" cellspacing="0"></table>
            </td>
        </tr>
    </table>
</div>
<label style="line-height:normal" id="lbl"></label>
<ul id="columnOperation" style="z-index:30000; display:none" class="jeegoocontext cm_default">
    <li id="_1">افزودن ستون در چپ</li>
    <li id="_2">افزودن ستون در راست</li>
    <li class="separator"></li>
    <li id="_3">حذف ستون</li>
</ul>
<ul id="rowOperation" style="z-index:30000; display:none" class="jeegoocontext cm_default">
    <li style="text-align:center;" id="_1">افزودن ردیف در بالا</li>
    <li style="text-align:center;" id="_2">افزودن ردیف در پایین</li>
    <li class="separator"></li>
    <li style="text-align:center;" id="_3">حذف ردیف</li>
</ul>
@switch (windowType)
{
    case ReportWindowType.Setting:
        <SettingWindowComponent @bind-Status="status" Setting="reportSetting" />
        break;
    case ReportWindowType.Text:
        <TextBoxWindowComponent @bind-Status="status" PrintParam="PrintParam" />
        break;
    case ReportWindowType.PictureBox:
        <PictureBoxWindowComponent @bind-Status="status" PrintParam="PrintParam" />
        break;
    case ReportWindowType.Formula:
        <FormulaWindowComponent @bind-Status="status" PrintParam="PrintParam" />
        break;
    case ReportWindowType.Subreport:
        <SubreportWindowComponent @bind-Status="status" GuId="@GuId" />
        break;
    case ReportWindowType.DigitsFormat:
        <DigitsFormatComponent @bind-Status="status" Param="PrintParam" />
        break;
    case ReportWindowType.ColumnWindow:
        <ColumnComponent @bind-Status="status" MinDataLevel="MinDataLevel" Bond="Bond" />
        break;
}
@code {

    [Parameter]
    public string GuId { get; set; }
}
