/*#toolsBox span {
    width: 35px;
    height: 34px;
    display: block;
    margin: 3px 0 3px 0;
    background-image: url('/_Content/Engine.Web/Content/Images/Toolsbox.png');
}*/
.c-dynamic-form-controls .t-dropdown-wrap {
    background-color: transparent !important;
    box-shadow:none!important;
}

    .c-dynamic-form-controls .t-dropdown-wrap .t-t-select {
        border: none !important;
    }
.c-add-control .c-title{
    display:inline-block;
    width:180px;
}
.c-add-control .fa-caret-left{
    color:gray;
}
.c-property-window .fa-save {
    font-size: 16px;
    color: darkgray;
    cursor: pointer;
}

.workflowzoom {
    background-position: -45px 0;
}
.zoomfit
{
    background-position:-90px 0;
}
.zoomback
{
    background-position:-134px 0;
}
.dynamicform
{
    background-position:-179px 0;
}

.datepicker-holder {
    border-radius: 10px;
    padding-right: 10px;
    z-index: 999;
}

.c-tools-bar {
    padding:2px 8px;
    display:flex;
    flex-wrap:wrap;
    height:55px;
}

.static-form .row {
    margin: 0;
}


.w-button {
    border-radius: 8px;
    height: 32px;
    border: 1px solid #a3a3a3;
    zoom: 0.8;
    margin: 0 10px;
}
    .w-row-down{
        background-position-x:-49px;
    }
.w-row-delete {
    background-position-x: -93px;
}

.w-innerrow-up {
    background-position-x: -523px;;
}

.w-innerrow-down {
    background-position-x: -478px;
}
.w-innerrow-delete {
    background-position-x: -433px;
}

.w-merge {
    background-position-x: -296px;
}
.main{
    width:100%!important;
}
.w-split {
    background-position-x: -340px;
}

.w-col-left {
    background-position-x: -151px;
}
.w-col-right {
    background-position-x: -195px;
}
.w-col-delete {
    background-position-x: -240px;
}
.w-button span {
    font-size: 15px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}
.w-ctr-delete {
    background-position-x: -201px;
    background-position-y: -63px;
}
.w-form-load {
    background-position-x: -201px;
    background-position-y: -63px;
}
.c-add-control {
    width: 209px;
    height: 0;
    padding-right: 8px;
    position: absolute;
}

.w-seprator {
    background-color:#E2E4E8;
    display: inline-block;
    height: 50px;
    width:2px;
}
.c-add-control ul {
    border: 1px solid #c5c5c5;
    margin-top: 3px;
    padding: 2px;
    z-index: 50;
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 8px 2px #6a6a6a;
}
.c-error-message{
    color:deeppink;
    width:80%;
    margin:10px auto;
    text-align:right;
    direction:rtl;
}
.c-selected .t-datepicker.t-state-disabled, .c-selected .t-datepicker.t-state-disabled .t-select {
    background-color: rgb(220, 239, 255) !important;
}

.c-add-control ul li {
    padding: 7px 2px;
    font-size: 13px;
}

    .c-add-control ul li:not(.c-selected):hover {
        background-color: #EBF1FB;
    }

.c-add-control .c-selected {
    background-color: #CFE8FC;
}

    .c-add-control .c-selected ul {
        position: absolute;
        width: 200px;
        margin: -30px 200px;
        min-height: 100px;
        box-shadow: 2px 2px 8px 2px #6a6a6a;
    }

.datepicker-holder input {
    width: inherit;
    font-size: 15px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 15px;
    background: #e5e2e2;
    direction: ltr;
    margin-top: 1.5px;
    margin-top: 20px;
}

.static-form .c-inner-row {
    border: 1px solid #b3b3b3;
    margin: 2px;
    border-radius: 2px;
}

.c-row-1 {
    height: 59px;
}

.c-row-2 {
    height: 160px;
}

.c-row-3 {
    height: 241px;
}

.c-row-4 {
    height: 322px;
}

.c-row-5 {
    height: 208px;
}

.c-row-6 {
    height: 250px;
}
.c-tools-bar .w-button {
    background-image: url(/_Content/Engine.web/Content/Workflow/Images/Icon2.png);
    width:50px;
    height:50px;
    vertical-align:top;
    margin-top:6px;
}
.w-controls-entity {
    background-position-x: -201px;
    background-position-y: -63px;
}
.c-dynamic-form-controls label{
    font-weight:bold;
    color:darkgray;
}
.static-form .c-item {
    border: 1px dashed #e0e0e0;
    min-height: 60px;
    padding: 0;
}

    .static-form .c-item .c-item {
        min-height: 60px;
    }

    .static-form .c-item.c-selected {
        background-color: #dcefff !important;
    }

    .c-dynamic-form-controls.c-selected .t-widget {
        background-color: #dcefff !important;
    }


legend {
    float: none;
    width: auto;
    padding: unset;
    margin: 0;
    margin-right:15px;
    font-size: 12px;
}

.c-dynamic-form-controls {
    margin: 5px;
}

.c-form-controls {
    border: 1px solid #d1d1d1;
    border-radius: 16px;
    padding: 2px 8px 8px 8px;
    margin: 10px;
    margin-top: 5px;
}

    .c-form-controls legend {
        color: darkgray;
        margin-right: 5px;
    }

    .c-form-controls input {
        background-color: transparent !important;
        cursor: default !important;
    }

    .c-form-controls textarea {
        background-color: white !important;
        cursor: default !important;
    }

    .c-form-controls .t-state-disabled .t-input {
        color: transparent !important;
    }
        .c-form-controls .t-dropdown .t-input {
            background-color: transparent;
            cursor: default;
        }

        .c-form-controls .t-dropdown .t-t-select {
            background-color: transparent;
            cursor: default !important;
        }

        .c-form-controls .t-dropdown .fa-caret-down {
            color: #d4d4d4 !important;
        }

        .c-form-controls .t-combobox .t-select {
            background-color: transparent;
            cursor: default !important;
        }

        .c-form-controls .t-combobox .fa-caret-down {
            color: #d4d4d4 !important;
        }

    .c-form-controls .t-datepicker {
        background-color: white;
        cursor: default !important;
    }

        .c-form-controls .t-datepicker .t-select {
            background-color: white;
            cursor: default !important;
        }

    .c-form-controls .t-timepicker {
        zoom: 1.15
    }

        .c-form-controls .t-timepicker .t-select {
            background-color: white;
            cursor: default !important;
        }

        .c-form-controls .t-timepicker .t-input {
            border-color: rgba(0, 0, 0, 0.1);
        }

.c-property-window {
    width: 230px;
    margin: 0;
    height: 100vh;
    border-left: 1px dashed #b200ff;
    padding:8px;
}
    .w-property-window >label{
        padding-right:8px;
    }
    .c-property-window.c-minimize {
        width: 60px;
    }
.c-form-designer {
    width: calc(100% - 230px);
    margin: 0;
    height: 100vh;
    overflow: hidden;
    border-right: 1px dashed #b200ff;
}
    .c-property-window .c-icons {
        display: flex;
        flex-wrap: nowrap;
        height: 50px;
        width:180px;
    }

    .c-property-window li{
        padding:0;
    }
    .c-property-window .c-category {
        padding:1px;
    }
   

    .c-property-window table {
        margin-right:10px;
    }
.c-property-window label{
    font-size:12px;
    font-weight:bold;
}

.c-property-window .fa-chevron-down {
    font-size: 15px;
    color: red;
}

    .c-property-window .c-icons div {
        display: table-cell;
        width: 33.33333333%;
        text-align: center;
        padding-top: 7px;
    }

        .c-property-window .c-icons span {
            border: 1px solid #a3a3a3;
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 8px;
            zoom: 0.8;
        }

.c-properties {
    border-top:1px solid gray;
    display:flex;
    height:calc(100vh - 51px);
    width:178px;
}

.c-workflow-pallete {
    border-right: 1px dashed #b200ff;
    width: 50px;
    overflow: hidden;
    padding-left: 8px;
}

.c-properties label{
    font-size:10px;
    white-space:nowrap;
    font-weight:bold;
}
.c-workflow{
    display:flex;
}
.c-workflow-designer {
    height: 100vh;
    width: calc(100% - 280px);
    box-sizing: border-box;
    border-right: 1px dashed #b200ff;
    border-left: 1px dashed #b200ff;
}
.c-workflow-designer canvas{
    border:none!important;
    z-index:9!important;
}

