.d-form {
    width: 550px;
    margin: 40px auto;
    text-align: center;
}
.data-form-container {
    border: 1px solid darkgray;
    border-radius: 12px;
    text-align:left;
}
.c-demo-description {
    font-size: 14px;
    color: #2c2c2c;
}
.c-demo-control {
    padding: 10px 3rem;
}
.d-panel-message {
    color: red;
}
.d-tabpanel-container {
    height: 70px
}
.c-categories {
    width: 150px;
    height: calc(100vh - 26px);
    border-left: 1px solid gray;
    box-sizing: border-box;
}

.fa-code, .fa-bar-chart {
    color: #636363 !important;
    font-size: 16px !important;
    padding-right: 5px;
}
    .c-categories ul{
        padding:0 ;
        font-size:14px;
        margin:0
    }
    .c-products {
        margin: 0 auto;
        width: calc(95% - 150px);
    }
.fa-male, .fa-female {
    color: #494949!important;
    font-size: 24px!important;
}
.c-continner-head {
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    background-color: #e8ebee;
    text-align:center
}
    .c-continner-head span {
        font-size: 18px;
        font-weight: bold;
        color: #9d2525;
    }
    .c-pdf-continner {
        overflow: hidden;
    }

    .c-pdf-continner iframe {
        margin: -125px -22px -22px -80px;
    }
    .c-categories .c-category {
        padding: 5px;
        cursor: pointer;
    }
    .c-categories .c-category:nth-child(2n+1) {
        background-color: #e2e6ee;
    }

.c-categories .c-selected {
    background-color: #5e8f8f50 !important;
}

.c-header {
    border: 1px solid #bdbdbd;
    margin: 5px;
    border-radius: 8px;
    padding: 10px 15px;
}
.c-body {
    border: 1px solid #bdbdbd;
    margin: 0 5px 5px 5px;
    height: calc(100vh - 127px);
    border-radius: 8px;
    overflow: auto;
    padding: 0 20px;
}
.fa-first-order {
    color: #007bff!important;
    font-size: 32px!important;
    cursor:pointer;
}

.d-head {
    width:95%;
    margin:10px auto!important;
}
    .d-head h3 {
        color: #565656;
        padding: 0;
        margin: 0
    }
.d-source-btn {
    text-align:center;
}
.d-body {
    width: 95%;
    margin: 0 auto
}
.d-control {
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.d-container {
    padding-left: 3% !important;
    padding-right: 3% !important;
}
    .d-container .row {
        padding: 0 30px;
        align-items: center;
    }
    .d-container .col-md-6, .d-container .col-md-12,
    .d-container .col-md-3, .d-container .col-md-9,
    .d-container .col-md-4, .d-container .col-md-8 {
        padding: 3px 0;
    }

.d-cascade hr {
    margin:35px;
    margin-top:10px;
}
.d-cascade .col-md-6, .d-cascade .col-md-12 {
    text-align: center
}
.d-window1 {
    color: #17a2b8;
}
.d-window2 {
    color: #28a745;
}
.d-window3 {
    color: #6c757d;
}

.t-rtl .d-tree-icon {
    padding-right: 8px;
}

.t-ltr .d-tree-icon {
    padding-left: 8px;
}

.d-tree-icon {
    vertical-align: -webkit-baseline-middle;
    cursor: pointer;
}

    .d-tree-icon .fa-plus {
        color: #0dcaf0 !important;

    }

    .d-tree-icon .fa {
        font-size: 18px !important;
    }
.d-tree-result {
    text-align: center;
    padding: 10px 0 3px 0
}

    .d-tree-result span {
        color: seagreen;
        font-weight: bold;
        font-size: 14px;
    }

.c-window-action {
    margin-top:10px;
    text-align:center;
}

.text-end {
    text-align: -webkit-right!important;
}

a::
.d-membership {
    text-align: center;
    color: #4f9995;
    font-weight: bold;
    font-size:13px;
}

.d-btn-container{
    text-align:center;
}
.d-btn-container button{
    margin:5px 0;
}
.c-icon-button.c-simple{
    width:33px!important;
    height:33px!important;
}
.c-icon-button .fa-minus{
    padding-top:0!important;
}
.c-icon-button .fa-plus{
    padding-top:0!important;
}

.c-content-main {
    /*background-color: #F3F6F9;*/
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: 1.875rem;
}
p {
    font-size: 1rem;
    text-indent: 2em;
    line-height: 1.75;
    font-family: 'Segoe UI';
    padding: 1.75rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid #E0E3E7;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.13), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.11);
    box-sizing: border-box;
    background-clip: padding-box;
    background-color: #FFFFFF;
}

.d-content {
    padding: 1.75rem;
    background-color:white;
}