.c-categories {
    width: 150px;
    height: calc(100vh - 26px);
    border-left: 1px solid gray;
    box-sizing: border-box;
}

.fa-code {
    color: #fff!important;
    font-size: 16px!important;
    padding-right:5px;
}
    .c-categories ul{
        padding:0 ;
        font-size:14px;
        margin:0
    }
    .c-products {
        margin: 0 auto;
        width: calc(95% - 150px);
    }
.fa-male, .fa-female {
    color: #494949!important;
    font-size: 24px!important;
}
.c-continner-head {
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    background-color: #e8ebee;
    text-align:center
}
    .c-continner-head span {
        font-size: 18px;
        font-weight: bold;
        color: #9d2525;
    }
    .c-pdf-continner {
        overflow: hidden;
    }

    .c-pdf-continner iframe {
        margin: -125px -22px -22px -80px;
    }
    .c-categories .c-category {
        padding: 5px;
        cursor: pointer;
    }
    .c-categories .c-category:nth-child(2n+1) {
        background-color: #e2e6ee;
    }

.c-categories .c-selected {
    background-color: #5e8f8f50 !important;
}

.c-header {
    border:1px solid gray;
    margin:5px;
    border-radius:8px;
    padding: 10px 15px;
}
.c-body {
    border: 1px solid gray;
    margin:0 5px 5px 5px;
    height:calc(100vh - 102px);
    border-radius:8px;
    overflow:auto;
}
.fa-first-order {
    color: #007bff!important;
    position: absolute;
    top: 38px;
    padding-right: 267px;
    font-size: 34px!important;
    cursor:pointer;
}

.d-head {
    width:95%;
    margin:10px auto!important;
}
    .d-head h3 {
        color: #565656;
        padding: 0;
        margin: 0
    }
.d-source-btn {
    text-align:center;
}
.d-body {
    width: 95%;
    margin: 0 auto
}
.d-control {
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.d-container {
    padding-left: 3% !important;
    padding-right: 3% !important;
}
    .d-container .row {
        padding: 0 30px;
        align-items: center;
    }
    .d-container .col-md-6{
        padding: 3px 0;
    }
    .d-container .col-md-12 {
        padding: 3px 0;
    }
    .d-center-align{
        text-align:center;
    }