@page "/Demo/UserManagement/RoleAccess/{RoleId:int}"
<p>

</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="p-3">
                <RoleAccessComponent MasterId="RoleId" SubSystem="SubSystemKind.Demo" />
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Razor">
            <Document FolderName="UserManagement" FileName="RoleAccess" />
        </TabPanelItem>
    </Tabs>
</TabPanel>


@code 
{
    [Parameter]
    public int RoleId { get; set; }
}
