@page "/Demo/UserManagement/Role"
<p>

</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="p-3">
                <RoleComponent SubSystemKind="SubSystemKind.Demo" />
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="UserManagement" FileName="Role" />
        </TabPanelItem>
    </Tabs>
</TabPanel>

@code 
{

}
