@page "/Demo/UserManagement/UserAccessTree/{UserId:int}"
<p>

</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="p-3">
                <UserAccessTreeComponent AccessUserId="UserId" SubSystem="SubSystemKind.Demo" />
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Razo">
            <Document FolderName="UserManagement" FileName="UserAccessTree" />
        </TabPanelItem>
    </Tabs>
</TabPanel>

@code 
{
    [Parameter]
    public int UserId { get; set; }
}
