@page "/Demo"
@inherits BasePage
@namespace Demo.Web.Pages
@{
    base.BuildRenderTree(__builder);
}
<div class="c-default-page">
    <div style="width:350px;margin:30px auto">
        <ComboBox TValue="int?" @bind-Value="id" TEntity="Country" TextExpression="t => t.Title" />
        <div style="padding-top:380px">
            <ComboBox TValue="int?" @bind-Value="id1" TEntity="City" TextExpression="t => t.Title" />
        </div>
    </div>
</div>
<div class="c-copy-right">
    <span class="c-icon"></span>
    <span class="c-title">
        تمامی حقوق معنوی این نرم افزار برای شرکت 
        <u><b>
            نگین رایان کاسپین
            </b>
        </u>
        محفوظ می باشد</span>
</div>
@code
{
    int? id;
    int? id1;
}
