@page "/Demo"
@inherits BasePage
@namespace Demo.Web.Pages
@using Caspian.Engine.Service;
@{
    base.BuildRenderTree(__builder);
}
<span>@value.ShortString()</span>
<Timepicker Disabled TValue="TimeSpan" Value="value" FromTime="fromTime" ToTime="toTime" />
<div style="height:400px;">

</div>


<div style="display:none" class="c-copy-right">
    <span class="c-icon"></span>
    <span class="c-title">
        تمامی حقوق معنوی این نرم افزار برای شرکت 
        <u><b>
            نگین رایان کاسپین
            </b>
        </u>
        محفوظ می باشد</span>
</div>
@code
{
    TimeSpan fromTime = new TimeSpan(5, 25, 0);
    TimeSpan toTime = new TimeSpan(15, 45, 0);
    TimeSpan value = new TimeSpan(8, 35, 0);
}

