@page "/Demo"
@inherits BasePage
@namespace Demo.Web.Pages
@{
    base.BuildRenderTree(__builder);
}
<div class="c-default-page">
    <div style="width:350px;margin:30px auto;padding:20px;background-color:white;">
        <DropdownList @bind-Value="type" DisableFunc="t => t < Model.OrderType.Tel" />
    </div>
    <div style="height:250px"></div>
    <div style="width:350px;margin:30px auto;padding:20px;background-color:white;">
        <DropdownList @bind-Value="type1" />
    </div>
</div>
<div class="c-copy-right">
    <span class="c-icon"></span>
    <span class="c-title">
        تمامی حقوق معنوی این نرم افزار برای شرکت 
        <u><b>
            نگین رایان کاسپین
            </b>
        </u>
        محفوظ می باشد</span>
</div>
@code
{
    DateTime date = DateTime.Now;
    int[] days = new int[42];

    protected override void OnInitialized()
    {
        for (int i = 0; i < days.Length; i++)
            days[i] = i + 1;
        base.OnInitialized();
    }

    Demo.Model.OrderType type;
    Demo.Model.OrderType? type1;
    int? id;
    int? id1;
}
