@page "/Demo"
@inherits BasePage
@namespace Demo.Web.Pages
@{
    base.BuildRenderTree(__builder);
}
<Window @bind-Status="status" Title="تست" Style="width:500px;height:350px">
    <Content>
        <span>سلام</span>
    </Content>
</Window>
<button @onclick="ToggelStatus">++</button>
<div class="c-copy-right">
    <span class="c-icon"></span>
    <span class="c-title">
        تمامی حقوق معنوی این نرم افزار برای شرکت 
        <u><b>
            نگین رایان کاسپین
            </b>
        </u>
        محفوظ می باشد</span>
</div>
@code
{
    WindowStatus status;

    void ToggelStatus()
    {
        if (status == WindowStatus.Open)
            status = WindowStatus.Close;
        else
            status = WindowStatus.Open;
    }
}
