@page "/Demo"
@inherits BasePage
@namespace Demo.Web.Pages
<div class="m-body">
    <div class="m-title">
        <span>Caspian Software Solution</span>
    </div>
    <div class="m-hiro-title">
        <span>Solutions that simplify software production</span>
    </div>
    <div class="m-content d-document">
        <p>Caspian is application service provider which is going to develop web and mobile applications for medium or large businesses. We have been using agile principles along with creativity as an essential approach to generate our product which enables all developers to leverage our product capabilities in order to quickly develop applications that will be changed frequently based on customer requirements. The most important achievements of our product are <b>productivity</b>, <b>agility</b>, <b>flexibility</b> and <b>maintainability</b>. </p>
    </div>
    <div class="m-links" style="display:none;">
        <div>
            <label>Github:</label>
            <a target="_blank" href="https://github.com/AliParhizkar/CaspianV1"> https://github.com/AliParhizkar/CaspianV1 </a>
        </div>
        <div>
            <label>Email:</label>
            <a target="_blank" href="mailto: a_parhizkar2002@yahoo.com">a_parhizkar2002@yahoo.com</a>
        </div>
        <div>
            <label>Linkedin:</label>
            <a target="_blank" href="https://www.linkedin.com/in/ali-parhizkar-92a1a87a">Linkedin</a>
        </div>
    </div>
</div>
@code
{

}

