@page "/Demo"
@inherits BasePage
@namespace Demo.Web.Pages
@{
    base.BuildRenderTree(__builder);
}
<span>@value</span>
<NumericTextBox @bind-Value="value" Total="8" NumberDigit="2" />

@code
{
    decimal value;
}

