@page "/Demo"
@inherits BasePage
@namespace Demo.Web.Pages
@{
    base.BuildRenderTree(__builder);
}
<h4>No Infrastructure, No Sustainable Development</h4>
<p>
    Robert Cecil Martin 
</p>
@code
{

}

