@page "/Demo"
@inherits BasePage
@namespace Demo.Web.Pages
@using Caspian.Engine.Service;
@{
    base.BuildRenderTree(__builder);
}
<h2>Agile (quick and efficient)</h2>
<p>
    In today's digital world, organizations constantly look for emerging technologies to be <b>more agile</b> and <b>responsive to changing</b> business needs. 
    One such emerging technology is <b>low-code development</b>, which has become increasingly popular and vital as it helps businesses <b>quickly and efficiently</b> create applications to meet their goals.
</p>
<h3>Low-code development</h3>
<p>

</p>
<h3>Low-code as infrastructure LCI</h3>
<div style="display:none" class="c-copy-right">
    <span class="c-icon"></span>
    <span class="c-title">
        تمامی حقوق معنوی این نرم افزار برای شرکت 
        <u><b>
            نگین رایان کاسپین
            </b>
        </u>
        محفوظ می باشد</span>
</div>
@code
{

}

