@page "/Demo"
@inherits BasePage
@namespace Demo.Web.Pages
@using Caspian.Engine.Service;
@{
    base.BuildRenderTree(__builder);
}

<Document FileName="CityService" />

<div style="display:none" class="c-copy-right">
    <span class="c-icon"></span>
    <span class="c-title">
        تمامی حقوق معنوی این نرم افزار برای شرکت 
        <u><b>
            نگین رایان کاسپین
            </b>
        </u>
        محفوظ می باشد</span>
</div>
@code
{

}

