@page "/Demo"
@inherits BasePage
@namespace Demo.Web.Pages
@using Caspian.Engine.Service;
@{
    base.BuildRenderTree(__builder);
}
<div style="padding:0" class="col-md-12 d-control">
    <div class="d-container">
        <div class="row">
            <div class="col-md-12">
                <div style="margin:0 auto">
                    <AutoCompleteTree @bind-Value="value">
                        <CTreeView TEntity="OrganUnit" TextFunc="t => t.Title"
                               ParentNodeFilterFunc="t => t.ParentOrganId == null"
                               FilterFunc="t => (!context.HasValue() || t.Title.StartsWith(context))"
                               style="width:350px;" />
                    </AutoCompleteTree>
                </div>
                <div style="height:450px;">

                </div>
                <div style="margin:0 auto">
                    <AutoCompleteTree @bind-Value="value">
                        <CTreeView TEntity="OrganUnit" TextFunc="t => t.Title"
                                   ParentNodeFilterFunc="t => t.ParentOrganId == null"
                                   FilterFunc="t => (!context.HasValue() || t.Title.StartsWith(context))"
                                   style="width:350px;" />
                    </AutoCompleteTree>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display:none" class="c-copy-right">
    <span class="c-icon"></span>
    <span class="c-title">
        تمامی حقوق معنوی این نرم افزار برای شرکت 
        <u><b>
            نگین رایان کاسپین
            </b>
        </u>
        محفوظ می باشد</span>
</div>
@code
{
    int value;
    int[] values;


}

