@page "/Demo"
@inherits BasePage
@namespace Demo.Web.Pages

<button @onclick="Test">Test</button>
@code
{
    void Test()
    {
        var qqq = new Context().Products.FirstOrDefault();
    }
    string color = "#57BD6D";
}

