@page "/Employment/City"
@page "/Employment/City/{ProvinceId:int}"
@namespace Employment.Web.Pages
@inherits SimplePage<City>
@{
    base.BuildRenderTree(__builder);
}
<div style="width:90%;margin:15px auto">
    <table style="width:90%;margin:0 auto">
        <tr>
            <td style="width:50px">
                <label>عنوان</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Title" />
            </td>
            @if (ProvinceId == null)
            {
                <td style="width:80px"></td>
                <td style="width:50px">
                    <label>استان</label>
                </td>
                <td>
                    <ComboBox TEntity="Province" TValue="int" @bind-Value="SearchData.ProvinceId" TextExpression="t => t.Title" />
                </td>
            }
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="City" Search="SearchData" ContentHeight="400" ConditionExpr="t => ProvinceId == null || t.ProvinceId == ProvinceId">
        <Columns Context="con">
            <GridColumn Field="t => t.Province.Title" Title="استان" />
            <GridColumn Field="t => t.Title"  />
            <GridCommandColumns/>
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="مشخصات شهرها" Style="width:450px" OnOpen="@OnWindowOpen">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(CityService)" />
                <table style="width:90%;margin:0 auto">
                    @if (ProvinceId == null)
                    {
                        <tr>
                            <td>
                                <label>استان</label>
                            </td>
                            <td>
                                <ComboBox TEntity="Province" TValue="int" @bind-Value="UpsertData.ProvinceId" TextExpression="t => t.Title" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <label>عنوان</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>
@code 
{
    [Parameter]
    public int? ProvinceId{ get; set; }

    void OnWindowOpen()
    {
        if (ProvinceId.HasValue)
            UpsertData.ProvinceId = ProvinceId.Value;
    }
}
