@page "/Employment/EmploymentOrderType"
@namespace Demo.Web.Pages
@inherits SimplePage<EmploymentOrderType>
@{
    base.BuildRenderTree(__builder);
   
}
<div style="width:90%;margin:15px auto">
    <table style="width:90%;margin:0 auto">
        <tr>
            <td style="width:50px">
                <label>عنوان</label>
            </td>
            <td style="width:50%">
                <StringTextBox @bind-Value="SearchData.Title" />
            </td>
            <td style="width:80px"></td>
            <td style="width:50px">
                <label>کد</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Code" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="EmploymentOrderType" Search="SearchData" ContentHeight="400">
        <Columns Context="con">
            <GridColumn Field="t => t.Title" />
            <GridColumn Field="t => t.Code" style="width:100px" />
            <GridCommandColumns/>
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="حکم غیرهیات علمی" Style="width:450px">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(EmploymentOrderTypeService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>عنوان</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>کد حکم</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Code" Style="direction:ltr" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>شرح</label>
                        </td>
                        <td>
                           <StringTextBox @bind-Value="UpsertData.Description" MultiLine Rows="8" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>
