@page "/Employment/Province"
@namespace Demo.Web.Pages
@inherits SimplePage<Province>
@{
    base.BuildRenderTree(__builder);

}
<div style="width:90%;margin:15px auto">
    <table style="width:90%;margin:0 auto">
        <tr>
            <td style="width:50px">
                <label>عنوان</label>
            </td>
            <td>
                <StringTextBox @bind-Value="SearchData.Title" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="Province" Search="SearchData" TableHeight="400">
        <Columns>
            <GridColumn Field="t => t.Title" />
            <GridColumn Title="شهرها" style="width:50px">
                <Template>
                    <IconButton Href='@($"/Employment/City/{context.Data.Id}")' IconType="IconType.Wpforms" />
                </Template>
            </GridColumn>
            <GridCommandColumns/>
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="مشخصات استانها" Style="width:450px">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(ProvinceService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>
                            <label>عنوان</label>
                        </td>
                        <td>
                            <StringTextBox @bind-Value="UpsertData.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>
