<div class="c-login">
    <span class="c-icon"></span>
    <div class="c-form">
        <form action="Account" method="post">
            <div class="c-container">
                <input type="text" name="userName" placeholder="نام کاربری..." />
            </div>
            <div class="c-container">
                <input type="password" name="password" placeholder="کلمه عبور..." />
            </div>
            <div class="c-action">
                <button>ورود</button>
            </div>
        </form>
    </div>

</div>
<span>@ViewBag.Message</span>