@page "/Test"
@inherits BasePage
@namespace Test.UI
@using Caspian.Engine;
@using Caspian.UI;
@using Demo.Model;
@using Demo.Service
@using Main.Model;
@using Stimulsoft.Report
@inject IHostEnvironment host
<button @onclick="TestReport">Report</button>
<InputFile />
<div>
    @message
</div>
@code
{
    MarkupString message;
    async Task TestReport()
    {
        await Task.Delay(1); 
        throw new NotImplementedException("dsaasdas");
    }
}
