@page "/counter"
@inherits BasePage
@using Caspian.Common
@using Caspian.UI
@using Demo.Model
@using Demo.Service
@using Main.Data.Test
@using Microsoft.Data.SqlClient
@using Microsoft.EntityFrameworkCore

<div style="width:90%;margin:0 auto">
    <StringTextBox @bind-Value="sqlCommand" MultiLine Rows="10" />
</div>

<button @onclick="Execute">Execute</button>

@code 
{
    string sqlCommand;
    public void Execute()
    {
        using var con = new SqlConnection(CS.Con);
        SqlCommand cmd = new SqlCommand(sqlCommand, con);
        con.Open();
        cmd.ExecuteNonQuery();
    }


}
