@page "/counter"
@inherits BasePage
@using Caspian.Common
@using Caspian.UI
@using Demo.Model
@using Demo.Service
@using Main.Data.Test
@using Microsoft.Data.SqlClient
@using Microsoft.EntityFrameworkCore
@using Caspian.Engine.CodeGenerator
<div class="c-content-main">
    <div style="width:500px;margin:100px auto">
        <Husband />
    </div>
</div>



@code 
{

}
