@page "/counter"
@inherits BasePage
@using Caspian.UI
@using Demo.Model
@using Demo.Service
@using Main.Data.Test

<CaspianForm Model="province" OnValidSubmit="t => ValidSubmit()" OnInvalidSubmit="inValidSubmit">
    <CaspianValidationValidator ValidatorType="typeof(ProvinceService)" />
    <StringTextBox @bind-Value="province.Title" />
    <button type="submit">submit</button>
</CaspianForm>

<button @onclick="UpdateModel">Update model</button>
<button @onclick="CreateModel">Create model</button>

@code 
{
    Province province;

    Task<bool> ValidSubmit()
    {
        return Task.FromResult(false);
    }

    void inValidSubmit()
    {

    }

    protected override void OnInitialized()
    {
        province = new Province();
        province.Id = 5;
        base.OnInitialized();
    }

    void UpdateModel()
    {
        
    }

    void CreateModel()
    {
        province = new Province();
        province.Id = 8;
    }
}
