@page "/counter"
@inherits BasePage
@using Caspian.UI
@using Demo.Model
@using Demo.Service
@using Main.Data.Test
<button @onclick="() => ValidateAsync()">Validate</button>

@code 
{
    void ValidateAsync()
    {
        using var scope = CreateScope();
        string str1 = scope.ServiceProvider.GetService<ITestService>().Id;
        string str2 = scope.ServiceProvider.GetService<ITestService>().Id;
        using var scope1 = CreateScope();
        string str3 = scope1.ServiceProvider.GetService<ITestService>().Id;
        string str4 = scope1.ServiceProvider.GetService<ITestService>().Id;
    }
}
