@page "/counter"
@inherits BasePage
@namespace Test.UI
@using Caspian.Common
@using Caspian.Engine;
@using Caspian.UI
@using Demo.Model
@using Demo.Service
@using Microsoft.Data.SqlClient
@using Microsoft.EntityFrameworkCore

<div @onmousedown="Click" @onmousedown:stopPropagation style="width:500px;height:500px;border:1px solid red;margin:0 auto">

</div>



@code 
{
    void Click(MouseEventArgs e)
    {
        
    }
}
