@using Caspian.UI
@using Demo.Model
@using Caspian.common
@using Demo.Service
@page "/"
@inherits BasePage
<div class="test">
    <a href="/Demo">Demo</a>
</div>
<div>
    <a href="/Employment">Employment</a>
</div>
<CaspianForm Model="city" OnValidSubmit="async t => await Valid(t)">
    <CaspianValidationValidator ValidatorType="typeof(CityService)" />
    <StringTextBox @ref="stringText" Required />
    <button>Click Me</button>
</CaspianForm>


 @code 
{
    StringTextBox stringText;

    City city = new City();
    int? provinceId;

    Task<bool> Valid(EditContext context)
    {
        return Task.FromResult(false);
    }

    protected override void OnInitialized()
    {
        city.ProvinceId = 2;
        city.Title = "sadasda";
        city.ActiveType = ActiveType.Enable;
        base.OnInitialized();
    }

    void LoadFileAsync()
    {
        stringText.Validate();
        StateHasChanged();
    }
}
