@using Caspian.UI
@using Demo.Model;
@using Microsoft.AspNetCore.Components.Rendering;
@using Microsoft.EntityFrameworkCore;
@using Serialize.Linq.Serializers
@using System.Linq.Expressions
@using Caspian.Common
@page "/"
<div>
    @Test
</div>

@code
{
    bool flag;
    static void Test(RenderTreeBuilder __builder)
    {
        <span>Test</span>
    }
}
