@using Caspian.UI
@using Demo.Model
@using Caspian.common
@page "/"
@inherits BasePage
<div class="test">
    <a href="/Demo">Demo</a>
</div>
<div>
    <a href="/Employment">Employment</a>
</div>

<button @onclick="async () => await LoadFileAsync()" >Click Me</button>

 @code 
{
    City city = new City();
    int? provinceId;

    async Task LoadFileAsync()
    {
        var fileContent = await File.ReadAllBytesAsync("C:\\Users\\Ali\\Desktop\\Book1.xlsx");
        await DownloadFile("a.xlsx", fileContent);
    }
}
