@using Caspian.UI
@using Demo.Model;
@using Microsoft.EntityFrameworkCore;
@using Serialize.Linq.Serializers
@using System.Linq.Expressions
@using Caspian.Common
@page "/"

    <div style="margin:100px;width:250px;position:relative">
        <div class="errorMessage">
            <span class="c-icon">
                <i class="fa fa-info" aria-hidden="true"></i>
            </span>
            <span class="c-content">Please specify the WarehouseId fd wefwerewr wer wer we rwer werwerwerwer werwe</span>
            <span class="c-pointer"></span>
        </div>
    </div>


@code
{
    City city = new City();
}
