@using Caspian.UI
@using Demo.Model
@using Caspian.common
@using Demo.Service
@page "/"
@inherits BasePage
@inject IJSRuntime jSRuntime
@{
    base.BuildRenderTree(__builder);
}
<div>
    <a href="/Login">Login</a>
</div>

 @code 
{

}
