@using Caspian.UI
@using Demo.Model
@page "/"
<div>
    <a href="/Demo">Demo</a>
</div>
<div>
    <a href="/Employment">Employment</a>
</div>
<CaspianForm Model=city
    OnInvalidSubmit="@(context => 
    {
        var q = context.GetValidationMessages(new FieldIdentifier(city, "Title")).FirstOrDefault();
    })"
    OnValidSubmit="@(async c => 
    {
        return false;
    })">
    <CaspianValidationValidator ValidatorType="typeof(Demo.Service.CityService)" />
    <StringTextBox @bind-Value="city.Title" />
    <button type="submit">ثبت</button>
</CaspianForm>


 @code 
{
    City city = new City();
    int? provinceId;
}
