@using Caspian.UI
@using Demo.Model
@using Caspian.common
@using Demo.Service
@using FluentValidation.Results
@page "/"
@inherits BasePage
@inject IJSRuntime jSRuntime
@{
    base.BuildRenderTree(__builder);
}
<a href="/Login">ورود</a>
 @code 
{

}
