@using Caspian.UI
@using Demo.Model
@using Caspian.common
@page "/"
<div>
    <a href="/Demo">Demo</a>
</div>
<div>
    <a href="/Employment">Employment</a>
</div>
    <DataGrid TEntity="Order">
        <Columns >
            <GridColumn TEntity="Order" Field="@(t => t.Customer.CustomerType)" Title="نوع مشتری" />
        </Columns>
    </DataGrid>


 @code 
{
    City city = new City();
    int? provinceId;
}
