@page "/Default"
<div>
    <a href="/Demo">Demo</a>
</div>
<div>
    <a href="/Employment">Employment</a>
</div>
<div>
    <a href="/Kartable">Kartable</a>
</div>
<div>
    <a href="/Payment">Payment</a>
</div>
@code 
{

}
