@namespace Caspian.Engine.Navigation

@inject IJSRuntime jSRuntime
@inject NavigationManager navigationManager
@inject IServiceScopeFactory ServiceScopeFactory
@inject SingletonMenuService SingletonMenuService

<div id="mainmenu">
    @if (Categories != null)
    {
        sholdRender = false;
        <ul class="accordion" id="accordion">
            @foreach (var category in Categories)
            {
                var menus = Menus.Where(t => t.MenuCategoryId == category.Id);
                if (menus.Any())
                {
                    <li class="default">
                        <div class="link">
                            <i class="fa @(category.IconFont)"></i>
                            <span>@category.Title</span>
                            <i class="c-icon1 fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            @foreach (var menu in menus)
                            {
                                <li>
                                    <a href="@(menu.Source)">@(menu.Title)</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    }
</div>
@code 
{
    bool sholdRender = true;
    protected override bool ShouldRender()
    {
        return sholdRender;
    }

    void NavigateTo(string source)
    {
        //var curentUrl = navigationManager.Uri.Substring(navigationManager.BaseUri.Length - 1);
        //var flag = curentUrl.StartsWith(source);
        navigationManager.NavigateTo(source.Substring(1));
    }
}
