@page "/Demo/City/{CountryId:int}"
@namespace Demo.Web.Pages
@inherits SimplePage<City>
@{
    base.BuildRenderTree(__builder);
}
<p>
    In this example we have the CountryId as the url parameter and use it to set the CountryId property of the city on form submit.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="row c-controls">
                <div class="col-md-3 ps-4 pt-4">
                    <label>Title</label>
                </div>
                <div class="col-md-6">
                    <StringTextBox @bind-Value="SearchData.Title" />
                </div>
            </div>
            <div class="p-4 pt-1">
                <DataGrid @ref="CrudGrid" TEntity="City" Search="SearchData" ConditionExpr="t => CountryId == 0 || t.CountryId == CountryId" TableHeight="350">
                    <Columns>
                        <GridColumn Field="t => t.Title" />
                        <GridColumn Field="t => t.ActiveType.EnumText()" />
                        <GridCommandColumns />
                    </Columns>
                </DataGrid>
            </div>
            <Window @ref="UpsertWindow" Title="City" Style="width:450px">
                <Content>
                    <CaspianForm @ref="UpsertForm" Model="UpsertData" OnSubmit="SetCountryId">
                        <div class="row c-controls ps-4 pe-4">
                            <div class="col-md-3">
                                <label>Title</label>
                            </div>
                            <div class="col-md-9">
                                <StringTextBox @bind-Value="UpsertData.Title" />
                            </div>
                            <div class="col-md-3">
                                <label>Status</label>
                            </div>
                            <div class="col-md-9">
                                <DropdownList @bind-Value="UpsertData.ActiveType" />
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <FormCommandButton />
                            </div>
                        </div>
                    </CaspianForm>
                </Content>
            </Window>
        </TabPanelItem>
    </Tabs>
</TabPanel>

@code
{
    void SetCountryId()
    {
        UpsertData.CountryId = CountryId;
    }

    [Parameter]
    public int CountryId { get; set; }
}
