@page "/Demo/City/{CountryId:int}"
@namespace Demo.Web.Pages
@inherits BasePage
@inject SimpleService<City> Service

@{
    base.BuildRenderTree(__builder);
}
<p>
    In this example we have the CountryId as the url parameter and use it to set the CountryId property of the city on form submit.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="row c-controls pt-3">
                <div class="col-md-3 ps-4">
                    <label>Title</label>
                </div>
                <div class="col-md-6">
                    <StringTextBox @bind-Value="Service.Search.Title" />
                </div>
            </div>
            <div class="p-4 pt-1">
                <DataGrid TEntity="City" Service="Service" ConditionExpr="t => t.CountryId == CountryId" ContentHeight="350">
                    <Columns>
                        <GridColumn Field="t => t.Title" />
                        <GridColumn Field="t => t.ActiveType.EnumText()" />
                        <GridCommandColumns />
                    </Columns>
                </DataGrid>
            </div>
            <Window Title="City" Style="width:450px">
                <CaspianForm Service="Service" OnSubmit="SetCountryId">
                    <div class="row c-controls ps-4 pe-4">
                        <div class="col-md-3">
                            <label>Title</label>
                        </div>
                        <div class="col-md-9">
                            <StringTextBox @bind-Value="Service.UpsertData.Title" />
                        </div>
                        <div class="col-md-3">
                            <label>Status</label>
                        </div>
                        <div class="col-md-9">
                            <DropdownList @bind-Value="Service.UpsertData.ActiveType" />
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <FormCommandButton />
                        </div>
                    </div>
                </CaspianForm>
            </Window>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="Crud" FileName="ParameterCrud2" />
        </TabPanelItem>
    </Tabs>
</TabPanel>

@code
{
    void SetCountryId()
    {
        Service.UpsertData.CountryId = CountryId;
    }

    [Parameter]
    public int CountryId { get; set; }
}
