@page "/Demo/DistributedCrud"
@namespace Demo.Web.Pages
@inherits BasePage
@inject SimpleService<Product> Service
@{
    base.BuildRenderTree(__builder);
}
<h2>Distributed CRUD</h2>
<p>
    In this example, the ProductCategoryId is updated outside of the form.
    <br />The advantage of this form is that we can set the product category once, and insert many products.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="row d-content">
                <div class="col-md-4 pt-5 pe-3">
                    <span class="c-demo-description">
                        We bind <b>ProductCategoryId</b> property of upsertProduct to combobox, the combobox is placed outside the form.
                    </span>
                </div>
                <div class="col-md-8">
                    <div class="c-controls c-header row align-items-center">
                        <div class="col-md-3 ps-2">
                            <label>Product Category</label>
                        </div>
                        <div class="col-md-9">
                            <ComboBox TEntity="ProductCategory" TValue="int?" @bind-Value="categoryId" TextExpression="t => t.Title" OnChanged="() => Service.DataView.EnableLoading()" />
                        </div>
                    </div>
                    <div class="c-body ps-3 pe-3">
                        @if (categoryId.HasValue)
                        {
                            <DataGrid TEntity="Product" Service="Service" ContentHeight="350"
                                      ConditionExpr="@(t => t.ProductCategoryId == categoryId)">
                                <Columns>
                                    <GridColumn Field="t => t.Title" />
                                    <GridColumn Field="t => t.ActiveType.EnumText()" />
                                    <GridColumn Field="t => t.Price.Seprate3Digit()" />
                                    <GridColumn Field="t => t.TakeoutPrice.Seprate3Digit()" />
                                    <GridCommandColumns />
                                </Columns>
                            </DataGrid>
                            <Window Service="Service" Title="Product" Style="width:500px;">
                                <CaspianForm Service="Service" OnSubmit="t => Service.UpsertData.ProductCategoryId = categoryId.Value">
                                    <div class="row c-controls ps-3 pe-3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Title</label>
                                            </div>
                                            <div class="col-md-8">
                                                <StringTextBox @bind-Value="Service.UpsertData.Title" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Price</label>
                                            </div>
                                            <div class="col-md-8">
                                                <NumericTextBox @bind-Value="Service.UpsertData.Price" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Take out price</label>
                                            </div>
                                            <div class="col-md-8">
                                                <NumericTextBox @bind-Value="Service.UpsertData.TakeoutPrice" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Meal</label>
                                            </div>
                                            <div class="col-md-8">
                                                <MultiSelectBox @bind-Value="Service.UpsertData.Meal" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Discountable</label>
                                            </div>
                                            <div class="col-md-8">
                                                <CheckBox @bind-Value="Service.UpsertData.Discountable" />
                                            </div>
                                            <div class="col-md-4">
                                                <label>Status</label>
                                            </div>
                                            <div class="col-md-8">
                                                <DropdownList @bind-Value="Service.UpsertData.ActiveType" />
                                            </div>
                                            <div class="col-md-12">
                                                <WindowCommandButtons />
                                            </div>
                                        </div>
                                    </div>
                                </CaspianForm>
                            </Window>
                        }
                    </div>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="Crud" FileName="DistributedCrud" />
        </TabPanelItem>
    </Tabs>
</TabPanel>
@code
{
    int? categoryId;
}
