@inherits BasePage
@inject SimpleService<Product> Service
@namespace Demo.Web.Pages
@{
    base.BuildRenderTree(__builder);
}
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="row pb-3 pe-3">
                <div class="col-md-5 pt-5 ps-3 pe-3">
                    <span class="c-demo-description">in this component we use CategoryId parameter in grid filtering and set category property of upsertProduct field on form submit.</span>
                </div>
                <div class="col-md-7">
                    <DataGrid TEntity="Product" Service="Service" ConditionExpr="@(t => t.ProductCategoryId == CategoryId)" ContentHeight="300">
                        <Columns>
                            <GridColumn Field="t => t.Title" />
                            <GridColumn Field="t => t.Price.Seprate3Digit()" />
                            <GridCommandColumns />
                        </Columns>
                    </DataGrid>
                    <Window Service="Service" Title="Product CRUD" Style="width:500px">
                        <CaspianForm Service="Service" OnSubmit="SetCategory">
                            <div class="row c-controls ps-4 pe-4">
                                <div class="col-md-4">
                                    <label>Title</label>
                                </div>
                                <div class="col-md-8">
                                    <StringTextBox @bind-Value="Service.UpsertData.Title" />
                                </div>
                                <div class="col-md-4">
                                    <label>Price</label>
                                </div>
                                <div class="col-md-8">
                                    <NumericTextBox @bind-Value="Service.UpsertData.Price" />
                                </div>
                                <div class="col-md-4">
                                    <label>Take out price</label>
                                </div>
                                <div class="col-md-8">
                                    <NumericTextBox @bind-Value="Service.UpsertData.TakeoutPrice" />
                                </div>
                                <div class="col-md-4">
                                    <label>Meal</label>
                                </div>
                                <div class="col-md-8">
                                    <MultiSelectBox @bind-Value="Service.UpsertData.Meal" />
                                </div>
                                <div class="col-md-4">
                                    <label>Status</label>
                                </div>
                                <div class="col-md-8">
                                    <DropdownList @bind-Value="Service.UpsertData.ActiveType" />
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-8 align-content-center">
                                    <FormCommandButton />
                                </div>
                            </div>
                        </CaspianForm>
                    </Window>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <div style="height:calc(100vh - 130px);overflow:auto">
                <Document FolderName="Crud" FileName="PopupCrud1" />
            </div>
        </TabPanelItem>
    </Tabs>
</TabPanel>
@code
{
    [Parameter]
    public int CategoryId { get; set; }

    void SetCategory()
    {
        Service.UpsertData.ProductCategoryId = CategoryId;
    }
}
