@page "/Employment/BaseStudyFactor"
@namespace Demo.Web.Pages
@inherits SimplePage<BaseStudyFactor>
@{
    base.BuildRenderTree(__builder);
}
<div style="width:90%;margin:5px auto">
    <table style="width:100%">
        <tr>
            <td>
                <label>پایه تحصیلی</label>
            </td>
            <td>
                <DropdownList @bind-Value="SearchData.BaseStudy" FilterFunc="t => t > BaseStudy.Diploma" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="BaseStudyFactor" Search="SearchData">
        <Columns>
            <GridColumn Field="t => t.BaseStudy.FaText()" />
            <GridColumn Field="t => t.Factor" />
            <GridCommandColumns/>
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="ضریب مدرک تحصیلی" Style="width:450px">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(BaseStudyFactorService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>پایه تحصیلی</td>
                        <td>
                            <DropdownList @bind-Value="UpsertData.BaseStudy" FilterFunc="t => t > BaseStudy.Diploma" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>ضریب مدرک تحصیلی</label>
                        </td>
                        <td>
                            <NumericTextBox @bind-Value="UpsertData.Factor" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{

}
