@page "/Employment/BaseNumber"
@namespace Demo.Web.Pages
@inherits SimplePage<BaseNumber>
@{
    base.BuildRenderTree(__builder);
}
<div class="ps-4 pe-4 pt-3">
    <div class="row ps-3 pe-3 c-controls">
        <div class="col-md-2">
            <label>پایه تحصیلی</label>
        </div>
        <div class="col-md-4 ps-4">
            <DropdownList @bind-Value="SearchData.BaseStudy" FilterFunc="t => t > BaseStudy.Diploma" />
        </div>
        <div class="col-md-2 pe-4">
            <label>رتبه</label>
        </div>
        <div class="col-md-4">
            <DropdownList @bind-Value="SearchData.BaseType" />
        </div>
    </div>
    <table style="width:100%">
        <tr>
            <td>
                
            </td>
            <td>
            </td>
            <td>
                
            </td>
            <td>
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="BaseNumber" Search="SearchData">
        <Columns>
            <GridColumn Field="t => t.BaseStudy.EnumText()" />
            <GridColumn Field="t => t.BaseType.EnumText()" />
            <GridColumn Field="t => t.Factor.Seprate3Digit()" />
            <GridCommandColumns/>
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="عدد مبناء" Style="width:450px">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(BaseNumberService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>پایه تحصیلی</td>
                        <td>
                            <DropdownList @bind-Value="UpsertData.BaseStudy" FilterFunc="t => t > BaseStudy.Diploma" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>پایه</label>
                        </td>
                        <td>
                            <DropdownList @bind-Value="UpsertData.BaseType" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>عدد مبناء</label>
                        </td>
                        <td>
                            <NumericTextBox @bind-Value="UpsertData.Factor" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{

}
