@page "/Employment/ExtraFactor"
@namespace Demo.Web.Pages
@inherits SimplePage<ExtraFactor>
@{
    base.BuildRenderTree(__builder);
}
<div style="width:90%;margin:5px auto">
    <table style="width:100%">
        <tr>
            <td>
                <label>رتبه</label>
            </td>
            <td>
                <DropdownList @bind-Value="SearchData.BaseType" />
            </td>
        </tr>
    </table>
    <DataGrid @ref="CrudGrid" TEntity="ExtraFactor" Search="SearchData">
        <Columns>
            <GridColumn Field="t => t.BaseType.EnumText()" />
            <GridColumn Field="t => t.Jobfactor" />
            <GridColumn Field="t => t.SwallowFactor" />
            <GridColumn Field="t => t.SpesialFactor" />
            <GridCommandColumns/>
        </Columns>
    </DataGrid>
    <Window @ref="UpsertWindow" Title="ضرایب فوق العاده ها" Style="width:450px">
        <Content>
            <CaspianForm @ref="UpsertForm" Model="UpsertData">
                <CaspianValidationValidator ValidatorType="typeof(ExtraFactorService)" />
                <table style="width:90%;margin:0 auto">
                    <tr>
                        <td>رتبه</td>
                        <td>
                            <DropdownList @bind-Value="UpsertData.BaseType" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>ضریب فوق العاده شغل</label>
                        </td>
                        <td>
                            <NumericTextBox @bind-Value="UpsertData.Jobfactor" NumberDigit="3" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>ضریب فوق العاده جذب</label>
                        </td>
                        <td>
                            <NumericTextBox @bind-Value="UpsertData.SwallowFactor" NumberDigit="3" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>ضریب فوق العاده ویژه</label>
                        </td>
                        <td>
                            <NumericTextBox @bind-Value="UpsertData.SpesialFactor" NumberDigit="3" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <FormCommandButton />
                        </td>
                    </tr>
                </table>
            </CaspianForm>
        </Content>
    </Window>
</div>

@code
{

}
