@namespace Caspian.UI
@inject IJSRuntime jsRuntime
<div @attributes="Attributes" class="c-picturebox">
    <span class="c-content" @ref="span">
        @(Data == null ? NoContentTitle : "")
    </span>
</div>
@code
{
    ElementReference span;

    [Parameter]
    public string NoContentTitle { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> Attributes { get; set; }

    [CascadingParameter(Name = "ParentForm")]
    internal ICaspianForm CaspianForm { get; set; }

    [Parameter]
    public byte[] Data { get; set; }

    [Parameter]
    public string ContentType{ get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (Data != null)
        {
            var dotnetImageStream = new DotNetStreamReference(new MemoryStream(Data));
            await jsRuntime.InvokeVoidAsync("$.caspian.bindImage", span, dotnetImageStream, ContentType);
        }
        else
            await jsRuntime.InvokeVoidAsync("$.caspian.bindImage", span, null);
        await base.OnAfterRenderAsync(firstRender);
    }
}
