@inherits LayoutComponentBase
@namespace Caspian.Engine.Shared

<div class="main">
    <div class="content">
        @if (HttpContext.Request.Path.StartsWithSegments("/Account/Login"))
        {
            @Body
        }
        else 
        {
            <CaspianExceptionComponent SystemKind="SubSystemKind.Engine" UserId="userId">
                @Body
            </CaspianExceptionComponent>
        }
    </div>
</div>


@code
{
    int userId;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (authenticationStateTask != null)
        {
            var result = await authenticationStateTask;
            if (result.User.Identity?.IsAuthenticated == true)
            {
                var claim = result.User.Claims.FirstOrDefault()?.Value;
                if (claim.HasValue())
                    userId = Convert.ToInt32(result.User.Claims.FirstOrDefault()?.Value);
            }
        }
        await base.OnParametersSetAsync();
    }
}
