@typeparam TValue
@inherits LookupWindow<Material, TValue>
@namespace Demo.Web.Pages
<div class="c-lookup-page" style="width:380px;">
    <DataGrid @ref="Grid" TEntity="Material" TableHeight="200" HidePageSize>
        <Columns>
            <GridColumn Field="t => t.Title" />
            <GridColumn Field="t => t.MainUnit.Title" Title="واحد اصلی" />
            <GridColumn Field="t => t.Subunit.Title" Title="واحد فرعی" />
        </Columns>
    </DataGrid>
</div>

@code
{
    protected override void OnInitialized()
    {
        InitialSearchExpression(t => LookupStringSearchValue == null || t.Title.Contains(LookupStringSearchValue));
        base.OnInitialized();
    }
}